@namespace sherpa url(http://www.technicalpursuit.com/2014/sherpa);
@namespace pclass url(urn:tibet:pseudoclass);
@namespace tibet url(http://www.technicalpursuit.com/1999/tibet);

sherpa|thumbnail {

    display: block;
    position: absolute;

    height: 100%;
    width: 100%;
}

sherpa|thumbnail > .header {

    position: absolute;

    top: 0;
    bottom: auto;
    left: 0;
    right: 0;

    height: 30px;

    border: 0;
    border-top: 1px solid white;
    border-top-left-radius: 5px;

    background-color: #eee;

    text-align: left;
}

sherpa|thumbnail > .header button {

    position: relative;

    top: 0px;

    margin: 0px;
    margin-left: .25em;
}

sherpa|thumbnail > .header > .trigger {

    position: absolute;

    top: 0;
    right: 12px;

    height: 19px;
    width: 24px;
    min-width: 0;

    margin: 4px auto;

    border: 1px solid #666;

    background-color: white;

    cursor: pointer;
}

sherpa|thumbnail > .header > .trigger:hover {

    background-color: gold;
}

sherpa|thumbnail > .header > .trigger > .one {

    position: relative;

    height: 5px;
    width: 5px;

    margin: 2px;

    border: 1px solid #666;

    background-color: #ddd;
}

sherpa|thumbnail > .header > .trigger > .two {

    position: relative;

    top: 0px;
    left: 10px;

    height: 5px;
    width: 5px;

    margin-top: -1px;

    border: 1px solid #666;

    background-color: #ddd;
}

sherpa|thumbnail > .header > .trigger > .three {

    position: relative;

    height: 5px;
    width: 5px;

    margin: 2px;
    margin-top: -7px;

    border: 1px solid #666;

    background-color: #ddd;
}

sherpa|thumbnail > .header > .content:hover > * {

    background-color: white;
}

sherpa|thumbnail > .header button.normalview {

    top: 3px;

    width: 24px;
    height: 24px;

    background-size: 24px 24px;
    background-position: -1px -1px;
    background-image: url(../media/normal_view_24px.svg);
}

sherpa|thumbnail > .header button.twocolview {

    top: 3px;

    width: 24px;
    height: 24px;

    background-size: 24px 24px;
    background-position: -1px -1px;
    background-image: url(../media/2_column_view_24px.svg);
}

sherpa|thumbnail > .header button.threecolview {

    top: 3px;

    width: 24px;
    height: 24px;

    background-size: 24px 24px;
    background-position: -1px -1px;
    background-image: url(../media/3_column_view_24px.svg);
}

sherpa|thumbnail > .content {

    position: absolute;

    top: 31px;
    bottom: 0;
    left: 0;
    right: 0;

    width: auto;
    min-width: 0;
    max-width: none;

    border-top: 1px solid #aaa;

    background-color: #eee;
}

sherpa|thumbnail > .content > .screen_info {

    position: absolute;

    top: 10px;
    right: 15px;
    height: 150px;

    width: 240px;

    text-align: left;
}

sherpa|thumbnail > .content > .screen_info input {

    margin: 0;
    width: 100%;
}

sherpa|thumbnail > .content > .world_controls {

    position: absolute;

    right: 10px;
    bottom: 10px;

    width: 280px;
}

sherpa|thumbnail > .content sherpa|worldthumbnails {
}

/* Rules that trigger when the corner is closed */

.framing.south.west.corner[pclass|closed] sherpa|thumbnail > .header > *:not(.trigger) {

    display: none;
}

.framing.south.west.corner[pclass|closed] sherpa|thumbnail > .content {

    display: none;
}

