@namespace tsh url("http://www.technicalpursuit.com/1999/tshell");
@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");
@namespace pclass url("urn:tibet:pseudoclass");

tsh|type_assistant {

    position: absolute;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    overflow: hidden;
}

tsh|type_assistant > .head {
}

tsh|type_assistant > .body {

    position: absolute;

    display: grid;

    grid-template-rows: 3em 2.5em 3em 3em 3em 3em;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "supertype_field_group typeinfo_field_group"
        "supertype_list typeinfo_field_group"
        "supertype_list typeinfo_field_group"
        "supertype_list typeinfo_field_group"
        "supertype_list typeinfo_field_group"
        "supertype_reset_button typeinfo_field_group";

    top: 0;
    right: 0;
    left: 0;
    bottom: 7em;

    text-align: left;
}

tsh|type_assistant > .body .supertypeFieldGroup {

    grid-area: supertype_field_group;

    position: absolute;
    display: flex;

    left: 5px;
    right: 5px;

    align-items: center;
}

tsh|type_assistant > .body .supertypeFieldGroup > label {

    font-weight: bold;
}

tsh|type_assistant > .body .supertypeFieldGroup > input {

    width: 100%;

    margin-left: 5px;
    margin-right: 0;
}

tsh|type_assistant > .body #type_assistant_SupertypeList {

    grid-area: supertype_list;

    position: absolute;

    top: 0;
    right: 5px;
    bottom: 0;
    left: 5px;

    width: auto;

    line-height: 1.5;
}

tsh|type_assistant > .body .supertypeResetButton {

    grid-area: supertype_reset_button;

    margin-left: 5px;

    align-self: center;
}

tsh|type_assistant > .body .typeInfoFieldGroup {

    grid-area: typeinfo_field_group;

    position: absolute;

    display: grid;

    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 6em 1fr;
    grid-template-areas:
        "dna_field_label dna_field_select"
        "rootns_field_label rootns_field_group"
        "typename_field_label typename_field_input"
        "packagename_field_label packagename_field_input"
        "configname_field_label configname_field_input"
        "directory_field_label directory_field_input";

    top: 0;
    right: 0;
    left: 5px;
    bottom: 0;

    align-items: center;
}

tsh|type_assistant > .body .typeInfoFieldGroup > input[type="text"],
tsh|type_assistant > .body .typeInfoFieldGroup > select {

    width: calc(100% - 1.5em);
}

tsh|type_assistant > .body .typeInfoFieldGroup > label {

    font-weight: bold;
}

tsh|type_assistant > .body .dnaFieldGroup {

    position: absolute;
    display: flex;

    left: 5px;
    right: 5px;

    align-items: center;
}

tsh|type_assistant > .body .typeInfoFieldGroup > label[for="type_assistant_DNASelect"] {

    grid-area: dna_field_label;

    font-weight: bold;
}

tsh|type_assistant > .body .typeInfoFieldGroup > select#type_assistant_DNASelect {

    grid-area: dna_field_select;

    width: calc(100% - 1em);

    margin-left: 5px;
    margin-right: 0;
}

tsh|type_assistant > .body .typeInfoFieldGroup > label[for="type_assistant_TopLevelNS"] {

    grid-area: rootns_field_label;

    font-weight: bold;
}

tsh|type_assistant > .body .typeInfoFieldGroup .nsRadios#type_assistant_TopLevelNS {

    grid-area: rootns_field_group;

    display: flex;

    margin: 0;
}

tsh|type_assistant > .body .typeInfoFieldGroup .nsRadios li {

    display: flex;

    align-items: center;

    margin-left: 5px;
}

tsh|type_assistant > .body .typeInfoFieldGroup .nsRadios li input {

    margin-right: 4px;
}

tsh|type_assistant > .body .typeInfoFieldGroup .nsRadios li label {

    margin-left: 0;
    margin-right: 4px;

    font-weight: normal;
}

tsh|type_assistant > .body .typeInfoFieldGroup > label[for="type_assistant_TypeNameField"] {

    grid-area: typename_field_label;
}

tsh|type_assistant > .body .typeInfoFieldGroup > input#type_assistant_TypeNameField {

    grid-area: typename_field_input;
}

tsh|type_assistant > .body .typeInfoFieldGroup > label[for="type_assistant_PackageNameField"] {

    grid-area: packagename_field_label;
}

tsh|type_assistant > .body .typeInfoFieldGroup > input#type_assistant_PackageNameField {

    grid-area: packagename_field_input;
}

tsh|type_assistant > .body .typeInfoFieldGroup > label[for="type_assistant_ConfigNameField"] {

    grid-area: configname_field_label;
}

tsh|type_assistant > .body .typeInfoFieldGroup > input#type_assistant_ConfigNameField {

    grid-area: configname_field_input;
}

tsh|type_assistant > .body .typeInfoFieldGroup > label[for="type_assistant_DirectoryField"] {

    grid-area: directory_field_label;
}

tsh|type_assistant > .body .typeInfoFieldGroup > input#type_assistant_DirectoryField {

    grid-area: directory_field_input;
}

tsh|type_assistant > .foot {

    position: absolute;

    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;

    height: 7em;
}

tsh|type_assistant > .foot #generatedCmdLine {

    display: inline-block;

    width: 90%;
    height: 3em;

    padding: 0 12px;
    margin: 0 20px;

    font-size: 100%;
    line-height: 1.2em;

    border: dotted 1px black;

    text-align: left;

    background-color: cornsilk;

    overflow: auto;
}
