@namespace tsh url("http://www.technicalpursuit.com/1999/tshell");
@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");
@namespace pclass url("urn:tibet:pseudoclass");

tsh|type_assistant {

    position: absolute;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

tsh|type_assistant > .head {
}

tsh|type_assistant > .body {

    display: grid;

    margin: 0 auto;

    grid-gap: 10px;
    grid-template-columns: 1fr 3fr;
}

tsh|type_assistant > .body .supertype_chooser {

    float: left;

    margin: 13px;
    margin-top: 43px;
}

xctrls|list#TypeAssistantSupertypes {

    width: 100%;
    height: 14em;

    overflow-y: auto;

    line-height: 1.5;
}

tsh|type_assistant > .body .new_type_details {

    float: right;
}

tsh|type_assistant > .body .new_type_details .flex_outer {

    margin-left: 0;
}

tsh|type_assistant > .body .new_type_details .flex_outer > li {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

tsh|type_assistant > .body .new_type_details .flex_outer > li > label {

    flex: 1 0 100px;

    max-width: 100px;
}

tsh|type_assistant > .body .new_type_details .flex_outer > li > label + * {

    flex: 1 0 100px;
}

tsh|type_assistant > .body .new_type_details .top_level_ns li {

    width: 100px;
}

tsh|type_assistant > .body ul.dna_radios {

    margin: 0;
}

tsh|type_assistant > .body ul.dna_radios > li {

    display: inline;

    white-space: nowrap;
}

tsh|type_assistant > .body ul.dna_radios > li > label {

    margin-left: 10px;
}

tsh|type_assistant > .body ul.dna_radios > li > label + * {

    vertical-align: middle;
}

tsh|type_assistant > .foot {

    margin-top: 1em;
}

tsh|type_assistant > .foot #generatedCmdLine {

    margin-bottom: 10px;
    margin-left: 10px;

    font-size: 100%;

    background-color: #f8f8f8;

    border: dashed 1px black;
}

