@namespace sherpa url("http://www.technicalpursuit.com/2014/sherpa");
@namespace pclass url("urn:tibet:pseudoclass");
@namespace tibet url("http://www.technicalpursuit.com/1999/tibet");

sherpa|notifier {

    display: none;
    position: absolute;

    top: 48px;
    right: 68px;
    left: 68px;

    height: 2em;

    margin-bottom: 4px;

    line-height: 2;

    border: 1px solid #666;
    border-radius: 5px;
    background-color: rgba(255, 215, 0, 0.5);

    /* This is situated between CONTEXT_MENU_TIER and DRAG_DROP_TIER, and
       *above* both edges */
    z-index: 29000;

    opacity: 0;
}

#background.edge-north-open sherpa|notifier {

    top: calc(var(--sherpa-drawer-north-open-height) + 5px + 16px);
}

/* When the west drawer is open */
#background.edge-west-open sherpa|notifier {

    margin-left: var(--sherpa-edge-west-open-margin);
}

/* When the west drawer is closed */
#background:not(.edge-west-open) sherpa|notifier {

    margin-left: 0;
}

/* When the east drawer is open */
#background.edge-east-open sherpa|notifier {

    margin-right: var(--sherpa-edge-east-open-margin);
}

/* When the east drawer is closed */
#background:not(.edge-east-open) sherpa|notifier {

    margin-right: 0;
}

sherpa|notifier > .content {

    margin-left: 2px;
    margin-right: 2px;

    border-radius: 5px;

    font-size: 12px;
    font-family: "Lucida Sans Typewriter", "Courier New", "Courier", monospace;

    text-align: center;
}

sherpa|notifier[pclass|active] {

    opacity: 1;
}

