@namespace sherpa url(http://www.technicalpursuit.com/2014/sherpa);
@namespace pclass url(urn:tibet:pseudoclass);
@namespace tibet url(http://www.technicalpursuit.com/1999/tibet);

sherpa|notifier {

    position: absolute;

    left: 190px;
    right: 136px;
    bottom: 0;

    height: 18px;

    margin-bottom: 4px;

    line-height: 18px;

    border: 1px solid #666;
    border-radius: 5px;
    background: #eee;
}

sherpa|notifier > .content {

    margin-left: 2px;
    margin-right: 2px;

    border-radius: 5px;

    font-size: 10px;
    font-family: "Lucida Sans Typewriter", "Courier New", Courier, monospace;
}

sherpa|notifier:not([pclass|active]) {

    transition: background-color 1s linear;
}

sherpa|notifier[pclass|active] {

    background-color: gold;
}

