/*
	CSS styles for the 'xctrls:radioitem' control.
*/

@import url('../xctrls_common.css');

@namespace xctrls url(http://www.technicalpursuit.com/2005/xcontrols);
@namespace tibet url(http://www.technicalpursuit.com/1999/tibet);
@namespace pclass url(urn:tibet:pseudoclass);

xctrls|radioitem
{
	display: inline;

	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

xctrls|radioitem > *[tibet|pelem="value"]
{
	display: inline-block;

	position: relative;
	top: 3px;

	width: 20px;
	height: 20px;

	background: url(xctrls_radioitem.gif) no-repeat;

	cursor: pointer;
}

/* Hovering over the radioitem */

xctrls|radioitem:hover
{
}

/* Focusing on the radioitem */

/* doesn't work in any browser:
xctrls|radioitem:focus
*/
xctrls|radioitem[pclass|focus]
{
}

/* Clicking down on the radioitem */

/* doesn't work in IE9:
xctrls|radioitem:active::value
*/
xctrls|radioitem[pclass|active] > *[tibet|pelem="value"]
{
	background-position: 0 -25px;
}

xctrls|radioitem[pclass|active][pclass|checked] > *[tibet|pelem="value"]
{
	background-position: 0 -75px;
}

/* The radioitem is disabled */

/* doesn't work in any browser:
xctrls|radioitem:disabled
*/
xctrls|radioitem[pclass|disabled] > *[tibet|pelem="value"]
{
	opacity: 0.5;

	cursor: default;
}

xctrls|radioitem[pclass|disabled][pclass|active] > *[tibet|pelem="value"]
{
	background-position: 0 0;
}

xctrls|radioitem[pclass|disabled][pclass|active][pclass|checked] > *[tibet|pelem="value"]
{
	background-position: 0 -50px;
}

/* The radioitem is checked */

/* doesn't work in any browser:
xctrls|radioitem:checked
*/
xctrls|radioitem[pclass|checked] > *[tibet|pelem="value"]
{
	background-position: 0 -50px;
}

xctrls|radioitem > xctrls|label
{
}

/* Clicking down on the radioitem, label must highlight */

/* doesn't work in IE9:
xctrls|radioitem:active > xctrls|label
*/
xctrls|radioitem[pclass|active]:not([pclass|disabled]) > xctrls|label
{
	color: red;
}

xctrls|radioitem[pclass|active][pclass|checked]:not([pclass|disabled]) > xctrls|label
{
	color: green;
}

/* The radioitem is disabled, so is the label */

/* doesn't work in any browser:
xctrls|radioitem:disabled > xctrls|label
*/
xctrls|radioitem[pclass|disabled] > xctrls|label
{
	opacity: 0.5;

	cursor: default;
}

/* Any hint that goes along with the radioitem  */

xctrls|radioitem > xctrls|hint
{
	display: inline-block;

	padding: 1px 1px 0px 0px;

	font-size: 10px;
	white-space: normal;

	vertical-align: text-top;
	clear: both;
}

