/*
    CSS styles for 'xctrls:dialog' controls.
*/

@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");
@namespace pclass url("urn:tibet:pseudoclass");
@namespace tibet url("http://www.technicalpursuit.com/1999/tibet");

/* The dialog */

xctrls|dialog {

    position: absolute;

    max-width: 600px;
    max-height: 370px;

    user-select: none;

    overflow: hidden;

    /* Hovering over the dialog */

    &:hover {
    }

    /* Focusing on the dialog */

    /* doesn't work in any browser:
    &:focus
    */
    &[pclass|focus] {
    }

    /* The dialog header */

    & > *[tibet|pelem="header"] {

        position: absolute;
    }

    /* The dialog body */

    & > *[tibet|pelem="body"] {

        position: absolute;

        overflow: hidden;
    }

    /* The dialog footer */

    & > *[tibet|pelem="footer"] {

        position: absolute;
    }

    & .dialogContent {

        display: flex;
        justify-content: center;

        height: 100%;

        flex-wrap: wrap;
    }

    & .dialogMessage {

        display: flex;
        justify-content: center;
        align-self: center;

        width: 100%;
    }

    & .dialogMessage > * {

        width: 100%;

        white-space: pre-wrap;
    }

    & .choiceContent {

        text-align: left;
    }

    & .choiceContent > label {

        display: inline-block;
        height: 1.35em;

        margin-left: 2px;

        vertical-align: text-bottom;
    }

    & .choiceContent > label[for="overrideField"] {

        height: 1.15em;
    }

    & .choiceContent > select {

        margin-left: 1.7em;
    }

    & .choiceContent > input[type="checkbox"],
    & .choiceContent > input[type="radio"] {

        margin-left: 1.7em;
    }

    & .choiceContent > select[multiple] {

        height: 6.25em;
        line-height: 1.5em;

        padding: 0;
    }

    & .dialogControls {

        display: flex;
        justify-content: center;
        align-self: flex-end;

        margin-bottom: 12px;

        width: 100%;

        & > button {
            min-width: 5em;
        }
    }
}
