/*
    CSS styles for 'xctrls:dialog' controls.
*/

@namespace url("http://www.w3.org/1999/xhtml");
@namespace svg url("http://www.w3.org/2000/svg");
@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");
@namespace pclass url("urn:tibet:pseudoclass");
@namespace tibet url("http://www.technicalpursuit.com/1999/tibet");

/* The dialog (outer edge-to-edge container) */
xctrls|dialog {

    --xctrls-dialog-valign: center; /* flexbox justify-content values */

    display: flex;
    position: fixed;
    top: 0;

    width: 100vw;
    height: 100vh;

    align-items: center;
    justify-content: var(--xctrls-dialog-valign);
}

/* The dialog content (visible dialog content) */
xctrls|dialog > xctrls|content {
    display: flex;
    flex-direction: column;
}

/* Hovering over the dialog */
xctrls|dialog > xctrls|content:hover {

}

/* Focusing on the dialog */
xctrls|dialog > xctrls|content[pclass|focus] {

}

/* The dialog header */
xctrls|dialog > xctrls|content > div[tibet|pelem="header"] {
    display: flex;
    height: var(--xctrls-dialog-header-height);

    justify-content: center;
    align-items: center;
}

xctrls|dialog > xctrls|content > div[tibet|pelem="header"] span.msg {
    flex: 1;
}

xctrls|dialog > xctrls|content > div[tibet|pelem="header"] svg|svg {
    height: var(--xctrls-dialog-header-height);
}

xctrls|dialog > xctrls|content > div[tibet|pelem="header"] svg|svg svg|path[class~="main"] {

}

/* The dialog body */
xctrls|dialog > xctrls|content > div[tibet|pelem="body"] {
    flex: 1;
    overflow: hidden;
}

/* The dialog footer */
xctrls|dialog > xctrls|content > div[tibet|pelem="footer"] {
    height: var(--xctrls-dialog-footer-height);
}

xctrls|dialog > xctrls|content .dialogContent {

}

xctrls|dialog > xctrls|content .dialogMessage {

    display: flex;
    justify-content: center;

    align-self: center;

    width: 100%;
}

xctrls|dialog > xctrls|content .dialogMessage > * {

    width: 100%;

    white-space: pre-wrap;
    overflow-wrap: break-word;
}

xctrls|dialog > xctrls|content .dialogChoices {

    text-align: left;
}

xctrls|dialog > xctrls|content .dialogChoices > label {

    display: inline-block;
    height: 1.35em;

    margin-left: 2px;

    vertical-align: text-bottom;
}

xctrls|dialog > xctrls|content .dialogChoices > label[for="overrideField"] {

    height: 1.15em;
}

xctrls|dialog > xctrls|content .dialogChoices > input[type="checkbox"],
xctrls|dialog > xctrls|content .dialogChoices > input[type="radio"] {

    margin-left: 1.7em;
}

xctrls|dialog > xctrls|content .dialogChoices > select[multiple] {

    height: 6.25em;
    line-height: 1.5em;

    padding: 0;
}

xctrls|dialog > xctrls|content .dialogControls {

    display: flex;
    justify-content: center;
    align-self: flex-end;

    margin-bottom: 12px;

    width: 100%;
}

xctrls|dialog > xctrls|content .dialogControls > button {

    min-width: 5em;
}
