@namespace sherpa url("http://www.technicalpursuit.com/2014/sherpa");
@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");
@namespace pclass url("urn:tibet:pseudoclass");

sherpa|couchViewURIInsertionAssistant {

    position: absolute;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

sherpa|couchViewURIInsertionAssistant > .head {
}

sherpa|couchViewURIInsertionAssistant > .body {

    margin-left: 10px;

    text-align: left;
}

sherpa|couchViewURIInsertionAssistant > .body > #couchViewURIAssistant_Schema {

    width: 80%;
    height: 185px;

    margin-top: 20px;
}

sherpa|couchViewURIInsertionAssistant > .body > label[for="couchViewURIAssistant_Schema"] {

    position: relative;
    top: -92px;
}

sherpa|couchViewURIInsertionAssistant > .body > #couchViewURIAssistant_Schemafile {

    margin: 13px;
}

sherpa|couchViewURIInsertionAssistant > .body .insertion_details {

    width: 100%;
}

sherpa|couchViewURIInsertionAssistant > .body .insertion_details .flex_outer {
    margin: 0;
}

sherpa|couchViewURIInsertionAssistant > .body .insertion_details .flex_outer li,
.flex-inner {

    position: relative;

    display: flex;
    flex-wrap: wrap;
    align-items: center;

    min-height: 2em;
}

sherpa|couchViewURIInsertionAssistant > .body .insertion_details .flex_outer > li > label {
    margin: 12px;
}

sherpa|couchViewURIInsertionAssistant > .body .insertion_details .flex_outer > li > label + *,
.flex_inner {
    margin: 0 22px 0 12px;
}

sherpa|couchViewURIInsertionAssistant > .body .insertion_details .flex_inner {

    justify-content: space-between;
}

sherpa|couchViewURIInsertionAssistant > .body .insertion_details .flex_inner li {

}

sherpa|couchViewURIInsertionAssistant > .foot {

}

sherpa|couchViewURIInsertionAssistant > .body .insertion_details input[type="text"] {
    width: 50em;
}

sherpa|couchViewURIInsertionAssistant > .body .insertion_details input {

    margin-left: 10px;
}

sherpa|couchViewURIInsertionAssistant > .body .insertion_details input:first-child {

    margin-left: 0;
}

sherpa|couchViewURIInsertionAssistant > .body .insertion_details input:checked + label {
    font-weight: normal;
}

#couchViewURIInsertionAssistant_InsertionBreadcrumb {

    position: relative;
    display: block;

    top: 0;
}

#couchViewURIInsertionAssistant_InsertionBreadcrumb > .content div.item {

    color: black;
}
