@namespace sherpa url("http://www.technicalpursuit.com/2014/sherpa");
@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");
@namespace pclass url("urn:tibet:pseudoclass");

sherpa|couchViewURIInsertionAssistant {

    position: absolute;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

sherpa|couchViewURIInsertionAssistant > .head {
}

sherpa|couchViewURIInsertionAssistant > .body {

    position: absolute;
    display: grid;

    grid-template-rows: 2em 2em 2em 2em 2em 2em;
    grid-template-areas:
        "insertion_point_group"
        "insertion_position_group"
        "remote_url_field_label"
        "remote_url_field_wrapper"
        "local_url_field_label"
        "local_url_field_wrapper"
        "generate_detail_group";

    top: 0;
    left: 0;
    right: 0;
    bottom: 3em;

    text-align: left;
}

sherpa|couchViewURIInsertionAssistant > .body .insertionPointGroup {

    grid-area: insertion_point_group;

    position: absolute;
    display: flex;

    left: 5px;
    right: 5px;

    align-items: center;
}

sherpa|couchViewURIInsertionAssistant > .body .insertionPointGroup label {

    font-weight: bold;

    margin-top: 5px;
}

sherpa|couchViewURIInsertionAssistant > .body #couchViewURIInsertionAssistant_InsertionBreadcrumb {

    position: relative;

    display: block;

    top: 5px;
    left: 5px;
}

sherpa|couchViewURIInsertionAssistant > .body #couchViewURIInsertionAssistant_InsertionBreadcrumb > .content div.item {

    color: black;
}

sherpa|couchViewURIInsertionAssistant > .body .insertionPositionGroup {

    grid-area: insertion_position_group;

    position: absolute;
    display: flex;

    left: 5px;
    right: 5px;

    align-items: center;
}

sherpa|couchViewURIInsertionAssistant > .body .insertionPositionGroup label {

    font-weight: bold;
}

sherpa|couchViewURIInsertionAssistant > .body .insertionPositionGroup .insertionRadios {

    display: flex;

    margin: 0;
}

sherpa|couchViewURIInsertionAssistant > .body .insertionPositionGroup .insertionRadios li {

    display: flex;

    align-items: center;

    margin-left: 5px;
}

sherpa|couchViewURIInsertionAssistant > .body .insertionPositionGroup .insertionRadios li input {

    margin-right: 4px;
}

sherpa|couchViewURIInsertionAssistant > .body .insertionPositionGroup .insertionRadios li label {

    margin-left: 0;
    margin-right: 4px;

    font-weight: normal;
}

sherpa|couchViewURIInsertionAssistant > .body .remoteURLFieldLabel {

    grid-area: remote_url_field_label;

    position: absolute;

    top: 5px;
    left: 5px;

    font-weight: bold;
}

sherpa|couchViewURIInsertionAssistant > .body .remoteURLFieldWrapper {

    grid-area: remote_url_field_wrapper;

    position: absolute;

    top: 0;
    right: 5px;
    bottom: 5px;
    left: 5px;
}

sherpa|couchViewURIInsertionAssistant > .body .remoteURLFieldWrapper > input {

    width: 100%;
    height: 100%;

    margin: 0;

    box-sizing: border-box;
}

sherpa|couchViewURIInsertionAssistant > .body .localURLFieldLabel {

    grid-area: local_url_field_label;

    position: absolute;

    top: 5px;
    left: 5px;

    font-weight: bold;
}

sherpa|couchViewURIInsertionAssistant > .body .localURLFieldWrapper {

    grid-area: local_url_field_wrapper;

    position: absolute;

    top: 0;
    right: 5px;
    bottom: 5px;
    left: 5px;
}

sherpa|couchViewURIInsertionAssistant > .body .localURLFieldWrapper > input {

    width: 100%;
    height: 100%;

    margin: 0;

    box-sizing: border-box;
}

sherpa|couchViewURIInsertionAssistant > .body .generateDetailGroup {

    grid-area: generate_detail_group;

    position: absolute;
    display: flex;

    left: 5px;
    right: 5px;

    align-items: center;
}

sherpa|couchViewURIInsertionAssistant > .body .generateDetailGroup label {

    font-weight: bold;
}

sherpa|couchViewURIInsertionAssistant > .foot {

    position: absolute;

    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;

    height: 3em;
}
