<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

<title>{{appname}}</title>
<link rel="shortcut icon" href="/media/favicon.ico" type="image/x-icon"/>
<link rel="icon" href="/media/favicon.ico" type="image/x-icon"/>

<style type="text/css">
html,body,iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
}
</style>
</head>
<body onload="init()">

<iframe id="UIROOT" frameborder="0"
    src="/TIBET-INF/boot/xhtml/blank.xhtml"></iframe>

\{{#if parallel}}
<!-- Direct splash/boot page to the login route when parallel booting. -->
<iframe id="UIBOOT" frameborder="0" src="/login"></iframe>
\{{else}}
<!-- Use default progress display when not using parallel booting. -->
<iframe id="UIBOOT" frameborder="0"
    src="/TIBET-INF/boot/xhtml/UIBOOT.xhtml"></iframe>
\{{/if}}

<script src="/TIBET-INF/tibet/lib/src/tibet_loader.min.js"></script>

<script>
//<![CDATA[
function init() {
    if (window['TP'] && TP.boot) {

        \{{#if parallel}}
            //  If parallel booting we leave tibet.json values intact.
            TP.boot.launch();
        \{{else}}
            //  Force parallel off from server side to support reload.
            TP.boot.launch({boot: { parallel: false}});
        \{{/if}}
        return;
    }

    //  If TP isn't real it means tibet_loader wasn't found. Try to notify about
    //  that in a reasonable fashion so the UI doesn't just look hung.
    if (top.UIBOOT && top.UIBOOT.contentDocument) {
        top.UIBOOT.contentDocument.getElementById('BOOT-IMAGE').src =
            '/TIBET-INF/boot/media/alert.png'
        top.UIBOOT.contentDocument.getElementById('BOOT-SUBHEAD').innerHTML =
            'Error loading. Was the project initialized via `tibet init`?'
    }
}
//]]>
</script>
</body>
</html>
