@namespace sherpa url("http://www.technicalpursuit.com/2014/sherpa");
@namespace pclass url("urn:tibet:pseudoclass");
@namespace tibet url("http://www.technicalpursuit.com/1999/tibet");

.sherpa-outliner {

    --sherpa-outliner-rotate-X: 0deg;
    --sherpa-outliner-rotate-Y: 0deg;
    --sherpa-outliner-scale: 0;

    --sherpa-outliner-distance-Z: 50;

    transform-style: preserve-3d;

    outline: dashed 1px darkgray;

    overflow: visible !important;

    transform: rotateX(var(--sherpa-outliner-rotate-X)) rotateY(var(--sherpa-outliner-rotate-Y)) scale(var(--sherpa-outliner-scale));
}

.sherpa-outliner > * {

    /* Need to force opacity, or otherwise 'extrusion' won't work. See:
     * https://bugs.chromium.org/p/chromium/issues/detail?id=646993
     */
    opacity: 1 !important;
}

.sherpa-outliner * {

    transform-style: preserve-3d;

    transform: translateZ(var(--sherpa-outliner-distance-Z) px);
}

.sherpa-outliner *.sherpa-outliner-overflowed,
.sherpa-outliner *[class~="sherpa-outliner-overflowed"] {

    overflow: visible !important;
}

.sherpa-outliner *.sherpa-outliner-containingblock {

    outline-style: solid;
}

.sherpa-outliner::before,
.sherpa-outliner *::before {

    position: inherit;

    font-family: "Lucida Sans", "Lucida Grande", "Verdana", "Arial", sans-serif;
    font-size: 10px;

    content: attr(sherpa_outliner-tagname);

    min-width: 2em;
    min-height: 1em;

    text-align: center;

    color: black;
    background-color: lightgray;
}

.sherpa-outliner:not(.sherpa-outliner-haloed),
.sherpa-outliner:not([class~="sherpa-outliner-haloed"]),
.sherpa-outliner *:not(.sherpa-outliner-haloed),
.sherpa-outliner *:not([class~="sherpa-outliner-haloed"]) {

    outline: dashed 1px lightgray;
}

.sherpa-outliner.sherpa-outliner-haloed,
.sherpa-outliner[class~="sherpa-outliner-haloed"],
.sherpa-outliner *.sherpa-outliner-haloed,
.sherpa-outliner *[class~="sherpa-outliner-haloed"] {

    outline: dashed 1px black;
}

.sherpa-outliner.sherpa-outliner-droptarget,
.sherpa-outliner[class~="sherpa-outliner-droptarget"],
.sherpa-outliner .sherpa-outliner-droptarget,
.sherpa-outliner *|*[class~="sherpa-outliner-droptarget"] {

    outline: solid 2px black;
}
