@namespace sherpa url("http://www.technicalpursuit.com/2014/sherpa");
@namespace pclass url("urn:tibet:pseudoclass");
@namespace tibet url("http://www.technicalpursuit.com/1999/tibet");

.sherpa-outliner {

    transform-style: preserve-3d;

    outline: dashed 1px blue;

    overflow: visible;
}

.sherpa-outliner > * {

    /* Need to force opacity, or otherwise 'extrusion' won't work. See:
     * https://bugs.chromium.org/p/chromium/issues/detail?id=646993
     */
    opacity: 1 !important;
}

.sherpa-outliner * {

    transform: translate3d(0, 0, 50px);
    transform-style: preserve-3d;

    outline: dashed 1px red;

    background-color: white;

    overflow: visible !important;
}

.sherpa-outliner b,
.sherpa-outliner big,
.sherpa-outliner i,
.sherpa-outliner small,
.sherpa-outliner tt,
.sherpa-outliner abbr,
.sherpa-outliner acronym,
.sherpa-outliner cite,
.sherpa-outliner code,
.sherpa-outliner dfn,
.sherpa-outliner em,
.sherpa-outliner kbd,
.sherpa-outliner strong,
.sherpa-outliner samp,
.sherpa-outliner var,
.sherpa-outliner a,
.sherpa-outliner bdo,
.sherpa-outliner br,
.sherpa-outliner img,
.sherpa-outliner map,
.sherpa-outliner object,
.sherpa-outliner q,
.sherpa-outliner script,
.sherpa-outliner span,
.sherpa-outliner sub,
.sherpa-outliner sup,
.sherpa-outliner button,
.sherpa-outliner input,
.sherpa-outliner label,
.sherpa-outliner select,
.sherpa-outliner textarea {

    display: inline-block !important;
}

.sherpa-outliner *.sherpa-outliner-containingblock {

    outline-style: solid;
}

.sherpa-outliner:not(.sherpa-outliner-haloed)::before,
.sherpa-outliner:not([class~="sherpa-outliner-haloed"])::before,
.sherpa-outliner *:not(.sherpa-outliner-haloed)::before,
.sherpa-outliner *:not([class~="sherpa-outliner-haloed"])::before {

    position: absolute;

    font-size: 0.75rem;

    content: attr(sherpa-outliner-tagname);

    min-width: 2em;

    text-align: center;

    color: white;

    background-color: red;
}

.sherpa-outliner:not(.sherpa-outliner-haloed)::before,
.sherpa-outliner:not([class~="sherpa-outliner-haloed"])::before {

    background-color: blue;
}

/* The following rules selectors both for highlighting the current outliner target itself as the haloed element and highlighting a descendant of the current outliner target as the haloed element. These rules apply both to XHTML (where the . class shorthand can be used) and non-XHTML custom elements */

.sherpa-outliner.sherpa-outliner-haloed,
.sherpa-outliner[class~="sherpa-outliner-haloed"],
.sherpa-outliner .sherpa-outliner-haloed,
.sherpa-outliner *|*[class~="sherpa-outliner-haloed"] {

    outline-style: solid;
    outline-color: black;
}

.sherpa-outliner.sherpa-outliner-haloed::before,
.sherpa-outliner[class~="sherpa-outliner-haloed"]::before,
.sherpa-outliner.sherpa-outliner-haloed::after,
.sherpa-outliner[class~="sherpa-outliner-haloed"]::after,
.sherpa-outliner .sherpa-outliner-haloed::before,
.sherpa-outliner *|*[class~="sherpa-outliner-haloed"]::before,
.sherpa-outliner .sherpa-outliner-haloed::after,
.sherpa-outliner *|*[class~="sherpa-outliner-haloed"]::after {

    position: absolute;

    top: 0;

    width: 20px;
    height: calc(100% + 30px);

    content: "";

    background-image: radial-gradient(circle at center, #acd 5px, transparent 6px), radial-gradient(circle at center, #acd 5px, transparent 6px);
    background-size: 20px 20px;
    background-position: top center, bottom center;
    background-repeat: no-repeat;

    margin: -15px;
}

.sherpa-outliner.sherpa-outliner-haloed::before,
.sherpa-outliner[class~="sherpa-outliner-haloed"]::before,
.sherpa-outliner .sherpa-outliner-haloed::before,
.sherpa-outliner *|*[class~="sherpa-outliner-haloed"]::before {

    left: 0;
}

.sherpa-outliner.sherpa-outliner-haloed::after,
.sherpa-outliner[class~="sherpa-outliner-haloed"]::after,
.sherpa-outliner .sherpa-outliner-haloed::after,
.sherpa-outliner *|*[class~="sherpa-outliner-haloed"]::after {

    right: 0;
}

.sherpa-outliner.sherpa-outliner-droptarget,
.sherpa-outliner[class~="sherpa-outliner-droptarget"],
.sherpa-outliner .sherpa-outliner-droptarget,
.sherpa-outliner *|*[class~="sherpa-outliner-droptarget"] {

    outline: dashed 2px black;
}

