/*
    CSS styles for the 'xctrls:notifier' control.
*/

@import (reference) url("../TP.xctrls_variables.less");

@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");
@namespace pclass url("urn:tibet:pseudoclass");

xctrls|notifier {

    position: absolute;
    display: inline-block;

    /* Hovering over the notifier */

    &:hover {
    }

    & > xctrls|content {
    }

    /* NB: Any direct children of our content should be set to 'block' to fit our
    content element */
    & > xctrls|content > * {

        display: block;
    }
}
