/*
    CSS styles for the 'xctrls:notifier' control.
*/

@namespace url("http://www.w3.org/1999/xhtml");
@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");

xctrls|notifier {

    position: absolute;
    display: inline-block;
}

/* Hovering over the notifier */
xctrls|notifier:hover {

}

xctrls|notifier > xctrls|content {

}

/* NB: Any direct children of our content should be set to 'block' to fit our
 * content element
 */
xctrls|notifier > xctrls|content > * {

    display: block;
}
