/*
    CSS styles for the 'xctrls:notifier' control.
*/

@import (reference) url("../TP.xctrls_variables.less");

@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");
@namespace pclass url("urn:tibet:pseudoclass");

xctrls|notifier {

    position: fixed;
    display: inline-block;

    top: 0;
    left: 0;

    opacity: 1;

    transition: opacity 3000ms ease 1000ms;

    /* Hovering over the notifier */

    &:hover {
    }

    /* When the notifier was active */

    &[pclass|active] {

        opacity: 0;
    }

    & > xctrls|content {
    }

    /* NB: Any direct children of our content should be set to 'block' to fit our
    content element */
    & > xctrls|content > * {

        display: block;
    }
}
