@namespace lama url("http://www.technicalpursuit.com/2020/lama");
@namespace pclass url("urn:tibet:pseudoclass");
@namespace tibet url("http://www.technicalpursuit.com/1999/tibet");

lama|inspector {

    display: block;
    position: absolute;

    background-color: white;

    top: 0;
    right: 30px;
    bottom: 0;
    left: 30px;

    border-right: solid 1px #aaa;
    border-left: solid 1px #aaa;

    font: 13px/1.231 "arial", "helvetica", "clean", sans-serif;

    overflow: hidden;
}

lama|inspector > .content {

    display: flex;
    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;

    min-width: 100%;

    border: none;
}

lama|inspector > .content > div.usermessage {

    display: flex;

    border: none;

    font-size: 131%;
    font-family: "arial", "helvetica", "clean", sans-serif;
    color: #999;

    align-items: center;
    justify-content: center;
}
