@namespace sherpa url(http://www.technicalpursuit.com/2014/sherpa);
@namespace pclass url(urn:tibet:pseudoclass);
@namespace tibet url(http://www.technicalpursuit.com/1999/tibet);

sherpa|snippetmenu {

    display: block;

    position: absolute;

    top: 27px;
    right: 80px;
    left: 300px;

    width: 192px;
    height: 256px;

    background-color: #eee;

    border: 1px solid #666;
    border-radius: 5px;

    box-shadow: 3px 3px 3px #aaa;

    /* This should match the CONTEXT_MENU_TIER constant */
    z-index: 28750;
}

sherpa|snippetmenu > .content {

    position: absolute;

    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    min-width: auto;

    margin: 2px;

    border: 1px solid #666;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

    background-color: #fff;

    overflow: hidden;
}

sherpa|snippetmenu > .content > ul {

    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0;

    line-height: 29px;

	overflow: auto;
}

sherpa|snippetmenu > .content > ul > li {

    border: 0;
    border-top: 1px solid transparent;
    border-bottom: 1px solid #eee;

    padding-left: 5px;
    padding-right: 5px;

    overflow: hidden;

    text-overflow: ellipsis;

    text-align: left;

    cursor: pointer;
}

sherpa|snippetmenu > .content > ul > li:hover {

    background-color: #ddd;

    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
}

sherpa|snippetmenu > .content > ul > li:last-child:hover {

    border-bottom: 1px solid #666;
}

sherpa|snippetmenu > sherpa|scrollbutton {

	box-shadow: 1px -1px 1px #888888;
}

sherpa|snippetmenu > sherpa|scrollbutton[orientation="up"] {

    bottom: 10px;
	right: 28px;
}

sherpa|snippetmenu > sherpa|scrollbutton[orientation="up"] .icon::after {

    /* This is the same as '&#8593' */
    content: "\2191";
}

sherpa|snippetmenu > sherpa|scrollbutton[orientation="down"] {

    bottom: 10px;
	right: 8px;
}

sherpa|snippetmenu > sherpa|scrollbutton[orientation="down"] .icon::after {

    /* This is the same as '&#8595' */
    content: "\2193";
}

sherpa|snippetmenu[class~="overflowing"] sherpa|scrollbutton {

    display: block;
}

