{
    "env": {
        "browser": true,
        "node": true
    },
    "globals": {
        "TP": true,
        "APP": true
    },
    "rules": {
        "quotes": "single"
        "strict": false,
        "consistent-return": false
    }
}
