{
    "extends": "eslint:recommended",
    "env": {
        "browser": true,
        "node": true
    },
    "globals": {
        "TP": true,
        "APP": true,
        "Window": false,
        "self": false
    },
    "rules": {
        "array-bracket-spacing": [1, "never"],
        "brace-style": [2, "1tbs", { "allowSingleLine": true }],
        "camelcase": 0,
        "comma-style": 1,
        "consistent-return": 0,
        "consistent-this": [0, "thisref"],
        "default-case": 1,
        "dot-location": [1, "object"],
        "eol-last": 0,
        "guard-for-in": 2,
        "indent": [1, 4, {"SwitchCase": 1, "VariableDeclarator": 1}],
        "init-declarations": [2, "never"],
        "linebreak-style": 2,
        "max-len": [0, 80, 4],
        "newline-after-var": [1, always],
        "no-div-regex": 2,
        "no-extend-native": 0,
        "no-extra-parens": 1,
        "no-floating-decimal": 1,
        "no-multiple-empty-lines": 1,
        "no-nested-ternary": 1,
        "no-param-reassign": 2,
        "no-self-compare": 2,
        "no-shadow": 2,
        "no-throw-literal": 2,
        "no-useless-call": 2,
        "no-unused-expressions": 0,
        "no-unused-vars": [1, {"vars": "all", "args": "none"}],
        "no-underscore-dangle": 0,
        "object-curly-spacing": [1, "never"],
        "one-var": 1,
        "operator-linebreak": [1, "after", { "overrides": { "?": "after"}}],
        "quotes": [2, "single"],
        "quote-props": [2, "as-needed"],
        "radix": 2,
        "semi-spacing": 1,
        "space-before-function-paren": [1, "never"],
        "space-after-keywords": [1, "always"],
        "space-before-blocks": [1, "always"],
        "space-before-function-paren": [1, "never"],
        "space-in-parens": [1, "never"],
        "space-unary-ops": [1, { "words": true, "nonwords": false }],
        "spaced-comment": [0, "always"],
        "strict": 0,
        "wrap-iife": [1, "outside"],
        "vars-on-top": 1
    }
}
