{
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 2017
    },
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },
    "globals": {
        "TP": true,
        "APP": true,
        "Window": false,
        "self": false,
        "Proxy": false,
        "React": true,
        "Reflect": false
    },
    "rules": {
        "array-bracket-spacing": [1, "never"],
        "array-callback-return": 2,
        "arrow-body-style": [1, "always"],
        "arrow-parens": [1, "always"],
        "arrow-spacing": [1, {"before": true, "after": true}],
        "brace-style": [2, "1tbs", {"allowSingleLine": false}],
        "class-methods-use-this": 2,
        "comma-dangle": 2,
        "comma-spacing": 1,
        "comma-style": 1,
        "computed-property-spacing": [2, "never"],
        "consistent-this": [1, "thisref"],
        "curly": [2, "all"],
        "default-case": 2,
        "dot-location": [1, "object"],
        "dot-notation": 2,
        "eqeqeq": 2,
        "func-call-spacing": 1,
        "func-names": [2, never],
        "func-style": 1,
        "generator-star-spacing": [1, {"before": true, "after": false}],
        "guard-for-in": 2,
        "implicit-arrow-linebreak": [1, "beside"],
        "indent": [0, 4, {"SwitchCase": 1, "VariableDeclarator": 1, "outerIIFEBody": 1, "FunctionDeclaration": {"parameters": "first", "body": 1}, "FunctionExpression": {"parameters": "first", "body": 1}, "ArrayExpression": 1, "MemberExpression": "off", "ObjectExpression": 1, "ignoreComments": true, "flatTernaryExpressions": true, "ignoredNodes": ["CallExpression", "ConditionalExpression"]}],
        "init-declarations": [2, "never"],
        "key-spacing": [1, { "beforeColon": false, "afterColon": true }],
        "keyword-spacing": [2, {"before": true, "after": true, "overrides": {}}],
        "linebreak-style": 2,
        "lines-between-class-members": [1, "always"],
        "max-len": [0, 80, 4],
        "max-statements-per-line": 1,
        "new-parens": 2,
        "no-caller": 2,
        "no-catch-shadow": 2,
        "no-confusing-arrow": 1,
        "no-delete-var": 2,
        "no-div-regex": 2,
        "no-duplicate-imports": 2,
        "no-empty-function": 1,
        "no-eval": 2,
        "no-extra-bind": 2,
        "no-extra-label": 2,
        "no-extra-parens": 1,
        "no-floating-decimal": 1,
        "no-global-assign": 2,
        "no-implied-eval": 2,
        "no-implicit-coercion": [1, {"string": false}],
        "no-invalid-this": 2,
        "no-iterator": 1,
        "no-label-var": 2,
        "no-labels": [2, {"allowLoop": true, "allowSwitch": true}],
        "no-lone-blocks": 2,
        "no-loop-func": 2,
        "no-multi-spaces": [1, {"ignoreEOLComments": true}],
        "no-multi-assign": 2,
        "no-multi-str": 1,
        "no-multiple-empty-lines": 1,
        "no-new": 2,
        "no-nested-ternary": 2,
        "no-octal-escape": 2,
        "no-param-reassign": 2,
        "no-process-exit": 2,
        "no-proto": 1,
        "no-prototype-builtins": 0,
        "no-return-assign": 2,
        "no-return-await": 2,
        "no-script-url": 2,
        "no-self-compare": 2,
        "no-sequences": 1,
        "no-shadow": 2,
        "no-shadow-restricted-names": 1,
        "no-tabs": 1,
        "no-throw-literal": 2,
        "no-trailing-spaces": 2,
        "no-undef-init": 2,
        "no-unsafe-negation": 2,
        "no-unused-vars": [1, {"vars": "all", "args": "none"}],
        "no-use-before-define": 2,
        "no-useless-call": 2,
        "no-useless-computed-key": 2,
        "no-useless-escape": 0,
        "no-whitespace-before-property": 2,
        "no-with": 2,
        "object-curly-newline": [1, {"ObjectExpression": {"minProperties": 3, "consistent": true}}],
        "object-curly-spacing": [1, "never"],
        "object-shorthand": [1, "never"],
        "one-var": 1,
        "one-var-declaration-per-line": 1,
        "operator-linebreak": [1, "after", { "overrides": { "?": "after"}}],
        "padding-line-between-statements": [1, {"blankLine": "always", "prev": "var", "next": "*"}],
        "quotes": [2, "single"],
        "quote-props": [2, "as-needed"],
        "radix": 1,
        "rest-spread-spacing": [1, "never"],
        "semi": 1,
        "semi-spacing": 1,
        "semi-style": [1, "last"],
        "space-before-blocks": [1, "always"],
        "space-before-function-paren": [1, "never"],
        "space-in-parens": [1, "never"],
        "space-infix-ops": 2,
        "space-unary-ops": [1, { "words": true, "nonwords": false }],
        "spaced-comment": [1, "always"],
        "switch-colon-spacing": 1,
        "template-curly-spacing": [1, "never"],
        "template-tag-spacing": [1, "always"],
        "vars-on-top": 1,
        "wrap-iife": [1, "outside"],
        "yield-star-spacing": [1, "before"],
        "yoda": [1, "never"]
    }
}
