@namespace sherpa url("http://www.technicalpursuit.com/2014/sherpa");
@namespace pclass url("urn:tibet:pseudoclass");

sherpa|count {

    display: inline-block;
    position: relative;

    top: 3px;
    height: 20px;
    width: 32px;

    border: 1px solid #666;
    border-radius: 10px;

    line-height: 20px;

    cursor: pointer;
}

sherpa|count:hover {

    background-color: cornsilk;
}

sherpa|count[pclass|selected] {

    background-color: gold;
}

sherpa|count[pclass|selected]:hover {

    background-color: gold;
}

