@namespace sherpa url("http://www.technicalpursuit.com/2014/sherpa");
@namespace pclass url("urn:tibet:pseudoclass");

sherpa|tile[contenttype="sherpa:searcher"] {

    height: 50%;
}

sherpa|searcher {

    position: absolute;

    display: block;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    margin: 2px;

    font: 13px/1.231 "arial", "helvetica", "clean", sans-serif;

    background-color: #efefef;

    line-height: 1.5em;

    overflow-y: auto;
}

sherpa|searcher > .scroller > ul {

    margin: 0;
    padding: 0;

    background-color: white;
}

sherpa|searcher > .scroller > ul > li {

    position: absolute;

    right: 0;
    left: 0;

    text-align: left;

    white-space: nowrap;

    border-left: 1px solid white;
    border-right: 1px solid #efefef;
    border-bottom: 1px solid #efefef;

    padding: 0;

    overflow: hidden;
    text-overflow: ellipsis;

    cursor: pointer;

    color: gray;
}

sherpa|searcher > .scroller > ul > li[pclass|selected] {

    background-color: gold;
}

sherpa|searcher > .scroller > ul > li[pclass|selected]:hover {

    background-color: gold;
}

sherpa|searcher > .scroller > ul > li:hover {

    background-color: cornsilk;
}

sherpa|searcher > .scroller > ul > li:first-child {

    border-top: 0;
}

sherpa|searcher > .scroller > ul > li:last-child {

    border-bottom: 0;
}

sherpa|searcher .category {

    background-color: cornsilk;
    text-align: center;
}

sherpa|searcher .result:nth-child(even) {

    background-color: white;
}

