@namespace sherpa url(http://www.technicalpursuit.com/2014/sherpa);
@namespace pclass url(urn:tibet:pseudoclass);

sherpa|world {

    display: flex;

    align-items: center;

    position: absolute;
    box-sizing: border-box;

    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    width: auto;
    height: auto;

    transform-origin: 0 0;
    transition: transform .5s ease-in;

    background-image: url('../../../../../lib/media/tibet_world.gif');
    background-position: center center;
    background-repeat: no-repeat;

    background-color: white;

    border-radius: 3px;
    border: 1px solid #666;

    overflow: auto;
}

