/**
 * @file tibet_content.css
 * @overview Styles specific to the various TPI/TIBET content pages.
 */

@import url("tibet_reset.css");

a {

    color: #910;

    text-decoration: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    /* IE/Edge use the -webkit- prefix for user-select */
}

a:hover {

    text-decoration: underline;
}

a.anchor {

    color: #000;

    text-decoration: none;
}

a.anchor:hover {

    text-decoration: none;
}

a.mail {

    font-weight: bold;
}

p.or {

    margin: 6px 0;
}

em {

    color: #333;
    font-style: normal;
}

em.code {

    color: #333;
    font-size: 93%;
    font-weight: bold;
}

em.param {

    font-style: italic;
}

.lead em {

    color: #000;
}

p.code {

    margin: 6px 0;

    color: #333;
    font-weight: bold;
}

code {

    color: #333;
    font-size: 93%;
}

.hr {

    margin: 24px 48px;

    border-top: 1px solid #999;
    border-bottom: 1px solid #ccc;
}

.clear {

    clear: both;
}

.hr.clear {

    margin: 0 48px;
}

html,
body {
    /* border-radius: 3px; */
    overflow: auto;
}

#content {

    position: absolute;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    max-width: 750px;
    min-width: 600px;

    margin-left: auto;
    margin-right: auto;

    border-radius: 3px;
}

#intro {

    margin: 24px 48px 0;

    text-align: center;

    font-size: 138.5%;
}

.lead {

    text-align: center;

    font-weight: bold;

    margin-bottom: 24px;
}

#intro .lead {

    font-size: 138.5%;
}

.follow {

    font-size: 93%;

    margin: 12px 0;

    color: #999;
}

.follow.calltoaction {

    font-size: 108%;
    font-weight: bold;

    color: #333;
}

#focalpoint {

    margin: 12px 48px 0;

    color: #999;
    font-size: 100%;
}

#focalpoint .lead {

    font-size: 123.1%;
    font-weight: normal;

    margin: 0 0 12px;

    text-align: center;

    line-height: 1.4em;
}

#testimony {

    margin: 24px 48px;

    text-align: center;
}

#testimony .quote {

    font-size: 108%;
}

#testimony .author {

    margin-top: 6px;

    color: #999;
    font-size: 92%;
}

#lastwords {

    margin: 24px 48px 0;

    color: #999;
    font-size: 100%;
}

#lastwords .lead {

    font-size: 123.1%;
    font-weight: normal;

    margin: 0 0 12px;

    text-align: left;

    line-height: 1.4em;
}

#lastwords .follow {

    font-size: 123.1%;

    margin-top: 6px;

    text-align: left;

    line-height: 1.4em;
}

#lastwords .follow.center {

    text-align: center;
}

div.services {

    position: relative;

    margin: 0 48px;
}

ul.options {

    display: block;

    text-align: center;
}

ul.options h2 {

    margin-bottom: 12px;
}

ul.options li {

    display: block;

    float: left;

    list-style: none;

    padding: 0;

    width: 33%;
}

ul.options li .hr {

    margin: 0 0 24px 5%;

    float: left;

    width: 90%;
}

a.image-link {

    color: #000;
}

a.image-link h2 {

    color: #000;
    font-size: 138.5%;
}

a.image-link img {

    border: 2px solid #666;
    border-radius: 5px;

    box-shadow: 0 0 2px 2px #999;

    width: 102px;
    height: 102px;
}

a.image-link:hover img {

    border: 2px solid #910;

    box-shadow: 0 0 5px 5px #999;
}

.tagline {

    position: relative;

    z-index: 1;

    font-size: 100%;

    line-height: 30px;
}

.blurb {

    color: #999;

    text-align: center;

    margin: 24px 48px 0;

    font-size: 138.5%;
}

.calltoaction {

    font-size: 93%;
    font-weight: bold;
    color: #910;
}

.mailto {

    margin-bottom: 0;
}

.mailto a {

    display: block;

    margin: 24px 10px 0;

    font-size: 138.5%;
}

#home {

    position: absolute;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    overflow: hidden;

    color: #74060c;
}

#home a {

    display: block;

    font-size: 100%;
}

#home img {

    margin-top: 3px;

    height: 24px;
    width: 25px;
}

#logo {
}

#tellus {
    margin: 26px 82px 32px 78px;
}

#tech_logos {

    height: 18px;

    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
}

#tech_logos img {

    height: 18px;
    width: 57px;
}

.detail-intro {

    position: relative;

    margin: 70px 0 0 48px;
}

.detail-intro .lead {

    text-align: left;

    font-size: 138.5%;

    margin: -18px 48px 18px 192px;

    line-height: 1.4em;
}

.detail-intro .follow {

    text-align: left;

    font-size: 123.1%;

    margin-left: 192px;
    margin-right: 48px;

    line-height: 1.4em;
}

.detail-intro a.image-link {
}

.detail-intro a.image-link img {

    margin-bottom: 36px;

    float: left;

    border: 1px solid #666;
    border-radius: 5px;

    box-shadow: 0 0 2px 2px #999;

    width: 102px;
    height: 102px;

    cursor: default;
}

.detail-intro a.image-link:hover img {

    border: 1px solid #666;
}

.detail-topics {

    float: left;

    margin: 18px 48px 0;

    text-align: left;

    font-size: 123.1%;

    line-height: 1.4em;
}

.detail-topics dt {

    float: left;

    width: 192px;

    font-weight: bold;
}

.detail-topics dt a {

    text-decoration: none;
}

.detail-topics dt a:hover {

    text-decoration: underline;
}

.detail-topics dd {

    float: left;

    width: 65%;

    color: #777;

    margin-bottom: 18px;
}

.client-logo {

    float: left;

    margin: 12px 6px 12px 0;
}

.client-logo {

    width: 76px;
}

.tagline {

    font-size: 90%;
}

.pointer {

    visibility: hidden;

    margin-right: 24px;

    float: right;

    color: #999;
}

#legal {

    left: 0;
    right: 0;

    margin-left: auto;
    margin-right: auto;

    text-align: center;

    color: #aaa;
}

#legal .license {

    color: #000;
    font-size: 116%;

    margin: 12px 0;
}

#legal .trade {

    margin: 6px 0;

    font-size: 85%;
}

div.tag-defaulted h1 {

    font-size: 123%;

    margin: 100px 48px 48px;

    text-align: center;
}

div.tag-defaulted p {

    font-size: 108%;

    max-width: 500px;

    margin: auto;
    margin-bottom: 1em;
}

div.tag-defaulted p.hint {

    margin-top: 48px;

    font-size: 100%;
}

div h1.next-step {

    margin: 48px;

    text-align: center;
}
