/*
	------------------------------------------------------------------------
	sherpa:pp formatting
	------------------------------------------------------------------------
*/

.sherpa_pp > span
{
    display: table;

	border-collapse: collapse;

	border-width: 1px;
	border-style: dotted;
}

.sherpa_pp > span span[data-name]
{
    display: table-row;
    text-align: left;

	border-width: 1px;
	border-style: solid;

	padding: 3px;

	white-space: pre-wrap;
}

.sherpa_pp > span span[data-name]:before
{
    content: attr(data-name) " ";

	vertical-align: top;

    display: table-cell;
    text-align: left;

	white-space: pre-wrap;
}

.sherpa_pp > span.Array span,
.sherpa_pp > span.Object span,
.sherpa_pp > span.TP_lang_Hash span
{
	border-color: white;
}

.sherpa_pp > span.Object span[data-name]:before,
.sherpa_pp > span.TP_lang_Hash span[data-name]:before
{
	vertical-align: top;
}

