/*
	------------------------------------------------------------------------
	sherpa:pp formatting
	------------------------------------------------------------------------
*/

.sherpa_pp.Array,
.sherpa_pp.NamedNodeMap,
.sherpa_pp.NodeList,
.sherpa_pp.Object,
.sherpa_pp.TP_lang_Hash
{
    display: table;
    width: 100%;
	border-collapse: collapse;
}

/* 'Pair' portion of collection */
.sherpa_pp.Array > span[data-name],
.sherpa_pp.NamedNodeMap > span[data-name],
.sherpa_pp.NodeList > span[data-name],
.sherpa_pp.Object > span[data-name],
.sherpa_pp.TP_lang_Hash > span[data-name]
{
    display: table-row;
    text-align: left;
    width: 100%;

    line-height: 1.5em;

    margin-left: 5px;
}

/* 'Key' portion of collection */
.sherpa_pp.Array > span[data-name]:before,
.sherpa_pp.NamedNodeMap > span[data-name]:before,
.sherpa_pp.NodeList > span[data-name]:before,
.sherpa_pp.Object > span[data-name]:before,
.sherpa_pp.TP_lang_Hash > span[data-name]:before
{
    display: table-cell;
	vertical-align: top;

    content: attr(data-name) "\00A0=>\00A0";

    text-align: left;

	white-space: pre-wrap;
    padding 0px 12px 0px 0px;
}

/* 'Value' portion of collection */
.sherpa_pp.Array > span[data-name] > .sherpa_pp,
.sherpa_pp.NamedNodeMap > span[data-name] > .sherpa_pp,
.sherpa_pp.NodeList > span[data-name] > .sherpa_pp,
.sherpa_pp.Object > span[data-name] > .sherpa_pp,
.sherpa_pp.TP_lang_Hash > span[data-name] > .sherpa_pp
{
    display: table-cell;
	vertical-align: top;
}

.sherpa_pp.Function
{
    white-space: pre;
    font-family: "Lucida Sans Typewriter", "Courier New", Courier, monospace;

    line-height: 1.5em;
    margin-left: 5px;
}

.sherpa_pp.TP_core_JSONContent span
{
    white-space: pre;
    line-height: 1.5em;
    font-family: "Lucida Sans Typewriter", "Courier New", Courier, monospace;
}
