/* tibet_code theme for codemirror */

/* Color scheme */

.cm-s-tibet_code.CodeMirror {

    /*padding: 2px;*/

    font-family: "Lucida Sans Typewriter", "Courier New", Courier, monospace;
    font-size: 10px;
    font-weight: normal;
    /*line-height: 1.2;*/

    background: #0A001F;
    color: #F8F8F8;
}

.cm-s-tibet_code div.CodeMirror-selected {
    background: #447 !important;
}
.cm-s-tibet_code .CodeMirror-gutters {
    background: #0a001f;
    border-right: 1px solid #aaa;
}
.cm-s-tibet_code .CodeMirror-linenumber {
    color: #f8f8f8;
}
.cm-s-tibet_code .CodeMirror-cursor {
    border-left: 1px solid white !important;
}

.cm-s-tibet_code span.cm-comment { color: #6900a1; }
.cm-s-tibet_code span.cm-atom { color: #845dc4; }
.cm-s-tibet_code span.cm-number, .cm-s-tibet_code span.cm-attribute { color: #ffd500; }
.cm-s-tibet_code span.cm-keyword { color: #599eff; }
.cm-s-tibet_code span.cm-string { color: #37f14a; }
.cm-s-tibet_code span.cm-meta { color: #7678e2; }
.cm-s-tibet_code span.cm-variable-2, .cm-s-tibet_code span.cm-tag { color: #99b2ff; }
.cm-s-tibet_code span.cm-variable-3, .cm-s-tibet_code span.cm-def { color: white; }
.cm-s-tibet_code span.cm-bracket { color: #8da6ce; }
.cm-s-tibet_code span.cm-comment { color: #6900a1; }
.cm-s-tibet_code span.cm-builtin, .cm-s-tibet_code span.cm-special { color: #ff9e59; }
.cm-s-tibet_code span.cm-link { color: #845dc4; }
.cm-s-tibet_code span.cm-error { color: #9d1e15; }

.cm-s-tibet_code .CodeMirror-activeline-background {background: #1C005A !important;}
.cm-s-tibet_code .CodeMirror-matchingbracket {outline:1px solid grey; color:white !important;}
