/*
	CSS styles for the 'xctrls:splitbox' control.
*/

@import url('../xctrls_common.css');

@namespace xctrls url(http://www.technicalpursuit.com/2005/xcontrols);
@namespace pclass url(urn:tibet:pseudoclass);

xctrls|splitbox
{
	display: inline-block;

	position: relative;

	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

xctrls|splitbox > xctrls|splitbar
{
	position: absolute;

	top: 50%;
	margin-top: -2.5px;

	z-index: 2;
}

xctrls|splitbox > xctrls|panel
{
	display: block;

	position: absolute;

	width: 100%;
	height: 50%;
}

xctrls|splitbox > xctrls|panel:last-child
{
	top: 50%;

	height: auto;
	bottom: 2.5px;
}

xctrls|splitbox > xctrls|panel > xctrls|body
{
	display: block;

	position: absolute;

	top: 0px;
	bottom: 2.5px;
}

xctrls|splitbox > xctrls|panel:last-child > xctrls|body
{
	top: 2.5px;
	bottom: 0px;
}

