/*
    CSS styles for the 'xctrls:curtain' control.
*/

@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");
@namespace pclass url("urn:tibet:pseudoclass");
@namespace tibet url("http://www.technicalpursuit.com/1999/tibet");

xctrls|curtain {

    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: var(--xctrls-curtain-background-color);

    visibility: hidden;

    opacity: var(--xctrls-curtain-opacity);
}

/* When the curtain is not hidden */
xctrls|curtain:not([pclass|hidden]) {

    visibility: visible;
}

/* When the curtain is acting as a drag layer */
xctrls|curtain[tibet|isdraglayer] {

    background-color: transparent;
    opacity: 1;
}
