/*
    CSS styles for the 'xctrls:curtain' control.
*/

@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");
@namespace pclass url("urn:tibet:pseudoclass");
@namespace tibet url("http://www.technicalpursuit.com/1999/tibet");

xctrls|curtain {

    position: fixed;

    width: 100vw;
    height: 100vh;

    background-color: var(--xctrls-curtain-background-color);

    display: none;
}

/* When the curtain is not hidden */
xctrls|curtain:not([pclass|hidden]) {

    display: block;
}

/* When the curtain is acting as a drag layer */
xctrls|curtain[tibet|isdraglayer] {

    background-color: transparent;
}
