/*
    LESS variables common across all 'xctrls:' widgets.
*/

@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");

//  Grid variables

@grid-full-width: 100%;
@grid-1of2-width: 50%;
@grid-1of3-width: 33.3333%;
@grid-1of4-width: 25%;

@grid-sm-break: ~"(min-width: 384px)";
@grid-md-break: ~"(min-width: 576px)";
@grid-lg-break: ~"(min-width: 768px)";

@grid-gutter-margin: 1em;
@grid-lg-gutter-margin: 1.5em;
@grid-xl-gutter-margin: 2em;

/** NON-THEMED WIDGETS **/

//  xctrls|curtain variables

@xctrls_curtain-background-color: #000;
@xctrls_curtain-opacity: 0.6;
