/*
    CSS styles common across all 'xctrls:' widgets.
*/

@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");
@namespace pclass url("urn:tibet:pseudoclass");

/* xctrls|* */

xctrls|* {

    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    appearance: none !important;
}

/* xctrls|label */

xctrls|label {
}

/* xctrls|value, xctrls|hint */

xctrls|value,
xctrls|hint {

    display: none;
}

/* xctrls|content */

xctrls|content {

    display: block;
}

/*  Define some common z-ordering constants. Note that when used from code,
    these *must* match the 'z-index' tiers defined in TIBETGlobals.js */

.SLIDER_TIER,
*|*[class~="SLIDER_TIER"] {

    z-index: 500;
}

.MENU_TIER,
*|*[class~="MENU_TIER"] {

    z-index: 1000;
}

.POPUP_TIER,
*|*[class~="POPUP_TIER"] {

    z-index: 5000;
}

.HALO_TIER,
*|*[class~="HALO_TIER"] {

    z-index: 10000;
}

.HALO_POPUP_TIER,
*|*[class~="HALO_POPUP_TIER"] {

    z-index: 12500;
}

.HUD_TIER,
*|*[class~="HUD_TIER"] {

    z-index: 15000;
}

.HUD_POPUP_TIER,
*|*[class~="HUD_POPUP_TIER"] {

    z-index: 17500;
}

.CONSOLE_INPUT_TIER,
*|*[class~="CONSOLE_INPUT_TIER"] {

    z-index: 20000;
}

.HUD_V_EDGE_TIER,
*|*[class~="HUD_V_EDGE_TIER"] {

    z-index: 22500;
}

.CONNECTOR_TIER,
*|*[class~="CONNECTOR_TIER"] {

    z-index: 25000;
}

.HUD_H_EDGE_TIER,
*|*[class~="HUD_H_EDGE_TIER"] {

    z-index: 26250;
}

.HUD_CORNER_TIER,
*|*[class~="HUD_CORNER_TIER"] {

    z-index: 27000;
}

.HUD_TILE_TIER,
*|*[class~="HUD_TILE_TIER"] {

    z-index: 27250;
}

.CONSOLE_OUTPUT_TIER,
*|*[class~="CONSOLE_OUTPUT_TIER"] {

    z-index: 27500;
}

.CONTEXT_MENU_TIER,
*|*[class~="CONTEXT_MENU_TIER"] {

    z-index: 28750;
}

.HUD_OPENER_TIER,
*|*[class~="HUD_OPENER_TIER"] {

    z-index: 29000;
}

.NOTIFIER_TIER,
*|*[class~="NOTIFIER_TIER"] {

    z-index: 29000;
}

.DRAG_DROP_TIER,
*|*[class~="DRAG_DROP_TIER"] {

    z-index: 30000;
}

.CURTAIN_TIER,
*|*[class~="CURTAIN_TIER"] {

    z-index: 32500;
}

.ALERT_TIER,
*|*[class~="ALERT_TIER"] {

    z-index: 32767;
}

