/*
    CSS styles for the xctrls grid.
*/

@import (reference) url("TP.xctrls_variables.less");

/*
Adapted from Philip Walton - http://philipwalton.github.io/solved-by-flexbox/
*/

.grid {

    display: flex;
    flex-wrap: wrap;

    list-style: none;

    margin: 0;
    padding: 0;
}

.grid-cell {

    flex: 1;
}

.grid-top {

    align-items: flex-start;
}

.grid-bottom {

    align-items: flex-end;
}

.grid-center {

    align-items: center;
}

.grid-justifyCenter {

    justify-content: center;
}

.grid-cell-top {

    align-self: flex-start;
}

.grid-cell-bottom {

    align-self: flex-end;
}

.grid-cell-center {

    align-self: center;
}

.grid-cell-autoSize {

    flex: none;
}

.grid-fit > .grid-cell {

    flex: 1;
}

.grid-full > .grid-cell {

    flex: 0 0 @grid-full-width;
}

.grid-1of2 > .grid-cell {

    flex: 0 0 @grid-1of2-width;
}

.grid-1of3 > .grid-cell {

    flex: 0 0 @grid-1of3-width;
}

.grid-1of4 > .grid-cell {

    flex: 0 0 @grid-1of4-width;
}

@media @grid-sm-break {

    .small-grid-fit > .grid-cell {

        flex: 1;
    }

    .small-grid-full > .grid-cell {

        flex: 0 0 @grid-full-width;
    }

    .small-grid-1of2 > .grid-cell {

        flex: 0 0 @grid-1of2-width;
    }

    .small-grid-1of3 > .grid-cell {

        flex: 0 0 @grid-1of3-width;
    }

    .small-grid-1of4 > .grid-cell {

        flex: 0 0 @grid-1of4-width;
    }
}

@media @grid-md-break {

    .med-grid-fit > .grid-cell {

        flex: 1;
    }

    .med-grid-full > .grid-cell {

        flex: 0 0 @grid-full-width;
    }

    .med-grid-1of2 > .grid-cell {

        flex: 0 0 @grid-1of2-width;
    }

    .med-grid-1of3 > .grid-cell {

        flex: 0 0 @grid-1of3-width;
    }

    .med-grid-1of4 > .grid-cell {

        flex: 0 0 @grid-1of4-width;
    }
}

@media @grid-lg-break {

    .large-grid-fit > .grid-cell {

        flex: 1;
    }

    .large-grid-full > .grid-cell {

        flex: 0 0 @grid-full-width;
    }

    .large-grid-1of2 > .grid-cell {

        flex: 0 0 @grid-1of2-width;
    }

    .large-grid-1of3 > .grid-cell {

        flex: 0 0 @grid-1of3-width;
    }

    .large-grid-1of4 > .grid-cell {

        flex: 0 0 @grid-1of4-width;
    }
}

.grid-gutters {

    margin: -@grid-gutter-margin 0 @grid-gutter-margin -@grid-gutter-margin;
}

.grid-gutters > .grid-cell {

    padding: @grid-gutter-margin 0 0 @grid-gutter-margin;
}

.grid-gutters-lg {

    margin: -@grid-lg-gutter-margin 0 @grid-lg-gutter-margin -@grid-lg-gutter-margin;
}

.grid-gutters-lg > .grid-cell {

    padding: @grid-lg-gutter-margin 0 0 @grid-lg-gutter-margin;
}

.grid-gutters-xl {

    margin: -@grid-xl-gutter-margin 0 @grid-xl-gutter-margin -@grid-xl-gutter-margin;
}

.grid-gutters-xl > .grid-cell {

    padding: @grid-xl-gutter-margin 0 0 @grid-xl-gutter-margin;
}

@media @grid-sm-break {

    .small-grid-gutters {

        margin: -@grid-gutter-margin 0 @grid-gutter-margin -@grid-gutter-margin;
    }

    .small-grid-gutters > .grid-cell {

        padding: @grid-gutter-margin 0 0 @grid-gutter-margin;
    }

    .small-grid-gutters-lg {

        margin: -@grid-lg-gutter-margin 0 @grid-lg-gutter-margin -@grid-lg-gutter-margin;
    }

    .small-grid-gutters-lg > .grid-cell {

        padding: @grid-lg-gutter-margin 0 0 @grid-lg-gutter-margin;
    }

    .small-grid-gutters-xl {

        margin: -@grid-xl-gutter-margin 0 @grid-xl-gutter-margin -@grid-xl-gutter-margin;
    }

    .small-grid-gutters-xl > .grid-cell {

        padding: @grid-xl-gutter-margin 0 0 @grid-xl-gutter-margin;
    }
}

@media @grid-md-break {

    .med-grid-gutters {

        margin: -@grid-gutter-margin 0 @grid-gutter-margin -@grid-gutter-margin;
    }

    .med-grid-gutters > .grid-cell {

        padding: @grid-gutter-margin 0 0 @grid-gutter-margin;
    }

    .med-grid-gutters-lg {

        margin: -@grid-lg-gutter-margin 0 @grid-lg-gutter-margin -@grid-lg-gutter-margin;
    }

    .med-grid-gutters-lg > .grid-cell {

        padding: @grid-lg-gutter-margin 0 0 @grid-lg-gutter-margin;
    }

    .med-grid-gutters-xl {

        margin: -@grid-xl-gutter-margin 0 @grid-xl-gutter-margin -@grid-xl-gutter-margin;
    }

    .med-grid-gutters-xl > .grid-cell {

        padding: @grid-xl-gutter-margin 0 0 @grid-xl-gutter-margin;
    }
}

@media @grid-lg-break {

    .large-grid-gutters {

        margin: -@grid-gutter-margin 0 @grid-gutter-margin -@grid-gutter-margin;
    }

    .large-grid-gutters > .grid-cell {

        padding: @grid-gutter-margin 0 0 @grid-gutter-margin;
    }

    .large-grid-gutters-lg {

        margin: -@grid-lg-gutter-margin 0 @grid-lg-gutter-margin -@grid-lg-gutter-margin;
    }

    .large-grid-gutters-lg > .grid-cell {

        padding: @grid-lg-gutter-margin 0 0 @grid-lg-gutter-margin;
    }

    .large-grid-gutters-xl {

        margin: -@grid-xl-gutter-margin 0 @grid-xl-gutter-margin -@grid-xl-gutter-margin;
    }

    .large-grid-gutters-xl > .grid-cell {

        padding: @grid-xl-gutter-margin 0 0 @grid-xl-gutter-margin;
    }
}
