/*
    CSS styles common across all 'xctrls:' widgets.
*/

@import url("TP.xctrls_variables.css");

@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");

/* xctrls|* */

xctrls|* {

    appearance: none !important;

    box-sizing: border-box;
}

/* xctrls|label */

xctrls|label {
}

/* xctrls|image */

xctrls|image {
}

/* xctrls|value, xctrls|hint */

xctrls|value,
xctrls|hint {

    display: none;
}

/* xctrls|content */

xctrls|content {

    display: block;
}

/* xctrls|itemgroup */

xctrls|itemgroup {

    display: inline-flex;

    justify-content: center;
    align-items: center;
}
