/*
    CSS styles for the 'xctrls:buttonitem' control.
*/

@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");
@namespace tibet url("http://www.technicalpursuit.com/1999/tibet");
@namespace svg url("http://www.w3.org/2000/svg");
@namespace pclass url("urn:tibet:pseudoclass");

/* The buttonitem */
xctrls|buttonitem {

    position: relative;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;

    user-select: none;
}

/* Hovering over the buttonitem */
xctrls|buttonitem:hover {

}

/* Focusing on the buttonitem */
xctrls|buttonitem[pclass|focus] {

}

/* Clicking down on the buttonitem */
xctrls|buttonitem[pclass|active] {

}

/* The buttonitem is disabled */
xctrls|buttonitem[pclass|disabled] {

}

/* The buttonitem label */
xctrls|buttonitem > xctrls|label {

    position: absolute;
    flex: 1;
    width: 100%;
    height: 100%;
}

/* Clicking down on the buttonitem, label must highlight */
xctrls|buttonitem[pclass|active] {

}

xctrls|buttonitem[pclass|active] > xctrls|label {

}

xctrls|buttonitem[pclass|active][pclass|selected] > xctrls|label {

}

/* The buttonitem is disabled, so is the label */
xctrls|buttonitem[pclass|disabled] > xctrls|label {

}
