/**
 * @overview 'APP.{{appname}}.app' styles.
 */

@namespace tibet url("http://www.technicalpursuit.com/1999/tibet");
@namespace {{appname}} url("urn:app:{{appname}}");

/**
 * If you don't transform from XML form (tags in the page remain in their
 * <{{appname}}:app/> form) use rules of this form:
 */
{{appname}}|app {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
