@namespace sherpa url(http://www.technicalpursuit.com/2014/sherpa);
@namespace pclass url(urn:tibet:pseudoclass);
@namespace tibet url(http://www.technicalpursuit.com/1999/tibet);

.extruded {

	transform: rotateX(0deg) rotateY(0deg) skewY(-10deg);
    transform-style: preserve-3d;

    overflow: visible;
}

.extruded > * {

    opacity: 0.9;
}

.extruded * {

    transform: translate3d(0, 0, 50px);
    transform-style: preserve-3d;

    outline: dashed 1px red;

    background-color: white;
}

.extruded *.sherpa_containingblock {

    background-color: #CCCC00;
}

.extruded *::before {

    position: absolute;

    font-size: 0.75rem;

    content: attr(tagname);

    min-width: 2em;
    text-align: center;

    color: white;
    background-color: red;
}

.sherpa_droptarget {

    background-color: yellow;
    outline: solid 1px red;
}

