@namespace sherpa url(http://www.technicalpursuit.com/2014/sherpa);
@namespace pclass url(urn:tibet:pseudoclass);
@namespace tibet url(http://www.technicalpursuit.com/1999/tibet);

.extruded {

    transform-style: preserve-3d;

    outline: dashed 1px blue;

    overflow: visible;
}

.extruded::before {

    position: absolute;

    font-size: 0.75rem;

    content: attr(tagname);

    min-width: 2em;

    text-align: center;

    color: white;

    background-color: blue;
}

.extruded > * {

    /* Need to force opacity, or otherwise 'extrusion' won't work. See:
     * https://bugs.chromium.org/p/chromium/issues/detail?id=646993
     */
    opacity: 1.0 !important;
}

.extruded * {

    transform: translate3d(0, 0, 50px);
    transform-style: preserve-3d;

    outline: dashed 1px red;

    background-color: white;
}

.extruded b,
.extruded big,
.extruded i,
.extruded small,
.extruded tt,
.extruded abbr,
.extruded acronym,
.extruded cite,
.extruded code,
.extruded dfn,
.extruded em,
.extruded kbd,
.extruded strong,
.extruded samp,
.extruded var,
.extruded a,
.extruded bdo,
.extruded br,
.extruded img,
.extruded map,
.extruded object,
.extruded q,
.extruded script,
.extruded span,
.extruded sub,
.extruded sup,
.extruded button,
.extruded input,
.extruded label,
.extruded select,
.extruded textarea {

    display: inline-block !important;
}

.extruded *.sherpa_containingblock {

    background-color: #CCCC00;
}

.extruded *::before {

    position: absolute;

    font-size: 0.75rem;

    content: attr(tagname);

    min-width: 2em;

    text-align: center;

    color: white;

    background-color: red;
}

.sherpa_droptarget {

    background-color: yellow;

    outline: solid 1px red;
}

