@namespace lama url("http://www.technicalpursuit.com/2020/lama");
@namespace pclass url("urn:tibet:pseudoclass");

lama|toggle {

    position: absolute;

    display: none;

    bottom: 3px;
    right: 10px;

    height: 24px;
    width: 24px;

    cursor: pointer;

    background-size: 24px;
    background-position: 0;
    background-repeat: no-repeat;
    background-image: url("~lib_media/tibet_logo.svg");

    z-index: var(--tibet-DRAG-DROP-TIER);
}

#center.fullscreen ~ lama|toggle {

    display: block;
}

#background.edge-east-open lama|toggle {

    display: block;
}

#background.edge-southeast-open lama|toggle {

    display: block;
}
