/*
    ------------------------------------------------------------------------
    sherpa:pp formatting
    ------------------------------------------------------------------------
*/

.sherpa_pp.Array,
.sherpa_pp.NamedNodeMap,
.sherpa_pp.NodeList,
.sherpa_pp.Object,
.sherpa_pp.TP_core_Hash {

    display: table;
    width: 100%;
    border-collapse: collapse;
}

/* 'Pair' portion of collection */
.sherpa_pp.Array > span[data-name],
.sherpa_pp.NamedNodeMap > span[data-name],
.sherpa_pp.NodeList > span[data-name],
.sherpa_pp.Object > span[data-name],
.sherpa_pp.TP_core_Hash > span[data-name] {

    display: table-row;
    text-align: left;
    width: 100%;

    line-height: 1.5em;

    margin-left: 5px;
}

/* 'Key' portion of collection */
.sherpa_pp.Array > span[data-name]::before,
.sherpa_pp.NamedNodeMap > span[data-name]::before,
.sherpa_pp.NodeList > span[data-name]::before,
.sherpa_pp.Object > span[data-name]::before,
.sherpa_pp.TP_core_Hash > span[data-name]::before {

    display: table-cell;
    vertical-align: top;

    width: 20%;

    content: attr(data-name) "\00A0=>\00A0";

    text-align: left;

    white-space: nowrap;
    padding: 0 12px 0 0;
}

/* 'Value' portion of collection */
.sherpa_pp.Array > span[data-name] > .sherpa_pp,
.sherpa_pp.NamedNodeMap > span[data-name] > .sherpa_pp,
.sherpa_pp.NodeList > span[data-name] > .sherpa_pp,
.sherpa_pp.Object > span[data-name] > .sherpa_pp,
.sherpa_pp.TP_core_Hash > span[data-name] > .sherpa_pp {

    display: table-cell;
    vertical-align: top;
}

.sherpa_pp.Function,
.sherpa_pp.Node,
.sherpa_pp.TP_dom_Node {

    white-space: pre-wrap;
    font-family: "Lucida Sans Typewriter", "Courier New", "Courier", monospace;

    line-height: 1.5em;
}

.sherpa_pp.TP_core_JSONContent span {

    white-space: pre-wrap;
    font-family: "Lucida Sans Typewriter", "Courier New", "Courier", monospace;

    line-height: 1.5em;
}

.sherpa_pp.TP_boot_Log {

    display: table;

    white-space: pre;
}

.sherpa_pp.TP_boot_Log > span {

    display: table-row;
}

.sherpa_pp.TP_boot_Log span[data-name] {

    display: table-cell;
    color: green;
    padding-left: 5px;
}

.sherpa_pp.TP_boot_Log span[data-name="timestamp"] {

    color: #aaa;
    padding-left: 0;
}

.sherpa_pp.TP_boot_Log span[data-name="log-level"] {

    padding-left: 2px;
}
