/*
    LESS styles for 'xctrls' controls within the Sherpa.
*/

@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");
@namespace pclass url("urn:tibet:pseudoclass");
@namespace tibet url("http://www.technicalpursuit.com/1999/tibet");
@namespace sherpa url("http://www.technicalpursuit.com/2014/sherpa");

/* Inspector lists */

sherpa|inspector#SherpaInspector sherpa|inspectoritem > xctrls|list {

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    height: 100%;
    width: 100%;

    max-height: initial;

    line-height: 1.5em;

    border: none;

    overflow-y: auto;

    *[tibet|pelem="choices"] {

        & > xctrls|textitem {

            & > xctrls|label {

                font-family: "Inconsolata";
            }
        }
    }
}

sherpa|inspectoritem[contenttype="xctrls:list"] {
}

/* The notifier */

xctrls|notifier#SherpaNotifier {

    top: 56px;
    right: 72px;
    left: 72px;

    margin-bottom: 4px;

    line-height: 2;

    background-color: cornsilk;

    transition:
        opacity
        var(--sherpa-notifier-fadeout-duration)
        ease
        var(--sherpa-notifier-fadeout-delay);

    & > xctrls|content {

        margin-left: 2px;
        margin-right: 2px;

        border-radius: 4px;

        font-size: 12px;
        font-family: "Lucida Sans Typewriter", "Courier New", "Courier", monospace;
    }
}

#background.edge-north-open xctrls|notifier#SherpaNotifier {

    /* Note here how we have to use the LESS 'escape' mechanism. The LESS parser
     isn't smart enough to handle CSS custom properties within function
     expressions */
    top: ~"calc(var(--sherpa-drawer-north-open-height) + 5px + 16px)";
}

/* When the west drawer is open */
#background.edge-west-open xctrls|notifier#SherpaNotifier {

    margin-left: var(--sherpa-edge-west-open-margin);
}

/* When the west drawer is closed */
#background:not(.edge-west-open) xctrls|notifier#SherpaNotifier {

    margin-left: 0;
}

/* When the east drawer is open */
#background.edge-east-open xctrls|notifier#SherpaNotifier {

    margin-right: var(--sherpa-edge-east-open-margin);
}

/* When the east drawer is closed */
#background:not(.edge-east-open) xctrls|notifier#SherpaNotifier {

    margin-right: 0;
}

/* The console tabbar */

xctrls|tabbar#SherpaConsoleTabbar {

    position: absolute;

    top: 4px;
    right: 28px;
    left: 30px;

    height: 22px;

    /* 250 more than our 'sherpa:drawer' parent */
    z-index: 26500;

    xctrls|tabitem {

        font-size: 77%;
        padding-bottom: 5px;
        padding-right: 10px;

        &:first-child > .close_mark {

            display: none;
        }
    }
}

xctrls|panelbox#SherpaConsolePanelbox {

    position: absolute;

    top: 24px;
    right: 30px;
    bottom: 4px;
    left: 30px;

    border: solid 1px #aaa;

    xctrls|panel {

        width: 100%;
        height: 100%;

        text-align: left;
    }
}

/* The snippets popup */

xctrls|popup#SnippetsPopup {

    z-index: var(--tibet-CONTEXT-MENU-TIER);
}

/* The bookmarks popup */

xctrls|popup#BookmarksPopup {

    z-index: var(--tibet-CONTEXT-MENU-TIER);
}

xctrls|list#TSHCompleterList {

    position: absolute !important;

    bottom: 75px;
    left: 220px;

    width: 30em;
    height: 10em;

    max-height: initial;

    line-height: 1.5em;

    border: none;

    overflow-y: auto;

    *[tibet|pelem="choices"] {

        & > xctrls|textitem {

            & > xctrls|label {

                font-family: "Inconsolata";

                & span.match_result {

                    font-weight: bold;
                }
            }
        }
    }
}

sherpa|inspectoritem > div.couchtools {

    font-size: 100%;
    text-align: center;
}

sherpa|inspectoritem > div.couchtools > label {

    font-size: 93%;
    line-height: 1.5em;
}

sherpa|inspectoritem > div.couchtools > input {

    height: 1.25em;

    font-size: 93%;
    line-height: 1em;
}

sherpa|inspectoritem > div.couchtools > button {

    height: 2em;

    margin-top: 1em;

    font-size: 85%;
}

sherpa|inspectoritem > div.couchtools > a {

    display: inline-block;

    margin-top: 1em;

    font-size: 93%;
}

