@namespace sherpa url("http://www.technicalpursuit.com/2014/sherpa");

sherpa|inspectoritem {

    font-family: "Inconsolata", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight: 400;

    position: relative;

    overflow: hidden;

    min-width: 250px;

    /* CSS custom property */
    --sherpa-inspector-width: 1;
}

sherpa|inspectoritem > div {

    position: absolute;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    margin: 0.25em;
    padding: 0.25em;

    border: solid 1px #aaa;
    border-radius: 3px;
}

sherpa|inspectoritem > div.scrollable {

    overflow: auto;
}

sherpa|inspectoritem > div.wrapped {

    white-space: pre-wrap;
}

sherpa|inspectoritem > div.noselect {

    user-select: none;
}

sherpa|inspectoritem > div.readonly {

    border: dashed 1px #aaa;
}

sherpa|inspectoritem > div.usermessage {

    display: flex;

    border: none;

    font-size: 131%;
    font-family: "arial", "helvetica", "clean", sans-serif;
    color: #999;

    align-items: center;
    justify-content: center;
}

sherpa|inspectoritem > div.usermessage a {
    color: #999;
}

sherpa|inspectoritem > div > textarea {

    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 90%;

    margin: 0;
    padding: 0;

    border: none;
    border-radius: initial;

    width: 100%;
    height: 100%;
}

sherpa|inspectoritem[childtype="html:div"] {
}

sherpa|inspectoritem[class~="doublewide"] {

    /* CSS custom property */
    --sherpa-inspector-width: 2;
}
