/**
 * @file progress.css
 * @overview Simple CSS-driven progress bar styles.
 */

.tibet-progress {
    position: relative;
    height: 12px;
    margin: 0 48px;
    background-color: #444;
    background-image: url(../images/dark_fiber.gif);

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    padding: 5px;

    box-shadow: 0 0 0 1px #666;
    border: 2px solid #aaa;
}

.tibet-progress .state {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    height: auto;
    left: 0;
    width: 0;
    margin: 1px;
       -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
           -moz-border-radius-topright: 4px;
        -moz-border-radius-bottomright: 4px;
               border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        -webkit-border-top-left-radius: 4px;
     -webkit-border-bottom-left-radius: 4px;
            -moz-border-radius-topleft: 4px;
         -moz-border-radius-bottomleft: 4px;
                border-top-left-radius: 4px;
             border-bottom-left-radius: 4px;
    background-color: #eee;
    background-image: url(../images/white_fiber.jpg);
    overflow: hidden;
}
