@namespace lama url("http://www.technicalpursuit.com/2020/lama");

lama|dimensionsManipulator {

    position: absolute;

    width: 100%;
    height: 100%;

    z-index: var(--tibet-HALO-POPUP-TIER);
}

lama|dimensionsManipulator .guide {

    position: absolute;
    border: dotted 1px red;
}

lama|dimensionsManipulator .horizontal {

    width: 100%;
    height: 0;
}

lama|dimensionsManipulator .vertical {

    width: 0;
    height: 100%;
}

lama|dimensionsManipulator #northguide {

}

lama|dimensionsManipulator #southguide {

}

lama|dimensionsManipulator #westguide {

}

lama|dimensionsManipulator #eastguide {

}

lama|dimensionsManipulator .readout {

    width: 10em;
    height: 1.5em;

    color: red;

    padding-top: 5px;
    padding-left: 5px;

    border: none;
}
