/*
	CSS styles for the 'xctrls:textitem' control.
*/

@import url('../xctrls_common.css');

@namespace xctrls url(http://www.technicalpursuit.com/2005/xcontrols);
@namespace pclass url(urn:tibet:pseudoclass);

xctrls|textitem
{
	display: inline;
	cursor: pointer;

	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

/* Hovering over the textitem */

xctrls|textitem:hover
{
}

/* Focusing on the textitem */

/* doesn't work in any browser:
xctrls|textitem:focus
*/
xctrls|textitem[pclass|focus]
{
}

/* Clicking down on the textitem */

/* doesn't work in IE9:
xctrls|textitem:active
*/
xctrls|textitem[pclass|active]:not([pclass|disabled]) > xctrls|label
{
	color: red;
}

xctrls|textitem[pclass|active][pclass|selected]:not([pclass|disabled]) > xctrls|label
{
	color: green;
}

/* The textitem is disabled */

/* doesn't work in any browser:
xctrls|textitem:disabled
*/
xctrls|textitem[pclass|disabled] > xctrls|label
{
	opacity: 0.5;

	cursor: default;
}

/* The textitem is selected */

/* doesn't work in any browser:
xctrls|textitem:selected
*/
xctrls|textitem[pclass|selected]
{
}

xctrls|textitem > xctrls|label
{
}

/* Clicking down on the textitem, label must highlight */

/* doesn't work in IE9:
xctrls|textitem:active > xctrls|label
*/
xctrls|textitem[pclass|active] > xctrls|label
{
	color: red;
}

/* The textitem is disabled, so is the label */

/* doesn't work in any browser:
xctrls|textitem:disabled > xctrls|label
*/
xctrls|textitem[pclass|disabled] > xctrls|label
{
	opacity: 0.5;

	cursor: default;
}

/* Any hint that goes along with the textitem  */

xctrls|textitem > xctrls|hint
{
	display: inline-block;

	padding: 1px 1px 0px 0px;

	font-size: 10px;
	white-space: normal;

	vertical-align: text-top;
	clear: both;
}

