@namespace tsh url(http://www.technicalpursuit.com/1999/tshell);
@namespace pclass url(urn:tibet:pseudoclass);

tsh|tag_assistant {

    display: flex;
    flex-direction: column;

	position: absolute;

	top: 0;
	left: 0;
	bottom: 0;
    right: 0;
}

tsh|tag_assistant > .head {

    left: 0;
    right: 0;

    display: none;
}

tsh|tag_assistant > .body {

    position: relative;

    flex-grow: 1;

    top: 0;
    left: 0;
    right: 0;
}

tsh|tag_assistant .form_content {

    margin: 10px;

    display: flex;
    flex-wrap: wrap;
}

tsh|tag_assistant .form_content > * {

    flex: 1 1 calc(100% - 150px);
}

tsh|tag_assistant .form_content > *:nth-child(odd) {

    flex: 0 0 100px;
    align-self: center;
}

tsh|tag_assistant #generatedCmdLine {

    margin-bottom: 10px;
    margin-left: 10px;

    font-size: 100%;

    background-color: #F8F8F8;

    border: dashed 1px black;
}

tsh|tag_assistant > .foot {

    display: flex;
    justify-content: flex-end;

    left: 0px;
    right: 0px;
    bottom: 0px;

    border-top: dotted 1px black;
}

tsh|tag_assistant > .foot > button {

    margin-bottom: 2px;
    margin-right: 2px;

    border: 1px solid #666;
    border-radius: 3px;

    background-color: white;
}

tsh|tag_assistant > .foot > button:hover {

    background-color: gold;
}

