@namespace sherpa url("http://www.technicalpursuit.com/2014/sherpa");
@namespace pclass url("urn:tibet:pseudoclass");
@namespace tibet url("http://www.technicalpursuit.com/1999/tibet");

div[tibet|tag="sherpa:drawer"].corner {

    max-width: 512px;
    max-height: 256px;
}

div[tibet|tag="sherpa:drawer"]:not([pclass|closed]):not([pclass|hidden]).corner {

    width: 48%;
    height: 48%;
}

div[tibet|tag="sherpa:drawer"]:not([pclass|closed]):not([pclass|hidden]).h-edge.north {

    height: var(--sherpa-drawer-north-open-height);
}

div[tibet|tag="sherpa:drawer"]:not([pclass|closed]):not([pclass|hidden]).h-edge.south {

    height: var(--sherpa-drawer-south-open-height);
}

div[tibet|tag="sherpa:drawer"]:not([pclass|closed]):not([pclass|hidden]).v-edge.east {

    width: var(--sherpa-drawer-east-open-width);
}

div[tibet|tag="sherpa:drawer"]:not([pclass|closed]):not([pclass|hidden]).v-edge.west {

    width: var(--sherpa-drawer-west-open-width);
}
