@namespace sherpa url(http://www.technicalpursuit.com/2014/sherpa);
@namespace pclass url(urn:tibet:pseudoclass);

sherpa|breadcrumb {

    position: absolute;
    display: block;

    top: 45px;
    left: 60px;
    right: 0;

    height: 18px;
}

sherpa|breadcrumb > .content {

    font-size: 10px;
    line-height: 1.5em;

    list-style: none;
    overflow: hidden;

    margin: 0;
}

sherpa|breadcrumb > .content li {

    float: left;
}

sherpa|breadcrumb > .content li a {

    position: relative;
    display: block;

    float: left;
    padding: 1px 0 1px 35px;

    color: white !important;
    text-decoration: none;

    background-color: hsla(240,10%,60%,1);
}

sherpa|breadcrumb > .content li a:after {

    content: ' ';

    position: absolute;
    display: block;

    width: 0;
    height: 0;

    top: 50%;
    left: 100%;

    margin-top: -12px;

    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 8px solid hsla(240,10%,60%,1);

    z-index: 2;
}

sherpa|breadcrumb > .content li a:before {

    content: ' ';

    position: absolute;
    display: block;

    width: 0;
    height: 0;

    top: 50%;
    left: 100%;

    margin-top: -12px;
    margin-left: 1px;

    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 8px solid white;

    z-index: 1;
}

sherpa|breadcrumb > .content li:first-child a {

    padding-left: 2px;
}

sherpa|breadcrumb > .content li:nth-child(2) a       { background-color:        hsla(240,10%,70%,1); }
sherpa|breadcrumb > .content li:nth-child(2) a:after { border-left-color: hsla(240,10%,70%,1); }
sherpa|breadcrumb > .content li:nth-child(3) a       { background-color:        hsla(240,10%,75%,1); }
sherpa|breadcrumb > .content li:nth-child(3) a:after { border-left-color: hsla(240,10%,75%,1); }
sherpa|breadcrumb > .content li:nth-child(4) a       { background-color:        hsla(240,10%,80%,1); }
sherpa|breadcrumb > .content li:nth-child(4) a:after { border-left-color: hsla(240,10%,80%,1); }
sherpa|breadcrumb > .content li:nth-child(5) a       { background-color:        hsla(240,10%,85%,1); }
sherpa|breadcrumb > .content li:nth-child(5) a:after { border-left-color: hsla(240,10%,85%,1); }
sherpa|breadcrumb > .content li:nth-child(6) a       { background-color:        hsla(240,10%,90%,1); }
sherpa|breadcrumb > .content li:nth-child(6) a:after { border-left-color: hsla(240,10%,90%,1); }

sherpa|breadcrumb > .content li:last-child a {

    color: black;
    pointer-events: none;
    cursor: default;
}

sherpa|breadcrumb > .content li a:hover {

    background-color: hsla(240,10%,50%,1);
}

sherpa|breadcrumb > .content li a:hover:after {

    border-left-color: hsla(240,10%,50%,1) !important;
}

