@namespace sherpa url("http://www.technicalpursuit.com/2014/sherpa");
@namespace pclass url("urn:tibet:pseudoclass");
@namespace tibet url("http://www.technicalpursuit.com/1999/tibet");

sherpa|gridManipulator {

    position: absolute;

    width: 100%;
    height: 100%;

    z-index: var(--tibet-HALO-POPUP-TIER);
}

sherpa|gridManipulator .guide {

    position: absolute;
    border: dotted 1px red;
}

sherpa|gridManipulator .horizontal {

    width: 100%;
    height: 0;
}

sherpa|gridManipulator .vertical {

    width: 0;
    height: 100%;
}

sherpa|gridManipulator #northguide {

}

sherpa|gridManipulator #southguide {

}

sherpa|gridManipulator #westguide {

}

sherpa|gridManipulator #eastguide {

}

sherpa|gridManipulator .readout {

    width: 10em;
    height: 1.5em;

    color: red;

    padding-top: 5px;
    padding-left: 5px;

    border: none;
}
