@namespace sherpa url(http://www.technicalpursuit.com/2014/sherpa);
@namespace pclass url(urn:tibet:pseudoclass);

sherpa|parents {

    width: 100%;
    height: 100%;
}

sherpa|parents > ul {

    position: absolute;

    top: 0;
    right: 0;
    bottom: 36px;
    left: 0;

    height: auto;
    width: auto;

    margin: 0;
    padding: 0;

    line-height: 18px;

    color: #666;

    font-size: 60%;
    font-family: "Lucida Sans Typewriter", "Courier New", Courier, monospace;
    font-weight: normal;
}

sherpa|parents > ul > li {

    height: 18px;

    padding-left: 0.25em;

    margin: 0.5em;

    border: 1px solid #666;
    border-radius: 9px;

    overflow: hidden;
    text-overflow: ellipsis;

    cursor: pointer;
}

sherpa|parents > ul > li:hover {

    background: gold;

    color: #666;
}

