/*
    CSS styles for 'xctrls:button' controls.
*/

@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");
@namespace pclass url("urn:tibet:pseudoclass");

/* The button */
xctrls|button {

    display: inline-flex;

    box-sizing: border-box;

    justify-content: center;
    align-items: center;

    user-select: none;
}

/* Hovering over the button */
xctrls|button:hover {

}

/* Focusing on the button */
xctrls|button[pclass|focus] {

}

/* Clicking down on the button */
xctrls|button[pclass|active] {

}

/* The button is disabled */
xctrls|button[pclass|disabled] {

}

/* The button label */
xctrls|button > xctrls|label {

    flex: 1;
}

/* Hovering over the button, label must highlight */
xctrls|button:hover > xctrls|label {

}

/* Focusing on the button, label must highlight */
xctrls|button[pclass|focus] > xctrls|label {

}

/* Clicking down on the button, label must highlight */
xctrls|button[pclass|active] > xctrls|label {

}

/* The button is disabled, so is the label */
xctrls|button[pclass|disabled] > xctrls|label {

}
