@namespace sherpa url("http://www.technicalpursuit.com/2014/sherpa");
@namespace pclass url("urn:tibet:pseudoclass");

sherpa|domhud {

    width: 100%;
    height: 100%;
}

sherpa|domhud > ul {

    position: absolute;

    top: 30px;
    right: 0;
    bottom: 36px;
    left: 0;

    height: auto;
    width: auto;

    margin: 0;
    padding: 0;

    line-height: 18px;

    color: #666;

    font-size: 60%;
    font-family: "Lucida Sans Typewriter", "Courier New", "Courier", monospace;
    font-weight: normal;

    overflow: auto;
}

/* All items */

sherpa|domhud > ul.content > li.item {

    margin: 1px 5px;
}

/* DOM node items */

sherpa|domhud > ul.content > li.domnode {

    height: 18px;

    padding-left: 0.25em;

    border: 1px solid #666;
    border-radius: 9px;

    overflow: hidden;
    text-overflow: ellipsis;

    cursor: pointer;
}

sherpa|domhud > ul.content > li.domnode[child="true"] {

    margin-left: 2em;
}

sherpa|domhud > ul.content > li.domnode:hover {

    background-color: rgba(255, 215, 0, 0.5);
    color: #666;
}

sherpa|domhud > ul.content > li.domnode[pclass|selected] {

    background-color: gold;
}

sherpa|domhud > ul.content > li.domnode[pclass|selected]:hover {

    background-color: gold;
}

/* spacer items */

sherpa|domhud > ul.content > li.spacer {

    background-color: transparent;

    height: 3px;

    border: none;

    overflow: hidden;
    text-overflow: ellipsis;

    cursor: default;
}

sherpa|domhud > ul.content > li.spacer.sherpa_droptarget {

    background-color: red;
}

sherpa|domhud > ul.content > li.domnode.sherpa_droptarget {

    font-weight: bold;
}

sherpa|domhud > ul.content > li.domnode.sherpa_droptarget[pclass|selected] {

    font-weight: bold;
}

sherpa|domhud > ul.content > li.domnode.sherpa_droptarget[pclass|selected]:hover {

    font-weight: bold;
}

#DOMAttributes_Tile {

    min-width: 325px;
    min-height: 200px;
}

#DOMAttributes_Tile > .body {

    bottom: 0;

    font-family: monospace;
    font-size: 11px;
}

#DOMAttributes_Tile > .header > .minimize_mark {

    visibility: hidden;
}

#DOMAttributes_Tile > .footer {

    display: none;
}

.dom_attributes input {

    height: 1em;

    margin-left: 0;
    margin-bottom: 2px;
}

.dom_attributes .inserter {

    position: absolute;

    right: 8px;

    width: 24px;
    height: 24px;

    cursor: pointer;

    background-image: url("../media/ic_add_circle_outline_black_24px.svg");
}

.dom_attributes .deleter {

    position: absolute;

    width: 24px;
    height: 24px;

    margin-top: 0;

    cursor: pointer;

    background-image: url("../media/ic_close_black_24px.svg");
}

