/*
    CSS styles for the overall xctrls gallery
*/

@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");
@namespace tibet url("http://www.technicalpursuit.com/1999/tibet");
@namespace svg url("http://www.w3.org/2000/svg");
@namespace pclass url("urn:tibet:pseudoclass");

html,
body {

    border: none;

    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;

    font-family: "Inconsolata", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background:
        repeating-linear-gradient(
            45deg,
            rgb(69 63 175) 0,
            rgb(69 63 175) 10px,
            rgb(191 40 173) 10px,
            rgb(191 40 173) 20px
        );

    color: white;
}

*[data-theme~="tpi"] xctrls|* {
    --xctrls-border-color-normal: orange;
}

xctrls|itemgroup {

    border-style: solid;
    border-width: 2px;
    border-color: --xctrls-border-color-normal;
}

xctrls|panelbox {

    border-style: solid;
    border-width: 2px;
    border-color: --xctrls-border-color-normal;
}

/* Specific to the TIBET logo SVG image that we use for these tests */
xctrls|imageitem > *[tibet|pelem="value"] svg|path {

    fill: black;
    stroke: black;
    stroke-width: 1px;
}

*[data-theme~="tpi"] xctrls|imageitem:hover > *[tibet|pelem="value"] svg|path {

    fill: orange;
}

*[data-theme~="tpi"] xctrls|imageitem[pclass|focus] > *[tibet|pelem="value"] svg|path {

    fill: blue;
}

*[data-theme~="tpi"] xctrls|imageitem[pclass|active] > *[tibet|pelem="value"] svg|path {

    fill: red;
}

*[data-theme~="tpi"] xctrls|imageitem[pclass|selected] > *[tibet|pelem="value"] svg|path {

    fill: green;
}

*[data-theme~="tpi"] xctrls|imageitem[pclass|disabled] > *[tibet|pelem="value"] svg|path {

    fill: grey;
}

span.large {

    font-size: 150%;
}

span.small {

    font-size: 50%;
}

/* States */

thead.states th {

    text-align: center;
}

tbody.states {

    pointer-events: none;
}

tbody.states td {

    border: solid 1px black;
}

/* Layout */

div.container {

    border: dashed 2px rgba(255, 255, 255, 0.6);

    background-color: rgba(86, 61, 124, 0.25);

    margin: 0 auto;

    max-width: 1350px;
}

div.contentsContainer {

    display: contents;
}

div.blockFlowContainer {

    display: block;
}

div.inlineFlowContainer {

    display: inline-block;
}

div.blockTableContainer {

    display: table;
}

div.inlineTableContainer {

    display: inline-table;
}

div.blockFlexRowContainer {

    display: flex;
}

div.blockFlexColContainer {

    display: flex;
    flex-direction: column;
}

div.inlineFlexContainer {

    display: inline-flex;
}

div.blockGridContainer {

    display: grid;
}

div.inlineGridContainer {

    display: inline-grid;
}

/* Box Alignment */

div.boxAlignFlexBox {
}

div.boxAlignFlexBox1 {
}

div.boxAlignFlexBox2 {

    height: 20em;
}

div.boxAlignFlexBox3 {

    height: 20em;
    align-items: flex-start;
}

div.boxAlignFlexBox4 {

    height: 20em;
    align-items: flex-end;
}

div.boxAlignFlexBox5 {

    height: 20em;
    align-items: center;
}

div.boxAlignFlexBox6 {

    height: 20em;
    align-items: baseline;
}

div.boxAlignFlexBox7 {

    height: 20em;
    justify-content: space-between;
}

div.boxAlignFlexBox8 {

    height: 20em;
    justify-content: space-around;
}

div.boxAlignFlexBox9 {

    height: 20em;
    justify-content: flex-end;
}

div.boxAlignFlexBox10 {

    height: 20em;
    justify-content: center;
}

div.boxAlignGrid {

    width: 800px;

    max-width: initial;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 150px 150px 150px 150px;
    grid-gap: 10px;
}

div.boxAlignGrid > *|*:nth-child(1) {

    grid-column: 1 / 5;
    grid-row: 1 / 3;
}

div.boxAlignGrid > *|*:nth-child(2) {

    grid-column: 1 / 4;
    grid-row: 3;
}

div.boxAlignGrid > *|*:nth-child(3) {

    grid-column: 4;
    grid-row: 3 / 5;
}

div.boxAlignGrid > *|*:nth-child(4) {

    grid-column: 1 / 4;
    grid-row: 4;
}

div.boxAlignGrid1 {

    background-image: url("./smashing-grid-alignment-bg.png");

    background-color: transparent;
    border: none;
}

div.boxAlignGrid2 {

    background-image: url("./smashing-grid-alignment-bg.png");

    background-color: transparent;
    border: none;

    align-items: center;
}

div.boxAlignGrid2 > *|*:nth-child(2) {

    align-self: stretch;
}

div.boxAlignGrid3 {

    background-image: url("./smashing-grid-alignment-bg.png");

    background-color: transparent;
    border: none;

    justify-items: center;
}

div.boxAlignGrid3 > *|*:nth-child(2) {

    justify-self: stretch;
}

div.boxAlignGrid4 {

    height: 800px;
    grid-template-columns: 150px 150px 150px 150px;

    background-image: none;

    align-content: start;
    justify-content: start;
}

div.boxAlignGrid5 {

    height: 800px;
    grid-template-columns: 150px 150px 150px 150px;

    align-content: end;
    justify-content: end;
}

div.boxAlignGrid6 {

    height: 800px;
    grid-template-columns: 150px 150px 150px 150px;

    background-image: none;

    align-content: space-around;
    justify-content: space-between;
}

div.boxAlignGrid7 {

    height: 800px;
    grid-template-columns: 150px 150px 150px 150px;

    background-image: none;

    align-content: center;
    justify-content: center;
}

/* Control Box */

div.controlBox {

    margin: 5px;
}

div.controlBox button {

}
