@namespace url("http://www.w3.org/1999/xhtml");
@namespace lama url("http://www.technicalpursuit.com/2020/lama");
@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");

lama|couchDocumentURIInsertionAssistant {

}

lama|couchDocumentURIInsertionAssistant > .head {
}

lama|couchDocumentURIInsertionAssistant > .body {

    display: grid;

    grid-template-rows: 2em 2em 2em 1fr;
    grid-template-areas:
        "insertion_point_group"
        "insertion_position_group"
        "editor_field_label"
        "editor_field_wrapper";

    align-items: center;

    top: 0;
    right: 0;
    bottom: 3em;
    left: 0;

    text-align: left;
}

lama|couchDocumentURIInsertionAssistant > .body .insertionPointGroup {

    grid-area: insertion_point_group;

    display: flex;

    align-items: center;

    margin-left: 0.5em;
    margin-right: 0.5em;
}

lama|couchDocumentURIInsertionAssistant > .body .insertionPointGroup label {

    font-weight: bold;

    margin-top: 5px;
}

lama|couchDocumentURIInsertionAssistant > .body #couchDocumentURIInsertionAssistant_InsertionBreadcrumb {

    position: relative;

    display: block;

    top: 5px;
    left: 5px;
}

lama|couchDocumentURIInsertionAssistant > .body #couchDocumentURIInsertionAssistant_InsertionBreadcrumb > .content div.item {

    color: black;
}

lama|couchDocumentURIInsertionAssistant > .body .insertionPositionGroup {

    grid-area: insertion_position_group;

    display: flex;
    align-items: center;

    margin-left: 0.5em;
    margin-right: 0.5em;
}

lama|couchDocumentURIInsertionAssistant > .body .insertionPositionGroup label {

    font-weight: bold;
}

lama|couchDocumentURIInsertionAssistant > .body .insertionPositionGroup .insertionRadios {

    display: flex;

    margin: 0;
}

lama|couchDocumentURIInsertionAssistant > .body .insertionPositionGroup .insertionRadios li {

    display: flex;

    align-items: center;

    margin-left: 5px;
}

lama|couchDocumentURIInsertionAssistant > .body .insertionPositionGroup .insertionRadios li input {

    margin-right: 4px;
}

lama|couchDocumentURIInsertionAssistant > .body .insertionPositionGroup .insertionRadios li label {

    margin-left: 0;
    margin-right: 4px;

    font-weight: normal;
}

lama|couchDocumentURIInsertionAssistant > .body .editorFieldLabel {

    grid-area: editor_field_label;

    margin-left: 0.5em;
    margin-right: 0.5em;

    font-weight: bold;
}

lama|couchDocumentURIInsertionAssistant > .body .editorFieldWrapper {

    grid-area: editor_field_wrapper;

    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
}

lama|couchDocumentURIInsertionAssistant > .body .editorFieldWrapper > textarea {

    width: 100%;
    height: 25em;

    margin: 0;

    box-sizing: border-box;
}

lama|couchDocumentURIInsertionAssistant > .foot {

}

lama|couchDocumentURIInsertionAssistant > .foot button {

    cursor: pointer;
}
