/*
	CSS styles for 'xctrls:button' controls.
*/

@import url('../xctrls_common.css');

@namespace xctrls url(http://www.technicalpursuit.com/2005/xcontrols);
@namespace pclass url(urn:tibet:pseudoclass);

/* The button */

xctrls|button
{
	display: inline-block;
	
	position: relative;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

/* Hovering over the button */

xctrls|button:hover
{
}

/* Focusing on the button */

/* doesn't work in any browser:
xctrls|button:focus
*/
xctrls|button[pclass|focus]
{
}

/* Clicking down on the button */

/* doesn't work in IE9:
xctrls|button:active
*/
xctrls|button[pclass|active]
{
}

/* The button is disabled */

/* doesn't work in any browser:
xctrls|button:disabled
*/
xctrls|button[pclass|disabled]
{
}

/* The button label */

xctrls|button > xctrls|label
{
}

/* Clicking down on the button, label must highlight */

/* doesn't work in IE9:
xctrls|button:active > xctrls|label
*/
xctrls|button[pclass|active] > xctrls|label
{
}

/* The button is disabled, so is the label */

/* doesn't work in any browser:
xctrls|button:disabled > xctrls|label
*/
xctrls|button[pclass|disabled] > xctrls|label
{
}
