@namespace lama url("http://www.technicalpursuit.com/2020/lama");
@namespace pclass url("urn:tibet:pseudoclass");
@namespace tibet url("http://www.technicalpursuit.com/1999/tibet");

@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");

lama|halocontextmenu {

    display: block;

    width: 128px;
    height: 256px;

    background-color: #efefef;

    border: 1px solid #666;
    border-radius: 5px;

    box-shadow: 3px 3px 3px #aaa;
}

xctrls|popup[class~="lamahalocontextmenu"] {

    z-index: var(--tibet-CONTEXT-MENU-TIER);
}

lama|halocontextmenu > .header {

    position: absolute;

    top: 0;
    right: 0;
    left: 0;

    height: 30px;

    margin: 2px;

    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    background-color: #efefef;

    min-width: auto;

    border: 1px solid #666;

    overflow: hidden;

    text-align: center;
}

lama|halocontextmenu > .header > .title {

    font-weight: bold;
    font-size: 108%;

    line-height: 30px;
}

lama|halocontextmenu > .body {

    position: absolute;

    top: 31px;
    bottom: 31px;
    right: 0;
    left: 0;

    min-width: auto;

    margin: 2px;

    border: 1px solid #666;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

    background-color: #fff;

    text-align: center;
}

lama|halocontextmenu > .footer {

    position: absolute;

    right: 0;
    left: 0;
    bottom: 0;

    height: 32px;

    background-color: #efefef;

    border-top: solid 1px #666;

    margin-right: 2px;
    margin-left: 2px;
    margin-bottom: 2px;
}

lama|halocontextmenu > .footer > lama|scrollbutton {

}

lama|halocontextmenu > .footer > lama|scrollbutton[orientation="up"] {

    top: 5px;
    right: 5em;
}

lama|halocontextmenu > .footer > lama|scrollbutton[orientation="up"] .icon::after {

    /* This is the same as '&#8593' */
    content: "\2191";
}

lama|halocontextmenu > .footer > lama|scrollbutton[orientation="down"] {

    top: 5px;
    right: 3em;
}

lama|halocontextmenu > .footer > lama|scrollbutton[orientation="down"] .icon::after {

    /* This is the same as '&#8595' */
    content: "\2193";
}

lama|halocontextmenu[class~="overflowing"] .footer > lama|scrollbutton {

    display: block;
}
