@namespace tsh url("http://www.technicalpursuit.com/1999/tshell");
@namespace pclass url("urn:tibet:pseudoclass");

tsh|method_assistant {

    position: absolute;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    overflow: hidden;
}

tsh|method_assistant > .head {
}

tsh|method_assistant > .body {

    position: absolute;
    display: grid;

    grid-template-rows: 3em 3em 3em 3em;
    grid-template-columns: 9em 1fr;
    grid-template-areas:
        "methodkind_field_label methodkind_field_group"
        "methodowner_field_label methodowner_field_input"
        "methodtrack_field_label methodtrack_field_group"
        "methodname_field_label methodname_field_input";

    top: 0;
    right: 0;
    left: 0;
    bottom: 7em;

    text-align: left;

    align-items: center;
}

tsh|method_assistant > .body label {

    font-weight: bold;

    margin-left: 5px;

    justify-self: end;
}

tsh|method_assistant > .body input[type="text"] {

    width: calc(100% - 1.5em);

    margin-left: 5px;
}

tsh|method_assistant > .body label[for="method_assistant_MethodKindRadios"] {

    grid-area: methodkind_field_label;
}

tsh|method_assistant > .body .methodKindRadios#method_assistant_MethodKindRadios {

    grid-area: methodkind_field_group;

    position: absolute;
    display: flex;

    margin: 0;
}

tsh|method_assistant > .body > .methodKindRadios li {

    display: flex;

    align-items: center;

    margin-left: 5px;
}

tsh|method_assistant > .body > .methodKindRadios li input {

    margin-right: 4px;
}

tsh|method_assistant > .body > .methodKindRadios li label {

    margin-left: 0;
    margin-right: 4px;

    font-weight: normal;
}

tsh|method_assistant > .body label[for="method_assistant_MethodOwnerTypeNameField"] {

    grid-area: methodowner_field_label;
}

tsh|method_assistant > .body input#method_assistant_MethodOwnerTypeNameField {

    grid-area: methodowner_field_input;
}

tsh|method_assistant > .body label[for="method_assistant_MethodTrackRadios"] {

    grid-area: methodtrack_field_label;
}

tsh|method_assistant > .body .methodTrackRadios#method_assistant_MethodTrackRadios {

    grid-area: methodtrack_field_group;

    position: absolute;
    display: flex;

    margin: 0;
}

tsh|method_assistant > .body > .methodTrackRadios li {

    display: flex;

    align-items: center;

    margin-left: 5px;
}

tsh|method_assistant > .body > .methodTrackRadios li input {

    margin-right: 4px;
}

tsh|method_assistant > .body > .methodTrackRadios li label {

    margin-left: 0;
    margin-right: 4px;

    font-weight: normal;
}

tsh|method_assistant > .body label[for="method_assistant_MethodNameField"] {

    grid-area: methodname_field_label;
}

tsh|method_assistant > .body input#method_assistant_MethodNameField {

    grid-area: methodname_field_input;
}

tsh|method_assistant > .foot {

    position: absolute;

    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;

    height: 7em;
}

tsh|method_assistant > .foot #generatedCmdLine {

    display: inline-block;

    width: 90%;
    height: 4em;

    padding: 0 12px;
    margin: 0 20px;

    font-size: 100%;
    line-height: 1.2em;

    border: dotted 1px black;

    text-align: left;

    background-color: cornsilk;

    overflow: auto;

    word-break: break-word;

    user-select: text;
}
