@namespace sherpa url("http://www.technicalpursuit.com/2014/sherpa");
@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");
@namespace pclass url("urn:tibet:pseudoclass");

sherpa|tofuInsertionAssistant {

    position: absolute;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    overflow: auto;
}

sherpa|tofuInsertionAssistant > .head {
}

sherpa|tofuInsertionAssistant > .body {

    position: absolute;

    display: grid;

    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas:
        "insertion_data insertion_data"
        "type_chooser insertion_details";

    top: 0;
    left: 0;
    right: 0;
    bottom: 6em;

    overflow: hidden;

    text-align: left;
}

sherpa|tofuInsertionAssistant > .foot {

    position: absolute;

    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;

    height: 6em;
}

sherpa|tofuInsertionAssistant > .body .insertion_data {

    grid-area: insertion_data;

    top: 0;
    left: 0;
    width: 100%;
}

sherpa|tofuInsertionAssistant > .body .insertion_point {

    height: 1.5em;

    line-height: 1.5em;

    margin: 12px;
    padding: 0;
}

sherpa|tofuInsertionAssistant > .body .insertion_point label {

    margin: 12px 0 0 8px;
}

sherpa|tofuInsertionAssistant > .body .insertion_position {

    display: flex;
    position: relative;

    align-items: center;

    margin-left: 12px;
}

sherpa|tofuInsertionAssistant > .body .insertion_position label {

    margin: 0 12px 0 8px;
}

sherpa|tofuInsertionAssistant > .body .insertion_position .flex_inner {

    display: flex;

    align-items: center;

    height: 1.5em;
    width: 100%;

    line-height: 1.5em;

    margin: 0;
    padding: 0;
}

sherpa|tofuInsertionAssistant > .body .insertion_position .flex_inner li {

    display: flex;

    align-items: center;

    margin-right: 2em;
}

sherpa|tofuInsertionAssistant > .body .insertion_position .flex_inner li input {

    margin-right: 4px;
}

sherpa|tofuInsertionAssistant > .body .insertion_position .flex_inner li label {

    margin-left: 0;
    margin-right: 4px;
}

sherpa|tofuInsertionAssistant > .body .insertion_details {

    position: relative;

    grid-area: insertion_details;

    padding-left: 5px;
    padding-right: 5px;
}

sherpa|tofuInsertionAssistant > .body .insertion_details .flex_outer {

    margin-left: 0;
}

sherpa|tofuInsertionAssistant > .body .insertion_details .flex_outer li,
.flex-inner {

    position: relative;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

sherpa|tofuInsertionAssistant > .body .insertion_details .flex_outer > li > label {

    flex: 1 0 100px;

    max-width: 100px;
}

sherpa|tofuInsertionAssistant > .body .insertion_details .flex_outer > li > label + * {

    margin: 0;
}

sherpa|tofuInsertionAssistant > .body .insertion_details input {

    margin-left: 10px;
}

sherpa|tofuInsertionAssistant > .body .insertion_details input:checked + label {

    font-weight: bold;
}

sherpa|tofuInsertionAssistant > .body .insertion_details div.insertion_attrs {

    position: absolute;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

sherpa|tofuInsertionAssistant > .body #tofuInsertionAssistant_TypeChooser {

    grid-area: type_chooser;

    padding-left: 5px;
    padding-right: 5px;
}

sherpa|tofuInsertionAssistant > .body #tofuInsertionAssistant_TypeChooser input {

    width: calc(100% - 7em);
}

xctrls|list#tofuInsertionAssistant_TagTypes {

    width: 100%;
    height: 9em;

    overflow-y: auto;

    line-height: 1.5;
}

#tofuInsertionAssistant_AttributesTable {

    width: 100%;
    height: 100%;
}

#tofuInsertionAssistant_AttributesTable label {

    position: absolute;

    top: 10px;
    left: 5px;
}

#tofuInsertionAssistant_AttributesTable .inserter {

    position: absolute;

    top: 2px;
    right: 0;

    width: 24px;
    height: 24px;

    cursor: pointer;

    background-size: 75%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-image: url("../media/ic_add_circle_outline_black_24px.svg");
}

#tofuInsertionAssistant_Attributes {

    position: absolute;

    top: 2.5em;
    right: 0;
    bottom: 1.5em;
    left: 0;

    border: dotted 1px gray;

    overflow-y: auto;
}

#tofuInsertionAssistant_Attributes > span {

    display: flex;

    width: 100%;
}

#tofuInsertionAssistant_Attributes > span input {

    width: auto;
    height: 1em;

    margin-left: 0;
    margin-right: 0;
    margin-bottom: 2px;
}

#tofuInsertionAssistant_Attributes .deleter {

    width: 24px;
    height: 24px;

    cursor: pointer;

    background-size: 50%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-image: url("../media/ic_close_black_24px.svg");
}

#tofuInsertionAssistant_InsertionBreadcrumb {

    display: block;

    top: 12px;
    left: 7em;
}

#tofuInsertionAssistant_InsertionBreadcrumb > .content div.item {

    color: black;
}

sherpa|tofuInsertionAssistant > .foot #generatedTag {

    display: inline-block;

    font-size: 100%;

    background-color: cornsilk;

    border: dotted 1px black;

    width: 90%;
    height: 1.5em;

    line-height: 1.5em;

    padding: 0 12px;
    margin: 0 12px;

    text-align: left;
}

