@namespace sherpa url("http://www.technicalpursuit.com/2014/sherpa");
@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");
@namespace pclass url("urn:tibet:pseudoclass");

sherpa|tofuInsertionAssistant {

    position: absolute;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    overflow: auto;
}

sherpa|tofuInsertionAssistant > .head {
}

sherpa|tofuInsertionAssistant > .body {

    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 6em;

    overflow: auto;
}

sherpa|tofuInsertionAssistant > .foot {

    position: absolute;

    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;

    height: 6em;
}

sherpa|tofuInsertionAssistant > .body .insertion_data {

    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 4em;

    text-align: left;
}

sherpa|tofuInsertionAssistant > .body .insertion_data div.insertion_attrs {

    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

sherpa|tofuInsertionAssistant > .body .insertion_point {

    height: 1.5em;

    line-height: 1.5em;

    margin: 12px;
    padding: 0;
}

sherpa|tofuInsertionAssistant > .body .insertion_point label {

    margin: 12px 0 0 8px;
}

sherpa|tofuInsertionAssistant > .body .insertion_position {

    display: flex;
    position: relative;

    align-items: center;

    margin-left: 12px;
}

sherpa|tofuInsertionAssistant > .body .insertion_position label {
    margin: 0 12px 0 8px;
}

sherpa|tofuInsertionAssistant > .body .insertion_position .flex_inner {

    display: flex;

    align-items: center;

    height: 1.5em;
    width: 100%;

    line-height: 1.5em;

    margin: 0;
    padding: 0;
}

sherpa|tofuInsertionAssistant > .body .insertion_position .flex_inner li {

    display: flex;

    align-items: center;

    margin-right: 2em;
}

sherpa|tofuInsertionAssistant > .body .insertion_position .flex_inner li input {

    margin-right: 4px;
}

sherpa|tofuInsertionAssistant > .body .insertion_position .flex_inner li label {

    margin-left: 0;
    margin-right: 4px;
}

sherpa|tofuInsertionAssistant > .body .insertion_details {

    position: absolute;

    right: 0;
    top: 5.25em;
    left: 250px;

    font-size: 102%;

    text-align: left;
}

sherpa|tofuInsertionAssistant > .body .insertion_details .flex_outer {

    margin-left: 0;
}

sherpa|tofuInsertionAssistant > .body .insertion_details .flex_outer li,
.flex-inner {

    position: relative;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

sherpa|tofuInsertionAssistant > .body .insertion_details .flex_outer > li > label {

    flex: 1 0 100px;

    max-width: 100px;
}

sherpa|tofuInsertionAssistant > .body .insertion_details .flex_outer > li > label + * {

    margin: 0;
}

sherpa|tofuInsertionAssistant > .body .insertion_details input {

    margin-left: 10px;
}

sherpa|tofuInsertionAssistant > .body .insertion_details input:checked + label {

    font-weight: bold;
}

sherpa|tofuInsertionAssistant > .body #tofuInsertionAssistant_TypeChooser {

    position: absolute;

    top: 6em;
    left: 20px;
}

sherpa|tofuInsertionAssistant > .body #tofuInsertionAssistant_TypeChooser input {

    margin: 0 0 12px;
}

xctrls|list#tofuInsertionAssistant_TagTypes {

    width: 100%;
    height: 9em;

    overflow-y: auto;

    line-height: 1.5;
}

#tofuInsertionAssistant_Attributes {

    margin-top: 16px;
}

#tofuInsertionAssistant_AttributesTable label {

    margin-bottom: 12px;
}

#tofuInsertionAssistant_AttributesTable input {

    height: 1em;
    width: 9.5em;

    margin-left: 0;
    margin-bottom: 2px;
}

#tofuInsertionAssistant_AttributesTable .deleter {

    position: absolute;

    width: 24px;
    height: 24px;

    margin-top: 0;

    cursor: pointer;

    background-size: 50%;
    background-repeat: no-repeat;
    background-position-y: center;
    background-image: url("../media/ic_close_black_24px.svg");
}

sherpa|tofuInsertionAssistant > .body .insertion_details .inserter {

    width: 24px;
    height: 24px;

    cursor: pointer;

    float: right;

    margin-right: 0;
    margin-top: -3px;

    background-size: 75%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-image: url("../media/ic_add_circle_outline_black_24px.svg");
}

#tofuInsertionAssistant_InsertionBreadcrumb {

    display: block;

    top: 12px;
    left: 7em;
}

#tofuInsertionAssistant_InsertionBreadcrumb > .content div.item {

    color: black;
}

sherpa|tofuInsertionAssistant > .foot #generatedTag {

    display: inline-block;

    font-size: 100%;

    background-color: cornsilk;

    border: dotted 1px black;

    width: 90%;
    height: 1.5em;

    line-height: 1.5em;

    padding: 0 12px;
    margin: 0 20px 12px;

    text-align: left;
}

