@namespace sherpa url("http://www.technicalpursuit.com/2014/sherpa");
@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");
@namespace pclass url("urn:tibet:pseudoclass");

sherpa|couchDocumentURIInsertionAssistant {

    position: absolute;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

sherpa|couchDocumentURIInsertionAssistant > .head {
}

sherpa|couchDocumentURIInsertionAssistant > .body {

    margin-left: 10px;

    text-align: left;
}

sherpa|couchDocumentURIInsertionAssistant > .body > #couchDocumentURIAssistant_Schema {

    width: 80%;
    height: 185px;

    margin-top: 20px;
}

sherpa|couchDocumentURIInsertionAssistant > .body > label[for="couchDocumentURIAssistant_Schema"] {

    position: relative;
    top: -92px;
}

sherpa|couchDocumentURIInsertionAssistant > .body > #couchDocumentURIAssistant_Schemafile {

    margin: 13px;
}

sherpa|couchDocumentURIInsertionAssistant > .body .insertion_details {

    width: 100%;
}

sherpa|couchDocumentURIInsertionAssistant > .body .insertion_details .flex_outer {
    margin: 0;
}

sherpa|couchDocumentURIInsertionAssistant > .body .insertion_details .flex_outer li,
.flex-inner {

    position: relative;

    display: flex;
    flex-wrap: wrap;
    align-items: center;

    min-height: 2em;
}

sherpa|couchDocumentURIInsertionAssistant > .body .insertion_details .flex_outer > li > label {
    margin: 12px;
}

sherpa|couchDocumentURIInsertionAssistant > .body .insertion_details .flex_outer > li > label + *,
.flex_inner {

    margin: 0;
}

sherpa|couchDocumentURIInsertionAssistant > .body .insertion_details .flex_outer li#couchDocumentURIAssistant_Schemafile_row {

    min-height: 3em;
}

sherpa|couchDocumentURIInsertionAssistant > .body .insertion_details .flex_inner {

    justify-content: space-between;
}

sherpa|couchDocumentURIInsertionAssistant > .body .insertion_details .flex_inner li {

}

sherpa|couchDocumentURIInsertionAssistant > .foot {
    text-align: center;
    margin-top: 12px;
}

sherpa|couchDocumentURIInsertionAssistant > .body .insertion_details input[type="text"] {

    width: 50em;
}

sherpa|couchDocumentURIInsertionAssistant > .body .insertion_details div.editor {
    position: relative;
    flex: 1 0;
    margin: 0 28px 12px 12px;
    height: 9em;
}

sherpa|couchDocumentURIInsertionAssistant > .body .insertion_details textarea {
    width: 100%;
    height: 100%;
    margin: 0;
}

sherpa|couchDocumentURIInsertionAssistant > .body .insertion_details input {

    margin-left: 10px;
}

sherpa|couchDocumentURIInsertionAssistant > .body .insertion_details input:first-child {

    margin-left: 0;
}

sherpa|couchDocumentURIInsertionAssistant > .body .insertion_details input:checked + label {
    font-weight: normal;
}

#couchDocumentURIInsertionAssistant_InsertionBreadcrumb {

    position: relative;
    display: block;

    top: 0;
}

#couchDocumentURIInsertionAssistant_InsertionBreadcrumb > .content div.item {

    color: black;
}
