@namespace sherpa url("http://www.technicalpursuit.com/2014/sherpa");
@namespace pclass url("urn:tibet:pseudoclass");
@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");

sherpa|respondershud {

    width: 100%;
    height: 100%;

    background: white;
}

sherpa|respondershud > ul {

    position: absolute;

    top: 8px;
    right: 0;
    bottom: 42px;
    left: 0;

    height: auto;
    width: auto;

    margin: 0;
    padding: 0;

    color: #666;

    font-size: 60%;
    font-family: "Lucida Sans Typewriter", "Courier New", "Courier", monospace;
    font-weight: normal;

    overflow: auto;
}

sherpa|respondershud > ul.content > li {

    height: 1.75em;
    line-height: 1.75em;

    padding-left: 0.25em;

    /* note this top/bottom margin differs from dom/styles since no spacers */
    margin: 6px 8px;

    border: 1px solid #666;
    border-radius: 5px;

    overflow: hidden;
    text-overflow: ellipsis;

    cursor: pointer;
}

sherpa|respondershud > ul.content > li:first-child {
    margin-top: 0;
}

sherpa|respondershud > ul.content > li:hover {
    background-color: #c2d7cd;
    color: black;
}

sherpa|respondershud > ul.content > li[pclass|selected] {
    background-color: #86af9b;
    border: 1px solid black;
    color: black;
}

sherpa|respondershud > ul.content > li[pclass|selected]:hover {
    background-color: #86af9b;
}

sherpa|respondershud > ul.content > li[type="element"] {
}

sherpa|respondershud > ul.content > li[type="controller"] {
    background-color: #e6efeb;
}

/* We omitted 'sherpa|tile' here because of this bug in stylelint:
 * https://github.com/stylelint/stylelint/issues/2711
 */

#ResponderSummary_Tile {

    min-width: 300px;
    min-height: 270px;
}

#ResponderSummary_Tile > .body {

    font-family: "Lucida Sans Typewriter", "Courier New", "Courier", monospace;
    font-size: 100%;

    background: white;
    padding: 0;
}

#ResponderSummary_Tile > .header {
    background: #c2d7cd;
}

#ResponderSummary_Tile > .header > .minimize_mark {

    visibility: hidden;
}

#ResponderSummary_Tile > .footer {
    background: #f9f9f9;
}

#ResponderSummary_Tile > .body > #ResponderMethodList {

    position: absolute;

    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    width: 100%;
    height: 100%;

    border: 0;
    border-radius: 0;

    line-height: inherit;

    /* The item height *with* borders */
    --xctrls-item-height: 18px;

    /* The border height (top and bottom added together) */
    --xctrls-item-border-height: 2px;
}

#ResponderSummary_Tile > .body > #ResponderMethodList xctrls|textitem {

    position: relative;

    height: 2em;
    line-height: 2em;

    transform: none;
}

#ResponderSummary_Tile > .body > #ResponderMethodList xctrls|textitem[grouping] {
}

#ResponderSummary_Tile > .body > #ResponderMethodList xctrls|textitem xctrls|label {

    display: block;
    height: 2em;
    line-height: 2em;
    padding-left: 12px;
}

#ResponderSummary_Tile > .body > #ResponderMethodList xctrls|textitem[grouping] xctrls|label {

    padding-left: 6px;
}

