@namespace lama url("http://www.technicalpursuit.com/2020/lama");
@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");
@namespace pclass url("urn:tibet:pseudoclass");

lama|methodeditor {

    display: flex;
    position: absolute;

    flex-direction: column;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

lama|methodeditor > .body {

    position: relative;

    flex-grow: 1;

    top: 0;
    left: 0;
    right: 0;

    overflow-x: hidden;
    overflow-y: auto;
}

lama|methodeditor > .head {

    left: 0;
    right: 0;
}

lama|methodeditor > .foot {

    display: none;

    justify-content: flex-end;

    left: 0;
    right: 0;
    bottom: 0;

    border-top: dotted 1px black;
}

lama|methodeditor[detached] > .foot {

    display: flex;
}

lama|methodeditor > .foot > button {

    margin-bottom: 2px;
    margin-right: 2px;

    font-size: 10px;

    line-height: 0.8;
}

lama|methodeditor > .foot > button[action="revert"] {

    margin-right: auto;
}

lama|methodeditor > .foot > .detach_mark {

    display: block;

    margin: 0.25em;

    margin-left: 0;
    margin-right: 0;

    width: 16px;
    height: 16px;

    background-color: white;
    color: #333;

    border: 1px solid #666;
    border-radius: 9px;

    line-height: 14px;
    text-align: center;

    font-family: "arial", "helvetica", "clean", sans-serif;
    font-size: 12px;

    cursor: pointer;

    background-size: 14px 14px;
    background-image: url("../media/call49.svg");
    background-position-x: 1px;
}

lama|methodeditor > .foot > .detach_mark:hover {

    background-color: gold;
}

lama|methodeditor xctrls|codeeditor > .CodeMirror {

    font-size: 12px;
    height: 100%;
}

lama|methodeditor xctrls|codeeditor > .CodeMirror-scroll {

    overflow-x: auto;
    overflow-y: auto;
}

lama|inspectoritem[childtype="lama:methodeditor"] {

    /* CSS custom property */
    --lama-inspector-width: 2;
}
