@namespace lama url("http://www.technicalpursuit.com/2020/lama");
@namespace pclass url("urn:tibet:pseudoclass");
@namespace tibet url("http://www.technicalpursuit.com/1999/tibet");

lama|gridManipulator {

    position: absolute;

    width: 100%;
    height: 100%;

    z-index: var(--tibet-HALO-POPUP-TIER);
}

lama|gridManipulator .guide {

    position: absolute;
    border: dotted 1px red;
}

lama|gridManipulator .horizontal {

    width: 100%;
    height: 0;
}

lama|gridManipulator .vertical {

    width: 0;
    height: 100%;
}

lama|gridManipulator #northguide {

}

lama|gridManipulator #southguide {

}

lama|gridManipulator #westguide {

}

lama|gridManipulator #eastguide {

}

lama|gridManipulator .readout {

    width: 10em;
    height: 1.5em;

    color: red;

    padding-top: 5px;
    padding-left: 5px;

    border: none;
}
