@namespace tibet url(http://www.technicalpursuit.com/1999/tibet);
@namespace pclass url(urn:tibet:pseudoclass);

tibet|tofu {

    display: block;
    position: relative;

    min-height: -webkit-min-content;

    width: 100px;
    height: 1.5em;

    border: solid 1px #CCCCCC;

    text-align: center;
    line-height: 1.5em;

    background: repeating-linear-gradient(60deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) 10px, rgba(204, 204, 204, 0.5) 10px, rgba(204, 204, 204, 0.5) 15px);

    color: gold;

    overflow: hidden;

    cursor: pointer;
}

tibet|tofu > .content {
    display: none;
}

