<div id="content">

<div class="yesscript">
    <div class="detail-intro">
        <a class="image-link" href="#" onclick="stageAction()">
            <img id="LOGIN-IMAGE" alt="Current Stage Icon"
                src="./TIBET-INF/boot/media/alert.png"/>
        </a>
        <blockquote id="LOGIN-HEAD" class="lead boot-stage">500</blockquote>
        <blockquote id="LOGIN-SUBHEAD" class="follow">{{error}}</blockquote>
    </div>

    <div id="LOGIN-SPLASH">
    </div>
</div>

</div>
