\{{> sechead}}
<p><img alt="Contact" src="../media/contact.png" class="smallthumb"/></p>
<h1 class="title">Contact Us</h1>
<hr/>
\{{> secfoot}}

\{{> sechead}}
<br/>

<p>You can contact us at:</p>

\{{> secfoot}}
