<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

<title>{{appname}}</title>
<link rel="shortcut icon" href="/media/favicon.ico" type="image/x-icon"/>
<link rel="icon" href="/media/favicon.ico" type="image/x-icon"/>
<link rel="stylesheet" href="/styles/index.css" type="text/css"/>

</head>
<body>

<iframe id="UIROOT" frameborder="0"
    src="/TIBET-INF/boot/xhtml/blank.xhtml"></iframe>

\{{#if parallel}}
<!-- Direct splash/boot page to the login route when parallel booting. -->
<iframe id="UIBOOT" frameborder="0" src="/login"></iframe>
\{{else}}
<!-- Use default progress display when not using parallel booting. -->
<iframe id="UIBOOT" frameborder="0"
    src="/TIBET-INF/boot/xhtml/UIBOOT.xhtml"></iframe>
\{{/if}}

<script src="/TIBET-INF/tibet/lib/src/tibet_loader.min.js"></script>

<script src="/index.js"></script>
</body>
</html>
