\{{> sechead}}
<p><img alt="Press" src="../media/app_logo.png" class="smallthumb"/></p>
<h1 class="title">Press</h1>
<hr/>
\{{> secfoot}}

\{{> sechead}}
<br/>
<p>For additional information please <a href="/contact.html">contact us</a>.</p>
\{{> secfoot}}
