/*
    CSS styles for the 'xctrls:codeeditor' control.
*/

@import url("../TP.xctrls_common.css");

@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");

xctrls|codeeditor {

    position: absolute;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

xctrls|codeeditor > div {

    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

xctrls|codeeditor .ace_editor {

    font-size: 77%;
}

/* Add a rule that overrides the 'display' value of the internal vertical
 * scrollbar component for ACE. This is very important to get the auto-resizing
 * code to work properly, since the ACE code will keep trying to set 'display'
 * to 'none' on the element itself, which causes our sizing code to not be able
 * to compute properly */
xctrls|codeeditor .ace_scrollbar-v {

    display: block !important;
}
