{
    "env": {
        "browser": true,
        "node": true
    },
    "globals": {
        "TP": true,
        "APP": true
    },
    "rules": {
        "consistent-return": false,
        "quotes": "single",
        "strict": false
    }
}
