@import url("sherpa_pp.css");

@namespace sherpa url(http://www.technicalpursuit.com/2014/sherpa);
@namespace xctrls url(http://www.technicalpursuit.com/2005/xcontrols);
@namespace pclass url(urn:tibet:pseudoclass);

sherpa|console {

    display: block;
    position: absolute;

    top: 2px;
    right: 0px;
    bottom: 2px;
    left: 0px;

    /* Because we're display: relative, we need use margins for left and
        right */
    margin-left: 3px;
    margin-right: 3px;

    /* This should match TIBET's CONSOLE_INPUT_TIER constant */
    z-index: 20000;

    border: 1px solid black;
    border-radius: 3px;
    padding: 2px;
    padding-top: 3px;
    padding-bottom: 3px;

    text-align: left;
    line-height: 1.0;
}

sherpa|console[pclass|hidden] {

    height: 0px;
}

sherpa|console > xctrls|codeeditor {

    margin: 1px;

    /*border-radius: 3px;*/
}

sherpa|console > xctrls|codeeditor > .CodeMirror {

    background-color: transparent;
    height: 100%;
}

sherpa|console > xctrls|codeeditor[pclass|focus] > .CodeMirror {

    background-color: white;
}

sherpa|console > xctrls|codeeditor:hover > .CodeMirror {

    background-color: gold;
}

sherpa|console > xctrls|codeeditor .CodeMirror-scroll {

    overflow-x: auto !important;
    overflow-y: hidden !important;
}

#sherpaPrompt {

    display: inline-block;

    cursor: default;

    margin-right: 6px;

    line-height: 12px;

    /* This is to 'pad out' the right hand side to account for the 14px wide
       indicator icons below. Otherwise, the cursor will show up 14px more to
       the left than we want */
    padding-right: 14px;
}

#sherpaPrompt > .text {

    position: relative;
    bottom: 0px;
    left: 16px;

    font-family: "Lucida Sans Typewriter", "Courier New", Courier, monospace;
    font-size: 12px;

    white-space: nowrap;
}

#sherpaPrompt > .indicator {

    display: none;

    position: absolute;

    top: -4px;

    width: 3px;
    height: 3px;

    border-radius: 1px;
}

/*
#sherpaPrompt > [name="eval"].indicator {

    top: 3px;
    left: 0px;

    background-color: #D64141;
}
*/

#sherpaPrompt > [name="autocomplete"].indicator {

    top: 0px;
    left: 2px;

    width: 14px;
    height: 14px;

    background-size: 14px 14px;
    background-image: url(../media/light88.svg);

    transform: rotate(180deg);
}

.match_history_entry::before {

    content: '\00BB  ';
    color: #387DF1;
}

