@import url("~ide_root/css/sherpa_pp.css");

@namespace sherpa url(http://www.technicalpursuit.com/2014/sherpa);
@namespace xctrls url(http://www.technicalpursuit.com/2005/xcontrols);
@namespace tibet url(http://www.technicalpursuit.com/1999/tibet);
@namespace pclass url(urn:tibet:pseudoclass);

sherpa|console {

    display: block;
    position: absolute;

    top: 30px;
    right: 28px;
    left: 28px;
    bottom: 4px;

    /* Because we're display: relative, we need use margins for left and
        right */
    margin-left: 3px;
    margin-right: 3px;

    /* This should match TIBET's CONSOLE_INPUT_TIER constant */
    z-index: 20000;

    border: 1px solid black;
    border-radius: 3px;

    padding: 2px;
    padding-top: 3px;
    padding-bottom: 3px;

    text-align: left;
    line-height: 1.0;
}

sherpa|console[pclass|hidden] {

    height: 0;
}

sherpa|console > xctrls|codeeditor {

    margin: 1px;

    /*border-radius: 3px;*/
}

sherpa|console > xctrls|codeeditor > .CodeMirror {

    height: 100%;

    background-color: transparent;
}

sherpa|console > xctrls|codeeditor[pclass|focus] > .CodeMirror {

    background-color: white;
}

sherpa|console > xctrls|codeeditor:hover > .CodeMirror {

    background-color: gold;
}

div[tibet|tag="sherpa:drawer"][pclass|closed] sherpa|console > xctrls|codeeditor .CodeMirror-scroll {

    overflow-x: auto !important;
    overflow-y: hidden !important;
}

.match_history_entry::before {

    content: '\00BB  ';

    color: #387DF1;
}

