/**
 * @overview 'TP.xctrls.menuitem' styles.
 */

@namespace url("http://www.w3.org/1999/xhtml");
@namespace tibet url("http://www.technicalpursuit.com/1999/tibet");
@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");
@namespace svg url("http://www.w3.org/2000/svg");
@namespace pclass url("urn:tibet:pseudoclass");

xctrls|menuitem {
    display: flex;
    user-select: none;
}

/* Hovering over the menuitem */
xctrls|menuitem:hover {

}

/* Focusing on the menuitem */
xctrls|menuitem[pclass|focus] {

}

/* Clicking down on the menuitem */
xctrls|menuitem[pclass|active] {

}

/* The menuitem is disabled */
xctrls|menuitem[pclass|disabled] {

}

/* The menuitem is selected */
xctrls|menuitem[pclass|selected] {

}

/* The menuitem label */
xctrls|menuitem xctrls|label {
    flex: 1;
    white-space: nowrap;
}

/* Clicking down on the menuitem, label must highlight */
xctrls|menuitem[pclass|active] {

}

xctrls|menuitem[pclass|active] > xctrls|label {
}

xctrls|menuitem[pclass|active][pclass|selected] > xctrls|label {

}

/* The menuitem is disabled, so is the label */
xctrls|menuitem[pclass|disabled] > xctrls|label {

}

xctrls|menuitem > xctrls|image {
}

xctrls|menuitem:hover > xctrls|image {
}

xctrls|menuitem[pclass|active] > xctrls|image {
}

xctrls|menuitem[pclass|active][pclass|selected] > xctrls|image {
}

xctrls|menuitem[pclass|disabled] > xctrls|image {
}

xctrls|menuitem[pclass|focus] > xctrls|image {
}

xctrls|menuitem > xctrls|image[class="icon"] {
}

xctrls|menuitem > xctrls|image[class="more"] {
}

