@namespace lama url("http://www.technicalpursuit.com/2020/lama");
@namespace pclass url("urn:tibet:pseudoclass");

lama|world {

    display: block;
    position: absolute;

    box-sizing: border-box;

    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;

    width: auto;
    height: auto;

    background-image: url("../../../../../lib/media/tibet_world.gif");
    background-position: center center;
    background-repeat: no-repeat;

    background-color: #999;

    border-radius: 3px;
    border: 1px solid #666;

    overflow: auto;

    /* stylelint-disable custom-property-empty-line-before */

    --lama-screen-rows: 2;
    --lama-screen-cols: 2;

    --lama-screen-width: 1024px;
    --lama-screen-height: 768px;

    --lama-screen-thumbnail-margin: 5px;

    /* stylelint-enable custom-property-empty-line-before */
}

lama|hud[pclass|closed] lama|world {

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    border: 0;
    border-radius: 0;
}

lama|world > div.screens {

    position: absolute;

    top: 0;
    left: 0;

    right: 0;
    bottom: 0;

    transform-origin: 0 0;

    padding: 4px;

    background-color: #f9f9f9;

    border-radius: 3px;
}

lama|hud:not([pclass|closed]) lama|world[mode="thumbnail"] > div.screens {

    display: grid;

    background-color: initial;

    grid-template-rows: repeat(var(--lama-screen-rows), auto);
    grid-template-columns: repeat(var(--lama-screen-cols), auto);

    transform: scaleX(calc(1 / var(--lama-screen-cols))) scaleY(calc(1 / var(--lama-screen-rows)));
}

lama|world > div.infos {

    display: none;

    position: absolute;

    top: 0;
    left: 0;

    right: auto;
    bottom: auto;
}

lama|hud:not([pclass|closed]) lama|world[mode="thumbnail"] > div.infos {

    display: grid;

    background-color: initial;

    grid-template-rows: repeat(var(--lama-screen-rows), auto);
    grid-template-columns: repeat(var(--lama-screen-cols), auto);
}

lama|world div.info {

    position: relative;

    display: block;

    top: 0;
    left: 0;
    right: auto;
    bottom: auto;

    width: calc(var(--lama-screen-width) / var(--lama-screen-cols));
    height: calc(var(--lama-screen-height) / var(--lama-screen-rows));

    margin: calc(var(--lama-screen-thumbnail-margin) / 2);

    grid-column-start: auto;
    grid-row-start: auto;

    outline: solid 1px lightgray;
}

lama|world div.info[pclass|selected] {

    outline: solid 1px gold;
}

lama|world div.infotab {

    position: relative;

    left: calc(50% - 2.5em);

    width: 5em;
    height: 1.5em;

    color: white;
    background-color: lightgray;

    font-size: 10px;
    line-height: 1.5;

    cursor: pointer;
}

lama|world div.info[pclass|selected] div.infotab {

    background-color: gold;
}

lama|world div.info:not([pclass|selected]) div.infotab:hover {

    outline: dashed 1px black;
}

lama|hud:not([pclass|closed]) lama|world[mode="normal"] > div.screens {

    transform: none;
}

lama|hud lama|world lama|screen {

    display: none;
}

lama|hud lama|world lama|screen[pclass|selected] {

    display: block;
}

lama|hud[pclass|closed] lama|world lama|screen {

    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    width: auto;
    height: auto;
}

lama|hud:not([pclass|closed]) lama|world lama|screen {

    position: absolute;

    top: 8px;
    left: 8px;
    right: 8px;
    bottom: 8px;

    border: solid 1px #d0d0d0;
    box-shadow: 2px 2px 2px #e0e0e0;
}

lama|hud:not([pclass|closed]) lama|world[mode="thumbnail"] lama|screen {

    position: relative;

    display: block;

    top: 0;
    left: 0;
    right: auto;
    bottom: auto;

    width: var(--lama-screen-width);
    height: var(--lama-screen-height);

    margin: calc(var(--lama-screen-thumbnail-margin) / 2);

    grid-column-start: auto;
    grid-row-start: auto;
}

/* override tibet_framing */
#center lama|world lama|screen > iframe {

    border-radius: 0;
}
