@namespace sherpa url("http://www.technicalpursuit.com/2014/sherpa");
@namespace pclass url("urn:tibet:pseudoclass");
@namespace tibet url("http://www.technicalpursuit.com/1999/tibet");

sherpa|adjusterNameMenuContent {

    display: block;

    position: absolute;

    font-family: "Inconsolata", "Lucida Sans Unicode", "Lucida Grande", sans-serif;

    width: 7em;
    height: 5em;

    background-color: white;

    border: 1px solid #666;
    border-radius: 5px;

    box-shadow: 3px 3px 3px #aaa;
}

sherpa|adjusterNameMenuContent > .content {

    position: absolute;

    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    min-width: auto;

    margin: 2px;

    background-color: #fff;

    overflow: auto;
}

sherpa|adjusterNameMenuContent > .content > ul {

    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0;

    line-height: 29px;
}

sherpa|adjusterNameMenuContent > .content > ul > li {

    border: 0;
    border-top: 1px solid transparent;
    border-bottom: 1px solid #efefef;

    padding-left: 5px;
    padding-right: 5px;

    overflow: hidden;

    text-overflow: ellipsis;

    text-align: left;

    cursor: pointer;
}

sherpa|adjusterNameMenuContent > .content > ul > li a {

    color: initial;

    text-decoration: none;
}

sherpa|adjusterNameMenuContent > .content > ul > li a:focus {

    outline: none;
}

sherpa|adjusterNameMenuContent > .content > ul > li:hover {

    background-color: #ddd;

    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
}

sherpa|adjusterNameMenuContent > .content > ul > li:last-child:hover {

    border-bottom: 1px solid #666;
}
