@namespace sherpa url("http://www.technicalpursuit.com/2014/sherpa");
@namespace pclass url("urn:tibet:pseudoclass");
@namespace tibet url("http://www.technicalpursuit.com/1999/tibet");

sherpa|methodEditorToolbarContent {

    display: flex;

    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    height: 100%;
}

sherpa|methodEditorToolbarContent > button {

    height: 1,5em;

    margin-bottom: 5px;
    margin-right: 2px;

    font-size: 12px;

    line-height: 1;

    border: 0;
    box-shadow: none;
    background-color: transparent;

    text-decoration: underline;
}

sherpa|methodEditorToolbarContent > button[action="revert"] {
}

sherpa|methodEditorToolbarContent > .detach_mark {

    display: block;

    margin: 4px;

    width: 16px;
    height: 16px;

    background-color: white;
    color: #333;

    border: 1px solid #666;
    border-radius: 9px;

    line-height: 14px;
    text-align: center;

    font-family: "arial", "helvetica", "clean", sans-serif;
    font-size: 12px;

    cursor: pointer;

    background-size: 14px 14px;
    background-image: url("../media/call49.svg");
    background-position-x: 1px;
}

sherpa|methodEditorToolbarContent > .detach_mark:hover {

    background-color: gold;
}

sherpa|methodEditorToolbarContent[class~="tabbed"] {

    height: auto;
}

sherpa|methodEditorToolbarContent[class~="tabbed"] > .detach_mark {

    display: none;
}
