@namespace sherpa url(http://www.technicalpursuit.com/2014/sherpa);

sherpa|toolbar {

    display: block;
    position: absolute;

    top: 3px;
    right: 0;

    min-width: 325px;
    height: 18px;

    margin-right: 30px;
    margin-bottom: 5px;
}

