/**
 * @overview 'APP.tibetlama.lama' styles.
 */

@namespace tibet url("http://www.technicalpursuit.com/1999/tibet");
@namespace tibetlama url("urn:app:tibetlama");

/**
 * If your template/compute process transforms <tibetlama:lama/> tags
 * from namespaced XML into XHTML with a tibet:tag attribute so they render
 * in the page similar to <div tibet:tag="tibetlama:lama"/> place your
 * style in rules with the following root form:
 */
*[tibet|tag="tibetlama:lama"] {
    /* style here for xhtml converted tags */
}

/**
 * If you don't transform from XML form (tags in the page remain in their
 * <tibetlama:lama/> form) use rules of this form:
 */
tibetlama|lama {
    /* style here for pure XML tags */
}
