/*
    ------------------------------------------------------------------------
    Full-window mode
    ------------------------------------------------------------------------
*/

body.full_console #content {
    max-width: 100%;
}

body.full_console .detail-intro {
    display: none;
}

body.full_console #BOOT-CONSOLE {
    top: 48px;
}

/*
    ------------------------------------------------------------------------
    Input frame and cell
    ------------------------------------------------------------------------
*/

/* The div wrapper for the entire input construct */
.cmdline_wrapper
{
    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 2px 0 2px 0;
}

/* The cell holding the input cell's prompt */
.cmdline_prompt
{
    font-family: "Lucida Sans", "Lucida Grande", Verdana, Arial, sans-serif;
    font-size: 12px;

    line-height: 12px;
    text-align: right;

    padding-top: 2px;
    width: 36px;

    white-space: nowrap;
    color: orange;
}

/* The cell holding the input cell's frame */
.cmdline_input
{
    position: absolute;

    top: 0;
    right: 7px;
    bottom: 0;
    left: 40px;

    font-weight: normal;
    color: #000000;
}

.cmdline_textarea
{
    border: 1px inset #CCC;
    border-radius: 6px;

    position: relative;

    top: 1px;
    left: 0;
    width: 100%;

    padding: 2px;

    overflow: hidden;
    resize: none;

    font-family: "Lucida Sans Typewriter", "Courier New", Courier, monospace;
    font-size: 11px;
    font-weight: normal;
    line-height: 12px;

    background-color: rgba(0, 0, 0, .5);
    color: #FFF;

    white-space: pre-wrap;
}

.inputcell
{
    position: relative;

    margin-top: 12px;
    margin-bottom: 8px;
}

.inputcell .hid
{
    text-decoration: none;
}

.inputcell .hid:hover
{
    font-weight: bold;
}

.inputcell .content
{
    position: relative;
    display: inline-block;

    color: #ccc;

    white-space: pre-line;
}


.outputcell {
    padding: 2px 0;
}

.outputcell .result
{
    position: relative;
    display: inline-block;
    width: 100%;

    white-space: pre-line;
}

.outputcell .stats
{
    float: right;
    margin: -24px 8px;
    display: inline-block;

    color: grey;

    white-space: pre-line;
}

.outputcell .typeinfo
{
    float: right;
    display: inline-block;
    margin: -24px 8px;

    color: orange;

    white-space: pre-line;
}

.outputcell .empty {
    display:none;
}

.outputcell.trace {
    color: #aaa;
}
.outputcell.debug {
    color: magenta;
}
.outputcell.info {
    color: white;
}
.outputcell.warn {
    color: orange;
}
.outputcell.error {
    color: red;
}
.outputcell.severe {
    color: red;
}
.outputcell .fatal {
    color: red;
}
.outputcell .system {
    color: cyan;
}




/*
    ------------------------------------------------------------------------
    tsh:pp formatting
    ------------------------------------------------------------------------
*/

.tsh_pp > span
{
    display: table;
    width: 100%;
    border-collapse: collapse;
    /*
    border-width: 1px;
    border-color: grey;
    border-style: dashed;
    */
}

.tsh_pp > span span[data-name]
{
    display: table-row;
    text-align: left;
    width: 100%;

    line-height: 1.5em;

    white-space: pre-wrap;
}

.tsh_pp > span span[data-name]:before
{
    content: attr(data-name) " ";

    vertical-align: top;

    display: table-cell;
    text-align: left;

    white-space: pre-wrap;
}

.tsh_pp > span.Array span,
.tsh_pp > span.Object span,
.tsh_pp > span.TP_lang_Hash span
{
    display: table-row;
    line-height: 1.5em;
    margin-left: 5px;
}

.tsh_pp > span.Object span[data-name]:before,
.tsh_pp > span.TP_lang_Hash span[data-name]:before
{
    vertical-align: top;
}

