@namespace sherpa url("http://www.technicalpursuit.com/2014/sherpa");
@namespace pclass url("urn:tibet:pseudoclass");

sherpa|bindshud {

    width: 100%;
    height: 100%;
}

sherpa|bindshud > ul {

    position: absolute;

    top: 36px;
    right: 0;
    bottom: 30px;
    left: 0;

    height: auto;
    width: auto;

    margin: 0;
    padding: 0;

    color: #666;

    font-size: 60%;
    font-family: "Lucida Sans Typewriter", "Courier New", "Courier", monospace;
    font-weight: normal;

    overflow: auto;
}

/* All items */

sherpa|bindshud > ul.content > li.item {

    margin: 1px 5px;
}

sherpa|bindshud > ul.content > li.domnode {

    height: 1.75em;
    line-height: 1.75em;

    padding-left: 0.25em;

    border: 1px solid #666;
    border-radius: 5px;

    overflow: hidden;
    text-overflow: ellipsis;

    cursor: pointer;
}

sherpa|bindshud > ul.content > li.domnode[pclass|disabled] {

    pointer-events: none;
    cursor: default;

    opacity: 0.3;
}

sherpa|bindshud > ul.content > li.domnode:hover {

    background-color: #ffcfca;
    color: #666;
}

sherpa|bindshud > ul.content > li.domnode[pclass|selected] {

    background-color: #ff9f95;
    border: 1px solid black;
    color: black;
}

sherpa|bindshud > ul.content > li.domnode[pclass|selected]:hover {

    background-color: #ff5a49;
}

/* spacer items */

sherpa|bindshud > ul.content > li.spacer {

    background-color: transparent;

    height: 3px;

    border: none;

    overflow: hidden;
    text-overflow: ellipsis;

    cursor: default;
}

sherpa|bindshud > ul.content > li.spacer.sherpa-bindshud-droptarget {

    background-color: red;
}

sherpa|bindshud > ul.content > li.domnode.sherpa-bindshud-droptarget {

    font-weight: bold;
    border: 1px solid red;
}

sherpa|bindshud > ul.content > li.domnode.sherpa-bindshud-droptarget[pclass|selected] {

    font-weight: bold;
}

sherpa|bindshud > ul.content > li.domnode.sherpa-bindshud-droptarget[pclass|selected]:hover {

    font-weight: bold;
}

/* We omitted 'sherpa|tile' here because of this bug in stylelint:
 * https://github.com/stylelint/stylelint/issues/2711
 */

#BindSummary_Tile {

    min-width: 300px;
    min-height: 200px;
}

#BindSummary_Tile > .body {

    font-family: "Lucida Sans Typewriter", "Courier New", "Courier", monospace;
    font-size: 93%;

    background: #eee;
    padding: 8px;
}

#BindSummary_Tile > .header > .minimize_mark {

    visibility: hidden;
}

#BindSummary_Tile > .footer {
}
