/*
 * @overview CSS for the {{appname}} application.
 */

/* hello & startup styles. remove when app template has been updated */
.content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 750px;
    min-width: 600px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    font-size: 93%;
}

.hello {
    font-size: 100%;
    font-weight: bold;
    max-width: 500px;
    margin: auto;
    margin-top: 100px;
}

.startup {
    max-width: 500px;
    margin: auto;
    margin-top: 50px;
}

.startup a {
  color: #369;
  text-decoration: underline;
}

.startup p.hint {
    margin-top: 50px;
}

.startup code {
    font-size: 116%;
}
