@namespace url("http://www.w3.org/1999/xhtml");
@namespace lama url("http://www.technicalpursuit.com/2020/lama");

lama|inspectoritem {

    font-family: "Inconsolata", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight: 400;

    position: relative;

    overflow: hidden;

    /* CSS custom properties that determine inspector width/height and
     * flexing */
    --lama-inspector-width: 1;

    --lama-inspector-item-minwidth: 250px;
    --lama-inspector-item-maxwidth: 250px;
    --lama-inspector-item-height: 141px;

    --lama-inspector-item-flex-basis: calc(var(--lama-inspector-item-minwidth) * 2);

    flex: var(--lama-inspector-width);
    min-width: calc(var(--lama-inspector-item-minwidth) * var(--lama-inspector-width));
    max-width: calc(var(--lama-inspector-item-maxwidth) * var(--lama-inspector-width));
    flex-basis: calc(var(--lama-inspector-item-flex-basis) * var(--lama-inspector-width));
}

lama|inspectoritem > div {

    position: absolute;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    padding: 0.25em;
}

lama|inspectoritem > div.scrollable {

    overflow: auto;
}

lama|inspectoritem > div.filler {

    border-top: solid 1px #aaa;
    border-right: solid 1px #aaa;
    border-bottom: solid 1px #aaa;

    border-radius: 3px;
}

lama|inspectoritem > div.wrapped {

    white-space: pre-wrap;
}

lama|inspectoritem > div.noselect {

    user-select: none;
}

lama|inspectoritem > div.readonly {

    border: dashed 1px #aaa;
}

lama|inspectoritem > div.usermessage {

    display: flex;

    border: none;

    font-size: 131%;
    font-family: "arial", "helvetica", "clean", sans-serif;
    color: #999;

    align-items: center;
    justify-content: center;
}

lama|inspectoritem > div.usermessage a {
    color: #999;
}

lama|inspectoritem > div > textarea {

    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 90%;

    margin: 0;
    padding: 0;

    border: none;
    border-radius: initial;

    width: 100%;
    height: 100%;
}

lama|inspectoritem[childtype="html:div"] {
}

lama|inspectoritem[childtype="html:iframe"] > iframe {

    display: block;

    width: 100%;
    height: 100%;
}

lama|inspectoritem[class~="doublewide"] {

    /* CSS custom property */
    --lama-inspector-width: 2;
}
