@namespace sherpa url("http://www.technicalpursuit.com/2014/sherpa");
@namespace pclass url("urn:tibet:pseudoclass");

sherpa|styleshud {

    width: 100%;
    height: 100%;
}

sherpa|styleshud > ul {

    position: absolute;

    top: 36px;
    right: 0;
    bottom: 30px;
    left: 0;

    height: auto;
    width: auto;

    margin: 0;
    padding: 0;

    color: #666;

    font-size: 60%;
    font-family: "Lucida Sans Typewriter", "Courier New", "Courier", monospace;
    font-weight: normal;

    overflow: auto;
}

/* All items */

sherpa|styleshud > ul.content > li.item {

    margin: 1px 5px;
}

/* Selector items */

sherpa|styleshud > ul.content > li.selector {

    height: 1.75em;
    line-height: 1.75em;

    padding-left: 0.25em;

    border: 1px solid #666;
    border-radius: 5px;

    overflow: hidden;
    text-overflow: ellipsis;

    cursor: pointer;

    white-space: nowrap;
}

sherpa|styleshud > ul.content > li.selector:hover {

    background-color: #d4e5ee;
    color: #666;
}

sherpa|styleshud > ul.content > li.selector[pclass|selected] {

    background-color: #acd;
    color: black;

    border: 1px solid black;
}

sherpa|styleshud > ul.content > li.selector[pclass|selected]:hover {

    background-color: #73abc7;
}

/* spacer items */

sherpa|styleshud > ul.content > li.spacer {

    background-color: transparent;

    height: 3px;

    border: none;

    overflow: hidden;
    text-overflow: ellipsis;

    cursor: default;
}

sherpa|styleshud > ul.content > li.spacer.sherpa-styleshud-droptarget {

    background-color: red;
}

sherpa|styleshud > ul.content > li.selector.sherpa-styleshud-droptarget {

    font-weight: bold;
    border: 1px solid red;
}

sherpa|styleshud > ul.content > li.selector.sherpa-styleshud-droptarget[pclass|selected] {

    font-weight: bold;
}

sherpa|styleshud > ul.content > li.selector.sherpa-styleshud-droptarget[pclass|selected]:hover {

    font-weight: bold;
}

/* We omitted 'sherpa|tile' here because of this bug in stylelint:
 * https://github.com/stylelint/stylelint/issues/2711
 */

#StyleSummary_Tile {

    min-width: 300px;
    min-height: 200px;
}

#StyleSummary_Tile > .body {

    font-family: "Lucida Sans Typewriter", "Courier New", "Courier", monospace;
    font-size: 93%;

    background: #eee;
    padding: 8px;
}

#StyleSummary_Tile > .header > .minimize_mark {

    visibility: hidden;
}

#StyleSummary_Tile > .footer {
}

