@namespace lama url("http://www.technicalpursuit.com/2020/lama");
@namespace pclass url("urn:tibet:pseudoclass");

lama|breadcrumb {

    position: absolute;
    display: none;

    top: 5px;
    left: 0;
    right: 0;

    height: 18px;
}

#background.edge-north-open lama|breadcrumb {

    display: flex;
}

lama|breadcrumb > .content {

    display: flex;

    font-size: 10px;
    line-height: 1.5em;

    overflow: hidden;

    margin: 0;

    white-space: nowrap;
}

lama|breadcrumb > .content div.item {

    flex-shrink: 9;

    overflow: hidden;

    color: white;

    padding: 1px 5px 1px 10px;

    border: solid 1px rgb(199, 199, 199);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;

    cursor: pointer;

    direction: rtl;
}

lama|breadcrumb > .content div.item::after {

    content: " ";

    position: absolute;
    display: block;

    width: 0;
    height: 0;

    top: 50%;

    margin-top: -9px;
    margin-right: -12px;

    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;

    border-left: 8px solid red;

    border-radius: 3px;

    z-index: 2;
}

lama|breadcrumb > .content div.item::before {

    content: " ";

    position: absolute;
    display: block;

    width: 0;
    height: 0;

    top: 50%;

    margin-top: -9px;
    margin-right: -13px;
    margin-left: 1px;

    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-left: 8px solid white;
    border-radius: 3px;

    z-index: 1;
}

lama|breadcrumb > .content div.itemcontent {

    direction: ltr;

    user-select: none;

    white-space: nowrap;

    overflow: hidden;

    line-height: 1.35;

    padding-top: 0;
}

lama|breadcrumb > .content div.itemcontent:hover {

    color: gold;
}

lama|breadcrumb > .content div.textcontent {

    position: relative;

    float: right;

    min-width: 100%;
}
