@namespace lama url("http://www.technicalpursuit.com/2020/lama");
@namespace pclass url("urn:tibet:pseudoclass");
@namespace tibet url("http://www.technicalpursuit.com/1999/tibet");

lama|consoleoutput {

    display: block;
    position: absolute;

    font-family: "Lucida Sans Typewriter", "Courier New", "Courier", monospace;
    font-size: 85%;

    text-align: left;

    white-space: nowrap;

    line-height: 1.5em;

    right: 10px;
    bottom: 10px;
    left: 10px;

    /* The 20px here is the bottom + a top offset of the same size */
    max-height: calc(100% - 20px);

    padding-left: 5px;
    padding-right: 5px;

    overflow: auto;

    z-index: var(--tibet-CONSOLE-OUTPUT-TIER);

    transition: margin 0.25s;
}

lama|consoleoutput[pclass|hidden] {

    display: none;
}

/* mode can be: 'none', 'one', or 'all' (all other modes are internal) */
lama|consoleoutput[mode="none"] {

    display: none;
}

lama|consoleoutput[mode="one"] {

    top: auto;
}

lama|consoleoutput[mode="one"]:not([viewall]) lama|consoleoutputitem {

    display: none;
}

lama|consoleoutput[mode="one"]:not([viewall]) lama|consoleoutputitem:last-child {

    display: block;
}

/*
   'growl' mode is basically the same from a CSS perspective as 'one' mode, but
   'temporary' - it allows the JavaScript to distinguish between the two in
   code. As such, it can be considered an 'internal mode'.
 */

lama|consoleoutput[mode="growl"] {

    top: auto;
}

lama|consoleoutput[mode="growl"] lama|consoleoutputitem {

    display: none;
}

lama|consoleoutput[mode="growl"] lama|consoleoutputitem:last-child {

    display: block;
}

lama|consoleoutput[sticky][exposed] {

    opacity: 1 !important;
}

lama|consoleoutput[sticky][concealed] {

    opacity: 0 !important;
}

lama|consoleoutput[class~="fade_out"] {

    opacity: 0;

    transition-property: opacity;

    /* These are set by the
       'lama.tdc.cell_fadeout_delay' and 'lama.tdc.cell_fadeout_duration'
       cfg() variables respectively. They are defaulted to 2000ms.
    transition-delay: 2s;
    transition-duration: 2s;
    */
}

lama|consoleoutput a {

    color: #6a7b8c;
}

lama|consoleoutput .wrapper {

    display: inline-flex;

    flex-direction: column;

    justify-content: flex-end;

    width: 100%;
    height: 100%;
}

lama|consoleoutputitem {

    display: block;

    position: relative;

    margin-top: 2px;
    margin-bottom: 5px;
}

lama|consoleoutputitem[class~="logoutput"] > .flex-item > .content:last-child {

    border-bottom: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

lama|consoleoutput .up_arrow,
lama|consoleoutput .down_arrow {

    display: none;

    position: absolute;

    left: 10px;

    width: 20px;
    height: 20px;

    background-color: #feeca1;

    border: solid 1px black;
}

lama|consoleoutput .flex-item {

    background-color: #f9f9f9;

    border: solid 1px #666;
    border-radius: 5px;
}

lama|consoleoutput .flex-item > .header {

    display: flex;

    top: 0;
    right: 0;
    left: 0;

    height: 15px;

    margin: 0;
    padding: 2px;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    background-color: #f0f0f0;

    min-width: auto;

    font-size: inherit;
}

lama|consoleoutput .flex-item > .header > * {

    /* line-height: 30px; */

    /* font-weight: bold; */
    /* font-size: 116%; */
}

lama|consoleoutput .flex-item > .header > .hid {

    flex: 0 0 auto;

    min-width: 40px;

    text-decoration: none;
}

lama|consoleoutput .flex-item > .header > .hid:hover {

    font-weight: bold;
}

lama|consoleoutput .flex-item > .header > .content {

    flex: 1 1 auto;

    height: 16px;

    overflow: hidden;

    white-space: pre-wrap;
}

lama|consoleoutput .flex-item > .header > .content > span {

    user-select: text;
}

lama|consoleoutput .flex-item > .header > .typeinfo {

    flex: 0 0 auto;

    min-width: 40px;

    margin: 0 8px;

    color: black;

    white-space: pre-wrap;
}

lama|consoleoutput .flex-item > .header > .stats {

    flex: 0 0 auto;

    margin: 0 8px;

    color: #999;

    white-space: pre-wrap;
}

lama|consoleoutput .flex-item > .header > lama|dispenser {

    flex: 0 0 auto;

    position: relative;

    width: 34px;

    margin-top: -3px;
    margin-right: 35px;

    transform: scale(0.7);
}

lama|consoleoutput .flex-item > .header lama|dispenseritem {

    height: 14px;
    width: 24px;
}

lama|consoleoutput .flex-item > .content {

    top: 31px;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: #fff;

    min-width: auto;

    margin: 1px;
    padding: 2px;
    border: 0;

    overflow: auto;

    text-align: left;
    line-height: 0;

    color: black;
}

lama|consoleoutput .flex-item > .content > * {

    line-height: 1em;

    white-space: pre-wrap;
}

lama|consoleoutput .flex-item > .content > .result.asis-container {

    white-space: initial;
}

lama|consoleoutput .flex-item > .content > .result iframe {

    position: relative;

    top: 2px;

    font-size: 0;
    line-height: 0;

    width: 100%;
}

lama|consoleoutput .flex-item > .content > lama|scrollbutton {

}

lama|consoleoutput .flex-item > .content > lama|scrollbutton[orientation="up"] {

    bottom: 10px;
    left: calc(50% - 16px);
}

lama|consoleoutput .flex-item > .content > lama|scrollbutton .icon {

    bottom: 2px;
    font-size: 18px;
}

lama|consoleoutput .flex-item > .content > lama|scrollbutton[orientation="up"] .icon::after {

    /* This is the same as '&#8593' */
    content: "\2191";
}

lama|consoleoutput .flex-item > .content > lama|scrollbutton[orientation="down"] {

    bottom: 10px;
    left: calc(50% + 16px);
}

lama|consoleoutput .flex-item > .content > lama|scrollbutton[orientation="down"] .icon::after {

    /* This is the same as '&#8595' */
    content: "\2193";
}

lama|consoleoutputitem[class~="overflowing"] lama|scrollbutton {

    display: block;
}

/* Output styles for the consoleoutputitem based on log level */
lama|consoleoutputitem[class~="trace"] .flex-item,
lama|consoleoutputitem[class~="trace"] .flex-item > .header {

    background-color: #f0f0f0;
}

lama|consoleoutputitem[class~="debug"] .flex-item,
lama|consoleoutputitem[class~="debug"] .flex-item > .header {

    background-color: #f0f0f0;
}

lama|consoleoutputitem[class~="info"] .flex-item,
lama|consoleoutputitem[class~="info"] .flex-item > .header {

    background-color: #f0f0f0;
}

lama|consoleoutputitem[class~="warn"] .flex-item,
lama|consoleoutputitem[class~="warn"] .flex-item > .header {

    background-color: gold;
}

lama|consoleoutputitem[class~="error"] .flex-item,
lama|consoleoutputitem[class~="error"] .flex-item > .header {

    background-color: #c88b6b;
}

lama|consoleoutputitem[class~="fatal"] .flex-item,
lama|consoleoutputitem[class~="fatal"] .flex-item > .header {

    background-color: #6e4c3b;
}

lama|consoleoutputitem[class~="system"] .flex-item,
lama|consoleoutputitem[class~="system"] .flex-item > .header {

    background-color: #86af9b;
}

/* Output styles for the consoleoutputitem based on TAP result */
lama|consoleoutputitem[class~="tap-pass"] .flex-item,
lama|consoleoutputitem[class~="tap-pass"] .flex-item > .header {

    background-color: #86af9b;
}

lama|consoleoutputitem[class~="tap-fail"] .flex-item,
lama|consoleoutputitem[class~="tap-fail"] .flex-item > .header {

    background-color: gold;
}

lama|consoleoutputitem[class~="tap-comment"] .flex-item,
lama|consoleoutputitem[class~="tap-comment"] .flex-item > .header {

    background-color: #f0f0f0;
}

lama|consoleoutputitem[class~="tap-unknown"] .flex-item,
lama|consoleoutputitem[class~="tap-unknown"] .flex-item > .header {

    background-color: #f0f0f0;
}

/* Output styles based on log level */
lama|consoleoutput .flex-item > .content.trace {
    color: #aaa;
}

lama|consoleoutput .flex-item > .content.debug {
    color: #999;
}

lama|consoleoutput .flex-item > .content.info {
    color: black;
}

lama|consoleoutput .flex-item > .content.warn {
    color: gold;
}

lama|consoleoutput .flex-item > .content.error {
    color: #c88b6b;
}

lama|consoleoutput .flex-item > .content.fatal {
    color: #6e4c3b;
}

lama|consoleoutput .flex-item > .content.system {
    color: #86af9b;
}

/* Output styles based on TAP result */
lama|consoleoutput .flex-item > .content.tap-pass {
    color: #4a6055;
}

lama|consoleoutput .flex-item > .content.tap-skip {
    color: gold;
}

lama|consoleoutput .flex-item > .content.tap-fail {
    color: #6e4c3b;
}

lama|consoleoutput .flex-item > .content.tap-error {
    color: #c88b6b;
}

lama|consoleoutput .flex-item > .content.tap-comment {
    color: #aaa;
}

lama|consoleoutput .flex-item > .content.tap-unknown {
    color: #666;
}

/* Footer style */
lama|consoleoutput .flex-item > .footer {

    bottom: 0;
    left: 0;
    right: 0;
    height: 8px;

    background-color: #f0f0f0;

    min-width: auto;

    margin: 2px;

    border: 1px solid #666;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    overflow: hidden;

    text-align: center;
}

lama|consoleoutput .flex-item > .content dl {

    display: flex;

    flex-wrap: wrap;
    flex-direction: row;
}

lama|consoleoutput .flex-item > .content dl > dt {

    flex: 0 0 25%;

    margin: 0;

    line-height: 2em;
}

lama|consoleoutput .flex-item > .content dl > dt:nth-of-type(even) {

    background-color: #f9f9f9;
}

lama|consoleoutput .flex-item > .content dl > dd {

    flex: 0 0 75%;

    margin: 0;

    line-height: 2em;

    user-select: text;
}

lama|consoleoutput .flex-item > .content dl > dd:nth-of-type(even) {

    background-color: #f9f9f9;
}

lama|consoleoutput .flex-item > .content ul {

    display: flex;

    flex-wrap: wrap;
    flex-direction: row;
}

lama|consoleoutput .flex-item > .content ul > li {

    flex: 0 0 100%;

    margin: 0;

    line-height: 2em;

    user-select: text;
}

lama|consoleoutput .flex-item > .content ul > li:nth-of-type(even) {

    background-color: #f9f9f9;
}

lama|consoleoutput .flex-item > .content > .result a {
    text-decoration: none;
}

lama|consoleoutput .flex-item > .content > .result a:hover {
    color: #6a7b8c;
    text-decoration: underline;
}

lama|consoleoutput .flex-item > .content > .result a[target="_blank"]::after {

    content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==");

    margin: 0 3px;
}

/* The first 'span' skips over the tibet:templateexpr span */
lama|consoleoutput .flex-item > .content > .result > span span {
    color: #345;
    user-select: text;
}
