@namespace sherpa url("http://www.technicalpursuit.com/2014/sherpa");
@namespace pclass url("urn:tibet:pseudoclass");
@namespace tibet url("http://www.technicalpursuit.com/1999/tibet");
@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");

sherpa|changes {

    display: block;
    position: absolute;

    width: 100%;
    height: 100%;
}

sherpa|changes > .header {

    position: absolute;

    top: 0;
    bottom: auto;
    left: 0;
    right: 0;

    height: 30px;

    border: 0;
    border-top: 1px solid white;
    border-top-left-radius: 5px;

    background-color: #eee;
}

sherpa|changes > .header > sherpa|count[name="server"] {

    position: absolute;

    left: 50%;

    margin-left: -52px;
}

sherpa|changes > .header > sherpa|sync {

    position: absolute;

    left: 50%;

    margin-left: -11px;
}

sherpa|changes > .header > sherpa|count[name="client"] {

    position: absolute;

    left: 50%;

    margin-left: 20px;
}

sherpa|changes > .content {

    position: absolute;

    top: 31px;
    bottom: 0;
    left: 0;
    right: 0;

    min-width: 0;
    max-width: none;

    background-color: #eee;

    border-top: 1px solid #aaa;
}

sherpa|changes > .content > span {

    line-height: 2em;

    margin: 0;
    padding: 0;
}

sherpa|changes > .content > xctrls|panelbox {

    width: 100%;
    height: 100%;
}

sherpa|changes #SherpaChangesPanelbox xctrls|content .title {

    position: absolute;

    margin-top: 6px;
    margin-left: 20px;

    height: 1.5em;
}

sherpa|changes #SherpaChangesPanelbox xctrls|content #watchRemoteChanges {

    position: absolute;

    right: 220px;

    height: 1.5em;
}

sherpa|changes #SherpaChangesPanelbox xctrls|content #processRemoteChanges {

    position: absolute;

    right: 20px;

    height: 1.5em;
}

sherpa|changes #SherpaChangesPanelbox xctrls|content xctrls|list {

    position: absolute;

    top: 2.2em;
    right: 0;
    bottom: 2.2em;
    left: 0;

    width: auto;
    height: auto;

    min-height: auto;

    margin: 0 20px 4px;

    line-height: 1.5em;
}

sherpa|changes #SherpaChangesPanelbox xctrls|list xctrls|textitem button {

    position: absolute;
    display: none;

    right: 5px;

    height: 1.5em;

    font-size: 69%;

    margin: 0;
    margin-top: 2px;

    padding-top: 0;

    vertical-align: middle;
}

sherpa|changes #SherpaChangesPanelbox xctrls|list xctrls|textitem:hover button {

    display: inline-block;
}

sherpa|changes > .header > .trigger.button {

    position: absolute;

    top: 0;
    left: 0;
    width: 48px;
    height: 30px;

    background-size: 20px;
    background-position: 12px;
    background-repeat: no-repeat;

    background-image: url("~ide_root/media/ic_change_history_black_24px.svg");

    cursor: pointer;
}

sherpa|changes > .header > .trigger.button:hover {

    background-color: cornsilk;

    color: #333;
}

@keyframes pulse {
    0% {
        background: transparent;
    }
    50% {
        background: red;
    }
    100% {
        background: transparent;
    }
}

sherpa|count[class~="contentrefreshed"] {

    animation: pulse 2s ease-in-out alternate;
}

/*
 * if the right side (containing changes) is closed then we can only view the
 * trigger, not the rest of the header components (like toggle etc).
 */
#background:not(.edge-east-open) sherpa|changes > .header > *:not(.trigger) {

    display: none;
}

.framing.south.east.corner[pclass|closed] sherpa|changes > .content {

    display: none;
}

#background:not(.edge-east-open) .framing.corner:not([pclass|closed]) sherpa|changes > .header > * {

    display: block;
}

