/*
    CSS styles for 'xctrls:tabbar' controls.
*/

@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");
@namespace pclass url("urn:tibet:pseudoclass");

xctrls|tabbar {

    position: relative;
    user-select: none;
}

xctrls|tabbar xctrls|content {

    display: flex;
}

xctrls|tabbar xctrls|content > *|* {

    display: flex;
}

xctrls|tabbar xctrls|tabitem {

    order: 1;
}
