/*
    CSS styles for 'xctrls:tabbar' controls.
*/

@import url("@{xctrls_src}/TP.xctrls_mixins.less");

@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");
@namespace pclass url("urn:tibet:pseudoclass");

xctrls|tabbar {

    position: relative;

    user-select: none;

    xctrls|content {

        display: flex;
    }

    xctrls|tabitem {

        order: 1;
    }
}
