/*
    CSS styles for 'xctrls:tabbar' controls.
*/

@namespace url("http://www.w3.org/1999/xhtml");
@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");

xctrls|tabbar {

    user-select: none;
}

xctrls|tabbar xctrls|content {

    display: flex;
}

xctrls|tabbar xctrls|content .templated {

    /* We want to pretend that the span holding templated content doesn't exist
     * (CSS-wise) */
    display: contents;
}

xctrls|tabbar xctrls|content .templated:empty {

    display: none;
}

xctrls|tabbar xctrls|tabitem {

    flex: 0 1 auto;
}
