/*
    CSS styles for 'xctrls:pagerbar' controls.
*/

@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");

xctrls|pagerbar {

    user-select: none;
}

xctrls|pagerbar xctrls|content {

    display: flex;
}

xctrls|pagerbar xctrls|pageritem {

    order: 1;
    flex: 0 1 auto;
}

xctrls|pagerbar xctrls|content > .templated {

    display: flex;
}

xctrls|pagerbar xctrls|content > .templated:empty {

    display: none;
}
