/* inconsolata-regular - latin-ext_latin */
@namespace pclass url("urn:tibet:pseudoclass");
@namespace tibet url("http://www.technicalpursuit.com/1999/tibet");
@namespace sherpa url("http://www.technicalpursuit.com/2014/sherpa");

@font-face {

    font-family: "Inconsolata";
    font-style: normal;
    font-weight: 400;

    src:
        local("Inconsolata"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("~lib_fonts/inconsolata-v12-latin-ext_latin-regular.woff2") format("woff2"),
        /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
        url("~lib_fonts/inconsolata-v12-latin-ext_latin-regular.woff") format("woff");
}

/* inconsolata-700 - latin-ext_latin */
@font-face {

    font-family: "Inconsolata";
    font-style: normal;
    font-weight: 700;

    src:
        local("Inconsolata Bold"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("~lib_fonts/inconsolata-v12-latin-ext_latin-700.woff2") format("woff2"),
        /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
        url("~lib_fonts/inconsolata-v12-latin-ext_latin-700.woff") format("woff");
}

*|div.framing[pclass|closed] {

    display: block;
}

body {

    /* stylelint-disable custom-property-empty-line-before */

    --sherpa-edge-east-open-margin: 152px;
    --sherpa-edge-west-open-margin: 152px;

    --sherpa-drawer-north-closed-height: 32px;
    --sherpa-drawer-south-closed-height: 64px;

    --sherpa-drawer-north-open-height: 207px;
    --sherpa-drawer-south-open-height: 200px;
    --sherpa-drawer-east-open-width: 200px;
    --sherpa-drawer-west-open-width: 200px;

    --sherpa-drawer-north-open-min-height: 207px;
    --sherpa-drawer-south-open-min-height: 200px;

    /* stylelint-enable custom-property-empty-line-before */
}

.input-mark {
}

.input-mark-left {
}

.input-mark-right {
}

.eval-mark {

    text-decoration: underline;
}

.eval-mark-left {
}

.eval-mark-right {
}

.completion-mark {
    color: gray;
}

.completion-mark-left {
}

.completion-mark-right {
}

.CodeMirror-hints {

    border: dotted 1px black;

    background-color: white;

    z-index: 30000;

    box-shadow: none;

    border-radius: 0;

    font-family: "Lucida Sans Typewriter", "Courier New", "Courier", monospace;
    font-size: 9.6px;
}

li.CodeMirror-hint {

    color: #762;

    max-width: 25em;
}

li.CodeMirror-hint-active {

    color: black;

    background-color: gray;
}

/* Fake */
.match_custom_type {

    color: #cc9393;
}

.match_css_prop {

    color: #93e0e3;
}

.match_uri {

    color: #f0dfaf;
}

/* Matches theme */
.match_keyword {

    color: #f0dfaf;
}

.match_method_name {

    color: #dfaf8f;
}

.match_key_source {

    color: #dfaf8f;
}

/* Individual character match */
.match_result {

    color: black;
    text-decoration: underline;
}

/* Misc content styles, etc */

.tagline {

    position: relative;

    z-index: 1;

    font-size: 100%;

    line-height: 30px;
}

/** TPI theme for XHTML controls **/
input {

    height: 1.5em;

    margin: 0.25em;

    padding: 0.25em;

    border: 1px solid #aaa;
    border-radius: 3px;

    display: inline-block;
}

input[type="button"],
button {

    height: 2em;

    margin: 0.25em;

    padding: 0.25em 0.5em;

    border: 1px solid #aaa;
    border-radius: 3px;

    box-shadow: inset 0 0 0.5em #ddd;

    background-color: white;

    overflow: hidden;

    text-overflow: ellipsis;
}

input[type="checkbox"] {

    vertical-align: middle;
}

input[type="text"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][disabled],
input[type="button"][disabled],
button[disabled] {

    color: lightgray;
}

input[type="text"]:not([disabled]):hover,
input[type="button"]:not([disabled]):hover,
button:not([disabled]):hover {

    background-color: rgba(255, 215, 0, 0.5);
}

input[type="checkbox"]:not([disabled]):hover,
input[type="radio"]:not([disabled]):hover {

    background-color: rgba(255, 215, 0, 0.5);
}

input[type="text"]:not([disabled]):focus,
input[type="button"]:not([disabled]):focus,
button:not([disabled]):focus {

    background-color: gold;
}

input[type="checkbox"]:not([disabled]):focus,
input[type="radio"]:not([disabled]):focus {

    outline: solid 1px gold;
}

select {

    width: 12em;
    height: 2em;

    line-height: 2em;

    margin: 0.25em;

    padding: 0.25em;

    border: 1px solid #aaa;
    border-radius: 3px;
}

option {

    /* often worthless...select is still a piece of junk...20 years on */
    padding: 0.25em;
}

textarea {

    width: 12em;
    height: 5em;

    font: "Inconsolata";

    margin: 0.25em;

    padding: 0.25em;

    border: 1px solid #aaa;
    border-radius: 3px;

    resize: none;
}

textarea:focus {

    background-color: #eee;
}

input[type="button"]:focus,
button:focus,
select:focus,
input:focus,
textarea:focus {

    outline: none;
}

hr.clear {

    height: 20px;

    margin: 5px 0;

    clear: both;

    border: 0;
}

#commonTileLayer {

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

/** HUD customization for Sherpa controls **/

sherpa|*[class="hud"] > ul.content > li {
    background-color: #fff;
}

/* -----------------------------*
 * opener
 * ---------------------------- */

.v-edge.west sherpa|opener {

    position: absolute;

    margin-left: 14px;
}

.v-edge.east sherpa|opener {

    position: absolute;

    right: 0;

    left: auto;

    margin-right: 14px;
}

.v-edge sherpa|opener:last-child {

    bottom: 4px;
}

.v-edge.west sherpa|opener:last-child {

    left: 0;
}

.v-edge.east sherpa|opener:last-child {

    margin-right: 14px;
}

/* -----------------------------*
 * readout
 * ---------------------------- */

/* TEMPORARY FOR DEMO PURPOSES */
sherpa|readout > .content.keyboard {

    display: block;
}

sherpa|readout > .content.mouse {

    display: none;
}

sherpa|readout:hover > .content {

    background-color: rgba(255, 215, 0, 0.5);
}

sherpa|readout:hover > .content.mouse {

    display: block;
}

sherpa|readout:hover > .content.keyboard {

    display: none;
}

/* -----------------------------*
 * splitbox
 * ---------------------------- */

/* TEMPORARY FOR DEMO PURPOSES */
sherpa|splitbox {

    margin: 30 0;
}

/* -----------------------------*
 * Middle
 * ---------------------------- */

/* NB: Make this selector really specific */
#center {

    top: calc(var(--sherpa-drawer-north-closed-height) + 4px);
    bottom: calc(var(--sherpa-drawer-south-closed-height) + 4px);
}

sherpa|hud[pclass|closed] #center {

    border: 0;
}

/* We only animate the margin when the HUD is open. Otherwise, the 'HUD slide
   in' sequence is janky */
sherpa|hud:not([pclass|closed]) #center {

    will-change: margin;

    transition: margin 0.25s;
}

/* Resizing the center when HUD drawers open */

#background.edge-north-open #center {

    margin-top: calc(var(--sherpa-drawer-north-open-height) - var(--sherpa-drawer-north-closed-height));
}

#background:not(.edge-north-open) #center {

    margin-top: 0;
}

#background.edge-south-open #center {

    margin-bottom: calc(var(--sherpa-drawer-south-open-height) - var(--sherpa-drawer-south-closed-height));
}

#background:not(.edge-south-open) #center {

    margin-bottom: 0;
}

#background.edge-west-open #center {

    margin-left: var(--sherpa-edge-west-open-margin);
}

#background.edge-east-open #center {

    margin-right: var(--sherpa-edge-east-open-margin);
}

/* -----------------------------*
 * Resizers
 * ---------------------------- */

.h-resizer {

    position: absolute;
    display: none;

    width: 100%;
    height: 5px;

    cursor: row-resize;
}

/* North */

#northResizer {

    bottom: 0;
}

#background.edge-north-open #northResizer {

    display: block;
}

.framing.h-edge.north[pclass|resizing] {

    transition: none;
}

/* South */

#southResizer {

    top: 0;
}

#background.edge-south-open #southResizer {

    display: block;
}

.framing.h-edge.south[pclass|resizing] {

    transition: none;
}

/* -----------------------------*
 * South
 * ---------------------------- */

#south #doit {

    position: absolute;

    top: 8px;
    right: 8px;

    width: 24px;
    height: 24px;

    background-size: 20px;
    background-position: 6px 0;
    background-repeat: no-repeat;

    background-image: url("~ide_root/media/ic_play_arrow_black_24px.svg");

    cursor: pointer;
}

#south[pclass|closed] #addsnippet {

    display: none;
}

#south #addsnippet {

    position: absolute;

    top: 36px;
    right: 0;

    width: 24px;
    height: 24px;

    background-size: 20px;
    background-position: 1px 0;
    background-repeat: no-repeat;

    background-image: url("~ide_root/media/ic_add_circle_outline_black_24px.svg");

    cursor: pointer;
}

#south [name="outputmode"].indicator {

    position: absolute;

    top: 8px;

    width: 16px;
    height: 16px;

    background-size: 16px 16px;

    margin-left: 6px;

    cursor: pointer;
}

#south [name="outputmode"][mode="none"].indicator {

    background-image: url("~ide_root/media/ic_crop_free_24px.svg");
}

#south [name="outputmode"][mode="none"][newoutput].indicator {

    background-image: url("~ide_root/media/ic_crop_free_highlight_24px.svg");
}

#south [name="outputmode"][mode="one"].indicator {

    background-image: url("~ide_root/media/ic_filter_1_24px.svg");
}

#south [name="outputmode"][mode="one"][newoutput].indicator {

    background-image: url("~ide_root/media/ic_filter_1_highlight_24px.svg");
}

#south [name="outputmode"][mode="all"].indicator {

    background-image: url("~ide_root/media/ic_filter_none_24px.svg");
}

/* -----------------------------*
 * Modal assistant dialog
 * ---------------------------- */

#AssistantDialog {

    height: 450px;
}

/* -----------------------------*
 * Popup for snippet / bookmark menus
 * ---------------------------- */

#systemPopup {
    /* This should match the CONTEXT_MENU_TIER constant */
    z-index: 28750;
}
}

