@namespace sherpa url(http://www.technicalpursuit.com/2014/sherpa);
@namespace pclass url(urn:tibet:pseudoclass);
@namespace tibet url(http://www.technicalpursuit.com/1999/tibet);

sherpa|navlist {

    display: block;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 250px;
    height: auto;

    line-height: 1.5em;

    border-top: 1px solid white;
}

sherpa|navlist > ul {

    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;

    height: 100%;
    width: 100%;

    background-color: white;
}

sherpa|navlist > ul > li {

    flex: 1;

    text-align: left;

    height: 100%;

    border-left: 1px solid white;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;

    padding-left: 10px;

    text-overflow: ellipsis;

    cursor: pointer;
}

sherpa|navlist > ul > li[pclass|selected] {

    background: gold;
}

sherpa|navlist > ul > li:hover {

    background-color: gold;
}

sherpa|navlist > ul > li:first-child {

    border-top: 0;
}

sherpa|navlist > ul > li:last-child {

    /*border-bottom: 0;*/
}

sherpa|navlist > ul > li > ul {

    margin: 0;
    padding: 0;

    height: 100%;
    width: 100%;
}

sherpa|navlist > ul > li > ul > li {

    left: 0;
    right: 0;
    height: 1.5em;

    line-height: 1.5em;

    padding: 0 5px;

    border-top: 1px solid white;
    border-bottom: 1px solid #eee;

    overflow: hidden;

    text-overflow: ellipsis;
}

sherpa|navlist > ul > li > ul > li[pclass|selected] {

    background: gold;
}

sherpa|navlist > ul > li > ul > li:first-child {

    border-top: 0;
}

sherpa|navlist > ul > li > ul > li:last-child {

    border-bottom: 0;
}

