@namespace sherpa url(http://www.technicalpursuit.com/2014/sherpa);
@namespace pclass url(urn:tibet:pseudoclass);
@namespace tibet url(http://www.technicalpursuit.com/1999/tibet);

sherpa|navscroll {

    position: absolute;
    display: block;

    top: auto;
    right: 0;
    bottom: 0;
    left: 0;

    height: 24px;

    border-top: 1px solid white;

    background: #eee;
}

sherpa|navscroll > ul {

    display: flex;

    margin: 0;
    padding: 0;

    height: 100%;
    width: 100%;
}

sherpa|navscroll > ul > li {

    flex: 1;

    height: 100%;

    line-height: 22px;

    border-left: 1px solid white;
    border-right: 1px solid #aaa;

    overflow: hidden;

    text-overflow: ellipsis;
}

sherpa|navscroll > ul > li:first-child {

    border-left: 0;
}

sherpa|navscroll > ul > li:last-child {

    border-right: 0;
}



.scrollbuttons {

    position: relative;
}

.scrollbuttons > .icon {

    margin-top: 3px;

    width: 16px;
    height: 16px;

    background: #ddd;

    border: 1px solid #aaa;
    border-radius: 9px;

    color: #aaa;

    line-height: 14px;

    text-align: center;

    font-size: 12px;
}

.scrollbuttons > .icon.next {

    position: absolute;

    top: 50%;
    left:50%;

    margin-left: -24px;

    font-size: 16px;
}

.scrollbuttons > .icon.prev {

    position: absolute;

    top: 50%;
    left:50%;

    margin-left: 6px;

    font-size: 16px;
}

.scrollbuttons > .icon.next.more {

    border: 1px solid #666;

    background: white;
    color: #666;
}
.scrollbuttons > .icon.prev.more {

    border: 1px solid #666;

    background: white;
    color: #666;
}

.scrollbuttons > .icon.next.more:hover {

    border: 1px solid #333;

    background: gold;
}

.scrollbuttons > .icon.prev.more:hover {

    border: 1px solid #333;

    background: gold;
}

