@namespace html url(http://www.w3.org/1999/xhtml);
@namespace sherpa url(http://www.technicalpursuit.com/2014/sherpa);
@namespace pclass url(urn:tibet:pseudoclass);

#triggerHUD {
    position: absolute;

    cursor: default;

    bottom: 15px;
    right: 15px;
    width: 25px;
    height: 25px;

    background-size: 25px 25px;
    background-image: url(../../../../../lib/img/tibet_logo_black.svg);
}

#triggerHUD:hover {
    transform: rotateZ(-90deg);
}

#triggerHUD:active {
    transform: rotateZ(-90deg) scale(1.2);
}

#background {
    pointer-events: none;
}

.framing {
    pointer-events: auto;
}

.drawerButton {
    position: relative;

    font-family: "Lucida Sans", "Lucida Grande", Verdana, Arial, sans-serif;
    font-size: 13px;
    color: white;

    cursor: default;

    left: 5px;
    width: 15px;
    height: 15px;

    background-size: 15px 15px;
}

div#fitToSelf {
    background-image: url(../img/fit_to_self.svg);
}

div.fitToScreen {
    background-image: url(../img/fit_to_screen.svg);
}

div#zoomIn {
    background-image: url(../img/zoom_in.svg);
}

div#zoomOut {
    background-image: url(../img/zoom_out.svg);
}

div#toggleLog {
    background-image: url(../img/log.svg);
}

.north {
    transition: height .5s;
}

.west {
    transition: width .5s;
}

.south {
    transition: height .5s;
}

.east {
    transition: width .5s;
}

.north[pclass|hidden] {
    top: -2px;
    height: 0px;
}

.west[pclass|hidden] {
    left: -2px;
    width: 0px;
}

.south[pclass|hidden] {
    bottom: -2px;
    height: 0px;
}

.east[pclass|hidden] {
    right: -2px;
    width: 0px;
}
