@namespace html url(http://www.w3.org/1999/xhtml);
@namespace sherpa url(http://www.technicalpursuit.com/2014/sherpa);
@namespace xctrls url(http://www.technicalpursuit.com/2005/xcontrols);
@namespace pclass url(urn:tibet:pseudoclass);

sherpa|console
{
    display: block;
	position: relative;

    top: 3px;
    bottom: 4px;

    height: 18px;

    /* Because we're display: relative, we need use margins for left and
        right */
    margin-left: 5px;
    margin-right: 5px;

    /*max-height: calc(100% - 100px);*/

	/* This should match TIBET's CONSOLE_TIER constant */
	z-index: 15000;

    box-shadow: 0 0 0 1px #666;
    border: 1px solid #aaa;
    border-radius: 4px;
    background: #444;
    padding: 1px;
}

sherpa|console[pclass|hidden]
{
    height: 0px;
}

sherpa|console[maximized]
{
    top: 50px;
    height: auto !important;
}

sherpa|console > #toggleMaximize
{
    position: absolute;

    cursor: pointer;

    top: 2px;
    right: 2px;
    width: 10px;
    height: 10px;

    transform: rotate(90deg);

    background-size: 10px 10px;
    background-image: url(../img/console_fullscreen_enter.svg);
}

sherpa|console[maximized] > #toggleMaximize
{
    background-image: url(../img/console_fullscreen_exit.svg);
}

sherpa|console > #toggleMaximize:active
{
    transform: rotate(90deg) scale(1.2);
}

sherpa|console[maximized] > #toggleMaximize:active
{
    transform: rotate(90deg) scale(0.8);
}

sherpa|console > xctrls|codeeditor
{
    position: static;

    top: 0px;
    left: 0px;

    width: 100%;
    height: 100%;
}

sherpa|console > xctrls|codeeditor > iframe
{
    border-radius: 5px;
}

sherpa|screen#consoleOut
{
    width: 100%;
    height: 100%;
}
