@namespace html url(http://www.w3.org/1999/xhtml);
@namespace sherpa url(http://www.technicalpursuit.com/2014/sherpa);
@namespace xctrls url(http://www.technicalpursuit.com/2005/xcontrols);
@namespace pclass url(urn:tibet:pseudoclass);

sherpa|console
{
    display: none;
	position: absolute;

    top: auto;
    right: 31px;
	left: 31px;
    bottom: 3px;

    height: 18px;

    /*max-height: calc(100% - 100px);*/

	/* This should match TIBET's CONSOLE_TIER constant */
	z-index: 15000;

    border: solid 1px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

sherpa|console:not([pclass|hidden])
{
    display: block;
}

sherpa|console[maximized]
{
    top: 50px;
    height: auto !important;
}

sherpa|console > #toggleMaximize
{
    position: absolute;

    cursor: pointer;

    top: 2px;
    right: 2px;
    width: 10px;
    height: 10px;

    transform: rotate(90deg);

    background-size: 10px 10px;
    background-image: url(../img/console_fullscreen_enter.svg);
}

sherpa|console[maximized] > #toggleMaximize
{
    background-image: url(../img/console_fullscreen_exit.svg);
}

sherpa|console > #toggleMaximize:active
{
    transform: rotate(90deg) scale(1.2);
}

sherpa|console[maximized] > #toggleMaximize:active
{
    transform: rotate(90deg) scale(0.8);
}

sherpa|console > xctrls|codeeditor
{
	position: absolute;

    top: 0px;
    left: 0px;

    width: 100%;
    height: 100%;
}

