@namespace url(http://www.w3.org/1999/xhtml);
@namespace sherpa url(http://www.technicalpursuit.com/2014/sherpa);
@namespace pclass url(urn:tibet:pseudoclass);

#triggerHUD
{
    position: absolute;

    cursor: default;

    bottom: 15px;
    right: 15px;
    width: 25px;
    height: 25px;

    background-size: 25px 25px;
    background-image: url(../../../../../lib/img/tibet_logo_black.svg);
}

#triggerHUD:hover
{
    transform: rotateZ(-90deg);
}

#triggerHUD:active
{
    transform: rotateZ(-90deg) scale(1.2);
}

sherpa|hud
{
	position: absolute;

	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;

    display: none;

    pointer-events: none;
}

sherpa|hud:not([pclass|hidden])
{
    display: block;
}

.drawerButton
{
    position: relative;

    font-family: "Lucida Sans", "Lucida Grande", Verdana, Arial, sans-serif;
    font-size: 13px;
    color: white;

    cursor: default;

    left: 5px;
    width: 15px;
    height: 15px;

    background-size: 15px 15px;
}

div#fitToSelf
{
    background-image: url(../img/fit_to_self.svg);
}

div.fitToScreen
{
    background-image: url(../img/fit_to_screen.svg);
}

div#zoomIn
{
    background-image: url(../img/zoom_in.svg);
}

div#zoomOut
{
    background-image: url(../img/zoom_out.svg);
}

div#toggleLog
{
    background-image: url(../img/log.svg);
}

sherpa|huddrawer
{
	display: block;

	position: absolute;

    background-image: url(../../../../../lib/img/boot/white_fiber.png);

    pointer-events: auto;
}

sherpa|huddrawer[sherpa|edge="topleft"]
{
	left: -30px;
	top: -50px;

	width: 30px;
	height: 50px;
}

/* doesn't work in any browser:
sherpa|huddrawer[sherpa|edge="left"]:visible
*/
sherpa|huddrawer[sherpa|edge="topleft"]:not([pclass|hidden])
{
	left: 0px;
	top: 0px;
}

sherpa|huddrawer[sherpa|edge="top"]
{
	left: 30px;
	top: -50px;

    right: 30px;
	height: 50px;

	border-bottom: solid 2px #AAAAAA;
}

/* doesn't work in any browser:
sherpa|huddrawer[sherpa|edge="top"]:visible
*/
sherpa|huddrawer[sherpa|edge="top"]:not([pclass|hidden])
{
	top: 0px;
}

sherpa|huddrawer[sherpa|edge="topright"]
{
	right: -30px;
	top: -50px;

	width: 30px;
	height: 50px;
}

/* doesn't work in any browser:
sherpa|huddrawer[sherpa|edge="left"]:visible
*/
sherpa|huddrawer[sherpa|edge="topright"]:not([pclass|hidden])
{
	right: 0px;
	top: 0px;
}

sherpa|huddrawer[sherpa|edge="right"]
{
	top: 50px;
	right: -30px;

    bottom: 50px;
	width: 30px;

	border-left: solid 2px #AAAAAA;
}

/* doesn't work in any browser:
sherpa|huddrawer[sherpa|edge="right"]:visible
*/
sherpa|huddrawer[sherpa|edge="right"]:not([pclass|hidden])
{
	right: 0px;
}

sherpa|huddrawer[sherpa|edge="bottomright"]
{
	right: -30px;
	bottom: -50px;

	width: 30px;
	height: 50px;
}

/* doesn't work in any browser:
sherpa|huddrawer[sherpa|edge="bottomright"]:visible
*/
sherpa|huddrawer[sherpa|edge="bottomright"]:not([pclass|hidden])
{
	right: 0px;
	bottom: 0px;
}

sherpa|huddrawer[sherpa|edge="bottom"]
{
	left: 30px;
	bottom: -50px;

    right: 30px;
	height: 50px;

	border-top: solid 2px #AAAAAA;
}

/* doesn't work in any browser:
sherpa|huddrawer[sherpa|edge="bottom"]:visible
*/
sherpa|huddrawer[sherpa|edge="bottom"]:not([pclass|hidden])
{
	bottom: 0px;
}

sherpa|huddrawer[sherpa|edge="bottomleft"]
{
	left: -30px;
	bottom: -50px;

	width: 30px;
	height: 50px;
}

/* doesn't work in any browser:
sherpa|huddrawer[sherpa|edge="bottomleft"]:visible
*/
sherpa|huddrawer[sherpa|edge="bottomleft"]:not([pclass|hidden])
{
	left: 0px;
	bottom: 0px;
}

sherpa|huddrawer[sherpa|edge="left"]
{
	left: -30px;
	top: 50px;

    bottom: 50px;
	width: 30px;

	border-right: solid 2px #AAAAAA;
}

/* doesn't work in any browser:
sherpa|huddrawer[sherpa|edge="left"]:visible
*/
sherpa|huddrawer[sherpa|edge="left"]:not([pclass|hidden])
{
	left: 0px;
}

sherpa|huddrawer > sherpa|body
{
	width: 100%;
	height: 100%;
}

/* The huddrawer is disabled */

/* doesn't work in any browser:
sherpa|huddrawer:disabled
*/
sherpa|huddrawer[pclass|disabled]
{
	opacity: 0.5;
}
