@namespace sherpa url(http://www.technicalpursuit.com/2014/sherpa);

sherpa|notebook
{
    display: block;
	position: absolute;

	top: 10px;
	left: 0px;
	bottom: 0px;
	right: 0px;

    border: solid 1px red;
}
