@namespace sherpa url(http://www.technicalpursuit.com/2014/sherpa);
@namespace pclass url(urn:tibet:pseudoclass);

sherpa|logview {

    display: none;
	position: absolute;

	top: 55px;
	right: 30px;
	bottom: 80px;
	width: 300px;

    border: solid 1px black;

	/* This should match TIBET's CONSOLE_TIER constant */
	z-index: 15000;
}

sherpa|logview:not([pclass|hidden]) {

    display: block;
}

sherpa|logview > .body {

    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;

    background-image: url(../../../../../lib/media/boot/dark_fiber.png);

    font-family: "Lucida Sans", "Lucida Grande", Verdana, Arial, sans-serif;
    font-size: 10px;
    color: white;
}

sherpa|logview > .body ul {

    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

sherpa|logview > .body li {

    display: block;
    margin-bottom: 4px;
}
