@namespace sherpa url(http://www.technicalpursuit.com/2014/sherpa);
@namespace pclass url(urn:tibet:pseudoclass);

sherpa|typedisplay {

    display: block;
    position: absolute;

    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;

    overflow: auto;
}

sherpa|typedisplay > .body {

    font-size: 10px;

    width: 100%;
    min-height: 100%;

    line-height: 1.3;
}

sherpa|typedisplay > .body .section {

    min-height: 3em;

    margin-bottom: 5px;
    margin-top: 5px;
}

sherpa|typedisplay > .body .header {

    font-size: 130%;

    margin-top: .3em;
    margin-right: 30px;
    margin-left: 30px;

    background-color: gold;

    text-align: center;
}

sherpa|typedisplay > .body .content {

    font-size: 120%;

    margin-right: 30px;
    margin-left: 30px;

    text-align: center;
}

sherpa|typedisplay .content > table {

    width: 100%;
}

sherpa|typedisplay .content th,
sherpa|typedisplay .content td {

    max-width: 175px;

    padding: 4px;
    border: 1px solid gold;

    overflow: hidden;
    text-overflow: ellipsis;
}

sherpa|typedisplay .content td:hover {

    background-color: gold;
    cursor: pointer;
}

