@namespace sherpa url(http://www.technicalpursuit.com/2014/sherpa);
@namespace pclass url(urn:tibet:pseudoclass);

sherpa|tile {

    display: none;
    position: absolute;

	top: 0px;
	left: 0px;
	min-height: 300px;
    min-width: 600px;

    border: solid 1px rgba(0, 0, 0, 0.2);

    padding: 5px 10px;

    border-radius: 3px;

    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);

    background-color: rgb(238, 238, 238);

    font-family: "Lucida Sans", "Lucida Grande", Verdana, Arial, sans-serif;
    font-size: 12px;

	/* This should match TIBET's CONSOLE_TIER constant */
	z-index: 15000;
}

sherpa|tile[attachedto="console"] {

	position: relative;

    border: dotted 1px orange;

    background-color: #3F3F3F;
}

sherpa|tile:not([pclass|hidden]) {

    display: block;
}

sherpa|tile > .header {

    position: absolute;
    display: block;

    top: 0px;
    left: 0px;
    right: 0px;

    height: 10px;

    padding-bottom: 1px;
}

sherpa|tile[attachedto="console"] > .header {

    background-color: orange;
}

sherpa|tile > .body {

    position: absolute;

    top: 12px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    overflow-x: hidden;
    overflow-y: auto;
}

sherpa|tile .header_text {

    font-weight: bold;
    font-size: 9px;

    pointer-events: none;
}

sherpa|tile .detach_mark {

    position: absolute;

    cursor: pointer;

    top: 0px;
    right: 22px;
    width: 10px;
    height: 10px;

    background-size: 10px 10px;
    background-image: url(../media/call49.svg);
}

sherpa|tile .close_mark {

    position: absolute;

    cursor: pointer;

    top: 0px;
    right: 2px;
    width: 10px;
    height: 10px;

    background-size: 10px 10px;
    background-image: url(../media/cancel19.svg);
}

sherpa|tile:not([attachedto]) .detach_mark {

    background-image: url(../media/exit13.svg);
}

