@namespace sherpa url(http://www.technicalpursuit.com/2014/sherpa);
@namespace pclass url(urn:tibet:pseudoclass);

sherpa|tiledock {
    width: 100%;
    height: 100%;
}

sherpa|tiledock > ul {

    position: absolute;
    top: 36px;
    bottom: 0;
    height: auto;
    left: 0;
    right: 0;
    width: auto;
    margin: 0;
    padding: 0;
    line-height: 18px;
    color: #666;
    font-size: 60%;
    font-family: "Lucida Sans Typewriter", "Courier New", Courier, monospace;
    font-weight: normal;
}

sherpa|tiledock > ul > li {

    height: 18px;
    padding-left: 0.25em;
    margin: 0.5em;
    border: 1px solid #666;
    border-radius: 9px;
    overflow: hidden;
    text-overflow: ellipsis;
}

sherpa|tiledock > ul > li:hover {

    background: gold;
    color: #666;
}

sherpa|tiledock > ul > li.warn {
    color: orange;
}

sherpa|tiledock > ul > li.error {
    color: red;
}

