@namespace sherpa url(http://www.technicalpursuit.com/2014/sherpa);
@namespace pclass url(urn:tibet:pseudoclass);

sherpa|hud {

    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#background {
/*    pointer-events: none; */
}

.framing {
/*    pointer-events: auto; */
}

.drawerButton {

    position: relative;

    font-family: "Lucida Sans", "Lucida Grande", Verdana, Arial, sans-serif;
    font-size: 13px;
    color: white;

    cursor: default;

    left: 5px;
    width: 15px;
    height: 15px;

    background-size: 15px 15px;
}

div#fitToSelf {

    background-image: url(../media/fit_to_self.svg);
}

div.fitToScreen {

    background-image: url(../media/fit_to_screen.svg);
}

div#zoomIn {

    background-image: url(../media/zoom_in.svg);
}

div#zoomOut {

    background-image: url(../media/zoom_out.svg);
}

div#toggleLog {

    background-image: url(../media/log.svg);
}

/* HUD edges */

.framing.v-edge.east, .framing.v-edge.west {

    /* This should match TIBET's HUD_V_EDGE_TIER constant */
    z-index: 22500;
}

.framing.h-edge.north, .framing.h-edge.south {

    /* This should match TIBET's HUD_H_EDGE_TIER constant */
    z-index: 26250;
}

.framing.h-edge.north, .framing.h-edge.south {
    transition: height 0.25s, margin 0.25s;
}

.framing.v-edge.east, .framing.v-edge.west {
    transition: width 0.25s, margin 0.25s;
}


#background.edge-west-open .framing.h-edge.north {
    margin-left: 153px;
}

#background:not(.edge-west-open) .framing.h-edge.north {
    margin-left: 0;
}

#background.edge-east-open .framing.h-edge.north {
    margin-right: 153px;
}

#background:not(.edge-east-open) .framing.h-edge.north {
    margin-right: 0;
}

/* HUD corners */

.framing.corner {

    /* This is situated between CONNECTOR_TIER and DRAG_DROP_TIER, and *above*
        both edges */
    z-index: 28750;
}

.framing.north.west, .framing.north.east, .framing.south.west, .framing.south.east {

    transition: width 0.25s, height 0.25s;
}

#background.edge-west-open .framing.north.west {
    width: 200px;
}

#background.edge-east-open .framing.north.east {
    width: 200px;
}

.framing.north.west {
    border: 0;
    border-right: 1px solid #666;
    border-bottom: 1px solid #666;
    border-bottom-right-radius: 5px;
    background: #eee;
}
