@namespace sherpa url(http://www.technicalpursuit.com/2014/sherpa);
@namespace pclass url(urn:tibet:pseudoclass);

sherpa|world {

    display: block;
    position: absolute;
    box-sizing: border-box;

    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    width: auto;
    height: auto;

    transform-origin: 0 0;
    transition: transform .5s ease-in;

    /*background-image: url('../../../../../lib/media/boot/tibet_world.gif');
    background-position: center center;
    background-repeat: no-repeat;*/

    background-color: #aaa;

    border-radius: 3px;
    border: 1px solid #666;

    overflow: auto;
}

/* All world */

#center.all-world #content {

    top: 0px;
    left: 0px;

    width: 0px;
    height: 0px;
}

/* All console */

#center.all-content #content {

    top: 0px;
    left: 0px;

    width: 100%;
    height: 100%;
}

/* Vertical splitting */

#center.v-split-left sherpa|world {

    left: 50%;
    right: 2px;
    margin-left: 5px;
}

#center.v-split-left #content {

    width: 50%;
}

#center.v-split-right sherpa|world {

    width: 50%;
}

#center.v-split-right #content {

    left: 50%;
    right: 0;
    margin-left: 4px;
}


/* Horizontal splitting */

#center.h-split-top sherpa|world {

    top: 50%;
    bottom: 2px;
    margin-top: 5px;
}

#center.h-split-top #content {

    height: 50%;
}

#center.h-split-bottom sherpa|world {

    height: 50%;
}

#center.h-split-bottom #content {

    top: 50%;
    bottom: 0;
    margin-top: 5px;
}

