@namespace sherpa url(http://www.technicalpursuit.com/2014/sherpa);

sherpa|inspectoritem {

    position: relative;

    overflow: auto;
}

sherpa|inspectoritem:last-child {

    flex: 1;
}

sherpa|inspectoritem.flex-1 {

    flex: 1;
}

sherpa|inspectoritem.flex-2 {

    flex: 2;
}

sherpa|inspectoritem.flex-3 {

    flex: 3;
}

