@namespace sherpa url(http://www.technicalpursuit.com/2014/sherpa);
@namespace pclass url(urn:tibet:pseudoclass);

sherpa|typedisplay {

    display: block;
    position: absolute;

    top: 18px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    overflow: auto;
}

sherpa|typedisplay > .typelist {

    font-size: 10px;

    line-height: 1.3;
}

sherpa|typedisplay > .typelist .parent {

    float: left;
}

sherpa|typedisplay > .typelist .header {

    margin: 0px;
    text-align: center;
}

sherpa|typedisplay > .typelist table {

    border-collapse: collapse;
    margin: 4px;
}

sherpa|typedisplay > .typelist th,
sherpa|typedisplay > .typelist td {

    width: 60px;
    padding: 4px;
    border: 1px solid orange;
}
