@namespace sherpa url(http://www.technicalpursuit.com/2014/sherpa);
@namespace pclass url(urn:tibet:pseudoclass);
@namespace tibet url(http://www.technicalpursuit.com/1999/tibet);

sherpa|consoleoutput {

    display: block;
    position: absolute;

    font-family: "Lucida Sans Typewriter","Courier New",Courier,monospace;
    font-size: 85%;

    text-align: left;

    white-space: nowrap;

    line-height: 1.5em;

    right: 10px;
    bottom: 10px;
    left: 10px;

    max-height: calc(100% - 20px);

    padding-left: 5px;
    padding-right: 5px;

    overflow: auto;

    /* This should match TIBET's CONSOLE_OUTPUT_TIER constant */
    z-index: 27500;

    transition: margin 0.25s;
}

sherpa|consoleoutput[pclass|hidden] {

    display: none;
}

sherpa|consoleoutput[panes="none"] {

    display: none;
}

sherpa|consoleoutput[panes="one"] {

    top: auto;
}

sherpa|consoleoutput[panes="one"] sherpa|consoleoutputitem {

    display: none;
}

sherpa|consoleoutput[panes="one"] sherpa|consoleoutputitem:last-child {

    display: block;
}

sherpa|consoleoutput a {

    color: slateblue;
}

.wrapper {

    display: inline-flex;
    flex-direction: column;

    justify-content: flex-end;

    width: 100%;
    height: 100%;
}

sherpa|consoleoutputitem {

    display: block;

    position: relative;

    /*
    min-height: -webkit-min-content;
    min-height: -moz-min-content;
    */

    margin-top: 2px;
    margin-bottom: 2px;
}

sherpa|consoleoutputitem[class~="logoutput"] > .flex-cell > .content {

    margin: 0;
}

sherpa|consoleoutputitem[class~="logoutput"] > .flex-cell > .content:last-child {

    border-bottom: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.flex-cell {

    width: 100%;

    background: #EEE;
    border: solid 1px #666;

    border-radius: 5px;
}

.flex-cell > .header {

    top: 0;
    right: 0;
    left: 0;

    height: 15px;

    margin: 2px;

    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    background: #EEE;

    min-width: auto;

    border: 1px solid #666;
    overflow: hidden;

    font-size: inherit;
}

.flex-cell > .header > * {

    /*line-height: 30px;*/

    /*font-weight: bold;*/
    /*font-size: 116%;*/
}

.flex-cell > .header > .hid {

    text-decoration: none;
    display: inline-block;
    min-width: 32px;
}

.flex-cell > .header > .hid:hover {

    font-weight: bold;
}

.flex-cell > .header > .content {

    position: relative;
    display: inline-block;

    white-space: pre-wrap;
}

.flex-cell > .header > .typeinfo {

    float: right;
    margin: 0 8px;
    display: inline-block;

    color: darkgoldenrod;

    white-space: pre-wrap;
}

.flex-cell > .header > .stats {

    float: right;
    margin: 0 8px;
    display: inline-block;

    color: grey;

    white-space: pre-wrap;
}

.flex-cell > .header > .detach_mark {

    float: right;
    margin: 0 8px;

    cursor: pointer;

    width: 14px;
    height: 14px;

    background-size: 14px 14px;
    background-image: url(../media/call49.svg);
}

.flex-cell > .content {

    top: 31px;
    right: 0;
    bottom: 9px;
    left: 0;

    background: #FFF;

    min-width: auto;

    margin: 2px;
    border: 1px dotted #DADADA;

    overflow: auto;

    text-align: left;

    color: black;

    -ms-user-select: text;
    -moz-user-select: text;
    -webkit-user-select: text;

    overflow: hidden;
}

.flex-cell > .content > * {
    /*margin: 0.25em;*/

    line-height: 1.0em;
    white-space: pre-wrap;
}

.flex-cell > .footer {

    bottom: 0;
    left: 0;
    right: 0;
    height: 8px;

    background: #EEE;

    min-width: auto;

    margin: 2px;

    border: 1px solid #666;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

    overflow: hidden;

    text-align: center;
}

.flex-cell > .content dl {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.flex-cell > .content dl > dt {
    flex: 0 0 25%;
    margin: 0;
    line-height: 2em;
}
.flex-cell > .content dl > dt:nth-of-type(even) {
    background: #eee;
}

.flex-cell > .content dl > dd {
    flex: 0 0 75%;
    margin: 0;
    line-height: 2em;
}
.flex-cell > .content dl > dd:nth-of-type(even) {
    background: #eee;
}
