@namespace sherpa url(http://www.technicalpursuit.com/2014/sherpa);
@namespace pclass url(urn:tibet:pseudoclass);

sherpa|screen
{
	display: block;
	position: absolute;

	background: -moz-linear-gradient(top, #606c88 0%, #3f4c6b 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top, #606c88 0%,#3f4c6b 100%); /* Chrome10+,Safari5.1+ */
	background: -ms-linear-gradient(top, #606c88 0%,#3f4c6b 100%); /* IE10+ */
	background: linear-gradient(top, #606c88 0%,#3f4c6b 100%); /* W3C */

	/*
	-webkit-box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, .5);
	-moz-box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, .5);
	box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, .5);
	*/

	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;

	/*
	  -moz-transition: -moz-transform .5s ease-in;
	  -webkit-transition: -moz-transform .5s ease-in;
	 */

	/*opacity: .3; */

    width: 100%;
    height: 100%;

    border: solid 1px black;
}

sherpa|screen[selected="true"]
{
	/*opacity: 1.0;*/
}
