@namespace sherpa url(http://www.technicalpursuit.com/2014/sherpa);
@namespace xctrls url(http://www.technicalpursuit.com/2005/xcontrols);
@namespace html url(http://www.w3.org/1999/xhtml);
@namespace pclass url(urn:tibet:pseudoclass);

sherpa|cmdline
{
    position: relative;

    width: 100%;
    margin-top: 20px;
}

