@namespace sherpa url(http://www.technicalpursuit.com/2014/sherpa);
@namespace pclass url(urn:tibet:pseudoclass);

sherpa|world {

    display: block;
    position: absolute;
    box-sizing: border-box;

    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    width: auto;
    height: auto;

    transform-origin: 0 0;
    transition: transform .5s ease-in;

    background-image: url('../../../../../lib/media/boot/tibet_world.gif');
    background-position: center center;
    background-repeat: no-repeat;

    border-radius: 3px;
    border: 0;

    overflow: auto;
}

/* Vertical splitting */

#center.v-split-left sherpa|world {
    left: 50%;
    width: 50%;
}

#center.v-split-left #content {
    width: 50%;
}

#center.v-split-right sherpa|world {
    width: 50%;
}

#center.v-split-right #content {
    left: 50%;
    width: 50%;
}


/* Horizontal splitting */

#center.h-split-top sherpa|world {
    top: 50%;
    height: 50%;
}

#center.h-split-top #content {
    height: 50%;
}

#center.h-split-bottom sherpa|world {
    height: 50%;
}

#center.h-split-bottom #content {
    top: 50%;
    height: 50%;
}

