@namespace sherpa url(http://www.technicalpursuit.com/2014/sherpa);
@namespace xctrls url(http://www.technicalpursuit.com/2005/xcontrols);
@namespace pclass url(urn:tibet:pseudoclass);

sherpa|urieditor {

    display: flex;
    flex-direction: column;

	position: absolute;

	top: 0px;
	left: 0px;
	bottom: 0px;
    right: 0px;
}

sherpa|urieditor > .body {

    position: relative;

    flex-grow: 1;

    top: 0px;
    left: 0px;
    right: 0px;

    overflow-x: hidden;
    overflow-y: auto;
}

sherpa|urieditor > .head {

    left: 0px;
    right: 0px;
}

sherpa|urieditor > .foot {

    display: flex;
    justify-content: flex-end;

    left: 0px;
    right: 0px;
    bottom: 0px;

    border-top: dotted 1px black;
}

sherpa|urieditor > .foot > button {

    margin-bottom: 2px;
    margin-right: 2px;

    font-size: 10px;

    line-height: 0.8;

    border: dotted 1px black;
    background-color: transparent;
}

sherpa|urieditor > .foot > .detach_mark {

    margin: 4px 4px;

    cursor: pointer;

    width: 14px;
    height: 14px;

    background-size: 14px 14px;
    background-image: url(../media/call49.svg);
}

sherpa|urieditor xctrls|codeeditor > .CodeMirror {

    font-size: 12px;
    height: 100%;
}

sherpa|urieditor xctrls|codeeditor > .CodeMirror-scroll {

    overflow-x: auto;
    overflow-y: auto;
}

