/*
    CSS styles for the 'xctrls:radioitem' control.
*/

@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");
@namespace tibet url("http://www.technicalpursuit.com/1999/tibet");
@namespace svg url("http://www.w3.org/2000/svg");
@namespace pclass url("urn:tibet:pseudoclass");

/* The radioitem */

xctrls|radioitem {

    display: inline-flex;
    justify-content: center;
    align-items: center;

    /* Order check image before label */
    flex-direction: row-reverse;

    user-select: none;

    /* The radioitem's value (the checkmark) */

    & > *[tibet|pelem="value"] {

        svg|svg {

            display: block;

            width: 1em;
            height: 1em;

            svg|g[state="off"] {

                fill: none;
                stroke: black;
                stroke-width: 2px;
            }

            svg|g[state="on"] {

                display: none;
            }
        }
    }

    /* Hovering over the radioitem */

    &:hover {

        > *[tibet|pelem="value"] {

            svg|svg {

                svg|g[state="off"] {

                    display: none;
                }

                svg|g[state="on"] {

                    display: block;
                }
            }
        }
    }

    /* Focusing on the radioitem */

    /* doesn't work in any browser:
    &:focus
    */
    &[pclass|focus] {
    }

    /* Clicking down on the radioitem */

    /* doesn't work in IE9:
    &:active::value
    */
    &[pclass|active] {

        > *[tibet|pelem="value"] {

            svg|svg {

                svg|g[state="off"] {

                    display: none;
                }

                svg|g[state="on"] {

                    display: block;
                }
            }
        }

        &[pclass|checked] > *[tibet|pelem="value"] {
        }
    }

    /* The radioitem is disabled */

    /* doesn't work in any browser:
    &:disabled
    */
    &[pclass|disabled] {

        > *[tibet|pelem="value"] {
        }

        &[pclass|active] > *[tibet|pelem="value"] {
        }

        &[pclass|active][pclass|checked] > *[tibet|pelem="value"] {
        }
    }

    /* The radioitem is checked */

    /* doesn't work in any browser:
    &:checked
    */
    &[pclass|checked] {

        > *[tibet|pelem="value"] {

            svg|g[state="off"] {

                display: none;
            }

            svg|g[state="on"] {

                display: block;
            }
        }
    }

    /* The radioitem label */

    & > xctrls|label {

        flex: 1;
    }

    /* Clicking down on the radioitem, label must highlight */

    /* doesn't work in IE9:
    &:active > xctrls|label
    */
    &[pclass|active] {

        > xctrls|label {
        }

        &[pclass|checked] > xctrls|label {
        }
    }

    /* The radioitem is disabled, so is the label */

    /* doesn't work in any browser:
    &:disabled > xctrls|label
    */
    &[pclass|disabled] > xctrls|label {
    }
}
