/*
    CSS styles for the 'xctrls:radioitem' control.
*/

@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");
@namespace tibet url("http://www.technicalpursuit.com/1999/tibet");
@namespace svg url("http://www.w3.org/2000/svg");
@namespace pclass url("urn:tibet:pseudoclass");

/* The radioitem */
xctrls|radioitem {

    display: inline-flex;
    justify-content: center;
    align-items: center;

    /* Order check image before label */
    flex-direction: row-reverse;

    user-select: none;
}

/* The radioitem's value (the checkmark) */
xctrls|radioitem > *[tibet|pelem="value"] {

}

xctrls|radioitem > *[tibet|pelem="value"] svg|svg {

    display: block;

    width: 1em;
    height: 1em;
}

xctrls|radioitem > *[tibet|pelem="value"] svg|svg svg|g[state="off"] {

    fill: none;
    stroke: black;
    stroke-width: 2px;
}

xctrls|radioitem > *[tibet|pelem="value"] svg|svg svg|g[state="on"] {

    display: none;
}

/* Hovering over the radioitem */
xctrls|radioitem:hover {

}

xctrls|radioitem:hover > *[tibet|pelem="value"] {

}

xctrls|radioitem:hover > *[tibet|pelem="value"] svg|svg svg|g[state="off"] {

    display: none;
}

xctrls|radioitem:hover > *[tibet|pelem="value"] svg|svg svg|g[state="on"] {

    display: block;
}

/* Focusing on the radioitem */
xctrls|radioitem[pclass|focus] {

}

/* Clicking down on the radioitem */
xctrls|radioitem[pclass|active] {

}

xctrls|radioitem[pclass|active] > *[tibet|pelem="value"] {

}

xctrls|radioitem[pclass|active] > *[tibet|pelem="value"] svg|svg svg|g[state="off"] {

    display: none;
}

xctrls|radioitem[pclass|active] > *[tibet|pelem="value"] svg|svg svg|g[state="on"] {

    display: block;
}

xctrls|radioitem[pclass|active][pclass|checked] > *[tibet|pelem="value"] {

}

/* The radioitem is disabled */
xctrls|radioitem[pclass|disabled] {

}

xctrls|radioitem[pclass|disabled] > *[tibet|pelem="value"] {

}

xctrls|radioitem[pclass|disabled][pclass|active] > *[tibet|pelem="value"] {

}

xctrls|radioitem[pclass|disabled][pclass|active][pclass|checked] > *[tibet|pelem="value"] {

}

/* The radioitem is checked */
xctrls|radioitem[pclass|checked] {

}

xctrls|radioitem[pclass|checked] > *[tibet|pelem="value"] {

}

xctrls|radioitem[pclass|checked] > *[tibet|pelem="value"] svg|g[state="off"] {

    display: none;
}

xctrls|radioitem[pclass|checked] > *[tibet|pelem="value"] svg|g[state="on"] {

    display: block;
}

/* The radioitem label */
xctrls|radioitem > xctrls|label {

    flex: 1;
}

/* Clicking down on the radioitem, label must highlight */
xctrls|radioitem[pclass|active] {

}

xctrls|radioitem[pclass|active] > xctrls|label {

}

xctrls|radioitem[pclass|active][pclass|checked] > xctrls|label {

}

/* The radioitem is disabled, so is the label */
xctrls|radioitem[pclass|disabled] > xctrls|label {

}
