@namespace lama url("http://www.technicalpursuit.com/2020/lama");
@namespace pclass url("urn:tibet:pseudoclass");
@namespace tibet url("http://www.technicalpursuit.com/1999/tibet");
@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");

lama|screens {

    display: block;
    position: absolute;

    height: 100%;
    width: 100%;
}

lama|screens > .header {

    position: absolute;

    top: 0;
    bottom: auto;
    left: 0;
    right: 0;

    height: 30px;

    border: 0;
    border-top-left-radius: 5px;

    background-color: #efefef;
}

lama|screens > .header > .trigger.button {

    position: absolute;

    top: 0;
    right: 0;

    width: 42px;
    height: 30px;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    background-size: 20px;
    background-position: 12px;
    background-repeat: no-repeat;

    background-image: url("~ide_root/media/baseline-dashboard-24px.svg");

    cursor: pointer;
}

lama|screens > .header > .trigger.button:hover {

    background-color: gold;

    color: #333;
}

lama|screens > .header > .content:hover > * {

    background-color: white;
}

lama|screens > .header > .button[name="showall"] {

    position: absolute;

    left: 0;
    top: 1px;

    width: 28px;
    height: 30px;

    background-size: 28px;
    background-repeat: no-repeat;

    background-image: url("~ide_root/media/baseline-view_module-24px.svg");

    cursor: pointer;
}

lama|screens > .header > .button[name="showall"]:hover {

    background-color: gold;

    color: #333;
}

lama|screens > .content {

    position: absolute;

    top: 31px;
    bottom: 0;
    left: 0;
    right: 0;

    min-width: 0;
    max-width: none;

    background-color: white;

    border-top: 1px solid #aaa;
}

lama|screens > .content > div {
}

lama|screens > .content > xctrls|panelbox {

    width: 100%;
    height: 100%;
}

lama|screens #LamaScreensPanelbox xctrls|content xctrls|list {

    position: absolute;

    top: 2.2em;
    right: 0;
    bottom: 2.2em;
    left: 0;

    width: auto;
    height: auto;

    min-height: auto;
    margin: 0 20px 4px;

    line-height: 2em;
    border-radius: 0;
    border: 0;
}

lama|screens #LamaScreensPanelbox xctrls|list xctrls|textitem {

    border-right: 0;
}

lama|screens #LamaScreensPanelbox xctrls|list xctrls|textitem:first-child {

    border-top: #efefef;
}

lama|screens #LamaScreensPanelbox xctrls|list xctrls|textitem button {

    position: absolute;
    display: none;

    right: 5px;

    font-size: 75%;

    margin: 0;
    margin-top: 2px;

    padding-top: 0;

    vertical-align: middle;

    border: 0;
    box-shadow: none;
}

lama|screens #LamaScreensPanelbox xctrls|list xctrls|textitem:hover button {

    display: inline-block;
}

lama|screens #AddLocationButton {

    position: absolute;

    right: 20px;

    height: 1.5em;

    line-height: 1;

    border: 0;

    box-shadow: none;

    text-decoration: underline;
}

lama|screens #AddLocationButton:focus {

    background: cornsilk;
}

lama|screens #AddLocationButton:hover {

    background: gold;
}

/* Rules that trigger when the corner is closed */

#background:not(.edge-west-open) lama|screens > .header > *:not(.trigger) {

    display: none;
}

.framing.south.west.corner[pclass|closed] lama|screens > .content {

    display: none;
}

#background:not(.edge-west-open) .framing.corner:not([pclass|closed]) lama|screens > .header > * {

    display: block;
}
