/*
	CSS styles for the 'xctrls:codeeditor' control.
*/

@import url('../xctrls_common.css');

@namespace xctrls url(http://www.technicalpursuit.com/2005/xcontrols);

xctrls|codeeditor
{
	position: absolute;

	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}

