@namespace sherpa url("http://www.technicalpursuit.com/2014/sherpa");
@namespace pclass url("urn:tibet:pseudoclass");

sherpa|tile {

    display: block;

    font-size: 93%;

    min-height: 400px;
    min-width: 600px;

    background-color: gold;
    border: solid 1px #666;

    border-radius: 5px;

    line-height: 1.5em;

    box-shadow: 3px 3px rgba(0, 0, 0, 0.2);

    z-index: var(--tibet-HUD-TILE-TIER);

    -webkit-user-select: none;
    -moz-user-select: none;
    /* IE/Edge use the -webkit- prefix for user-select */
}

sherpa|tile[class~="modal"] {

    position: relative;

    top: auto;
    left: auto;
}

sherpa|tile:not([class~="modal"]) {

    position: absolute;

    top: 75px;
    left: 75px;
}

sherpa|tile > .header {

    position: absolute;

    top: 0;
    left: 0;
    right: 0;

    height: 26px;
    margin: 2px;

    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    background-color: #ddd;
    cursor: move;

    border: 1px solid #666;
    overflow: hidden;

    font-size: 108%;

    text-overflow: ellipsis;
}

sherpa|tile[class~="modal"] > .header {

    pointer-events: none;
}

sherpa|tile > .header > .header_text {

    position: absolute;
    display: inline-block;

    left: 4px;
    right: 54px;

    line-height: 2em;

    vertical-align: middle;

    font-weight: bold;

    pointer-events: none;

    cursor: default;
}

sherpa|tile > .header > .minimize_mark {

    display: inline-block;
    float: right;
    margin: 4px 8px;

    cursor: pointer;

    width: 14px;
    height: 14px;

    background-size: 14px 14px;
    background-image: url("../media/exit13.svg");

    /* The tile dock is to the left */
    transform: rotate(180deg);
}

sherpa|tile[class~="modal"] > .header > .minimize_mark {

    display: none;
}

sherpa|tile > .header > .close_mark {

    display: inline-block;

    float: right;

    margin: 4px 6px;

    cursor: pointer;

    width: 14px;
    height: 14px;

    background-size: 14px 14px;
    background-image: url("../media/cancel19.svg");
}

sherpa|tile[class~="modal"] > .header > .close_mark {

    pointer-events: auto;
}

sherpa|tile > .body {

    position: absolute;

    top: 29px;
    right: 0;
    bottom: 28px;
    left: 0;

    background-color: #fff;

    margin: 2px;

    border: 1px solid #666;

    overflow-x: hidden;
    overflow-y: auto;

    text-align: left;

    color: black;
}

sherpa|tile > .footer {

    position: absolute;

    bottom: 0;
    left: 0;
    right: 0;
    height: 26px;

    min-width: auto;

    margin: 2px;

    border: 1px solid #666;
    border-top: 1px solid white;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

    overflow: hidden;

    text-align: center;

    background: #efefef;
}

sherpa|tile > .footer > button.inserter {

    display: inline-block;

    float: right;

    margin: 3px 6px;

    cursor: pointer;

    width: 20px;
    height: 20px;

    background-size: 18px 18px;
    background-image: url("../media/ic_add_circle_outline_black_24px.svg");
}

sherpa|tile > .right_resizer {

    position: absolute;

    top: 0;
    right: 0;
    width: 10px;
    height: 100%;

    z-index: var(--tibet-CURTAIN-TIER);

    cursor: e-resize;
}

sherpa|tile > .bottom_resizer {

    position: absolute;

    left: 0;
    bottom: 0;

    width: 100%;
    height: 8px;

    z-index: var(--tibet-CURTAIN-TIER);

    cursor: s-resize;
}

