/**
 * Sample gulpfile.
 *
 * TIBET's cli will fall back to Gulp if you add 'gulp' and the gulp task
 * modules appropriate to your tasks to package.json and npm install them.
 */

var gulp = require('gulp');

// Canonical default task.
gulp.task('default', function() {
    console.log('TIBET gulp fallback active.');
});

// 'tibet gulp' runs this :)
gulp.task('gulp', ['default']);
