@namespace sherpa url("http://www.technicalpursuit.com/2014/sherpa");
@namespace pclass url("urn:tibet:pseudoclass");

sherpa|connector {

    z-index: var(--tibet-CONNECTOR-TIER);
}

sherpa|connector div {

    position: absolute;

    top: 0;
    left: 0;

    display: none;

    background-color: black;

    pointer-events: none;
}

sherpa|connector div[part="horizontal"] {

    width: 1px;

    /* This matches the 'connector thickness' setting in the connector
        JavaScript code */
    height: var(--sherpa-connector-thickness);
}

sherpa|connector div[part="vertical"] {

    /* This matches the 'connector thickness' setting in the connector
        JavaScript code */
    width: var(--sherpa-connector-thickness);

    height: 1px;
}

sherpa|connector div[part="launchpad"] {

    /* These all match the 'launch size' setting in the connector JavaScript
        code */
    width: var(--sherpa-connector-launchsize);

    height: var(--sherpa-connector-launchsize);

    clip: rect(0 var(--sherpa-connector-launchsize) var(--sherpa-connector-launchsize) 0);
}

sherpa|connector div[part="destination"] {

    background-color: transparent;

    width: 1px;
    height: 2px;

    border: solid 2px black;
}
