@namespace lama url("http://www.technicalpursuit.com/2020/lama");
@namespace pclass url("urn:tibet:pseudoclass");
@namespace tibet url("http://www.technicalpursuit.com/1999/tibet");

lama|scrollbutton {

    display: none;
    position: absolute;

    width: 16px;
    height: 16px;

    margin: 0.25em auto;

    color: #aaa;
    background-color: #efefef;

    border: 1px solid #aaa;
    border-radius: 9px;

    line-height: 14px !important;
    text-align: center;
    white-space: normal !important;

    overflow: hidden;

    pointer-events: none;

    -moz-user-select: none;
    -webkit-user-select: none;
    /* IE/Edge use the -webkit- prefix for user-select */

    z-index: var(--tibet-SLIDER-TIER);
}

lama|scrollbutton[class~="more"] {

    color: #666;
    background-color: white;

    border: 1px solid #666;

    cursor: pointer;

    pointer-events: auto;
}

lama|scrollbutton[class~="more"]:hover {

    background-color: gold;

    border: 1px solid #666;
}

lama|scrollbutton > .icon {

    position: relative;

    font-size: 12px;
    display: block;
}

lama|scrollbutton[class~="more"] > .icon {
}

lama|scrollbutton[class~="more"]:hover > .icon {

    color: #333;
}
