/*
    CSS styles for 'xctrls:table' controls.
*/

@import url("@{xctrls_src}/TP.xctrls_mixins.less");

@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");
@namespace pclass url("urn:tibet:pseudoclass");
@namespace tibet url("http://www.technicalpursuit.com/1999/tibet");

/* The table */

xctrls|table {

    position: relative;
    display: inline-block;

    overflow-y: auto;

    user-select: none;

    & > .scroller > tibet|group {

        width: 100%;
    }

    *[tibet|pelem="choices"] {

        position: relative;

        /* Grouping element for column groupings */
        & .grouping {

            display: flex;
            flex-direction: row;
        }

        /* Horizontal direction mixin for columns */
        .horizontal() {

            flex-direction: row;
        }

        /* Vertical direction mixin for columns */
        .vertical() {

            //  Let the wrapper flex vertically, so we get 2 rows
            flex-direction: column;

            div {

                //  can't have the children grow, since this now means vertical
                //  growth
                flex-grow: 0;
            }
        }

        /* Growable vertical direction mixin for columns */
        .vertical-growing() {

            .vertical();

            > div {

                //  Let immediate child divs grow horizontally, 100% to fill the
                //  wrapper
                width: 100%;
            }
        }

        & > .row {

            display: flex;
            position: absolute;

            flex-direction: row;
            flex-wrap: nowrap;

            box-sizing: border-box;

            cursor: pointer;

            & > .cell {

                flex-grow: 0;
                flex-shrink: 0;

                vertical-align: top;
            }
        }

        & > .row[spacer] * {

            cursor: default;
        }

        & > .row[grouping] * {

            cursor: default;
        }
    }

    &[colcount="1"] .cell {

        width: @grid-full-width;
    }

    &[colcount="2"] .cell {

        width: @grid-1of2-width;
    }

    &[colcount="3"] .cell {

        width: @grid-1of3-width;
    }

    &[colcount="4"] .cell {

        width: @grid-1of4-width;
    }

    /* The template element */
    .template {

        display: none;
    }

    /* Hovering over the table */

    &:hover {
    }

    /* Focusing on the table */

    /* doesn't work in any browser:
    &:focus
    */
    &[pclass|focus] {
    }

    /* Clicking down on the table */

    /* doesn't work in IE9:
    &:active
    */
    &[pclass|active] {
    }

    /* The table is disabled */

    /* doesn't work in any browser:
    &:disabled
    */
    &[pclass|disabled] {
    }
}
