/*
    CSS styles for 'xctrls:list' controls.
*/

@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");
@namespace pclass url("urn:tibet:pseudoclass");
@namespace tibet url("http://www.technicalpursuit.com/1999/tibet");

/* The list */

xctrls|list {

    position: relative;
    display: inline-block;

    overflow-y: auto;

    user-select: none;

    & > .scroller > tibet|group {

        width: 100%;
    }

    *[tibet|pelem="choices"] {

        position: relative;

        & > xctrls|* {

            display: flex;
            position: absolute;

            box-sizing: border-box;

            /* The item label */

            & > xctrls|label {

                position: relative;
                display: block;
            }
        }

        & > xctrls|*[spacer] * {

            display: none;
        }
    }

    /* Hovering over the list */

    &:hover {
    }

    /* Focusing on the list */

    /* doesn't work in any browser:
    &:focus
    */
    &[pclass|focus] {
    }

    /* Clicking down on the list */

    /* doesn't work in IE9:
    &:active
    */
    &[pclass|active] {
    }

    /* The list is disabled */

    /* doesn't work in any browser:
    &:disabled
    */
    &[pclass|disabled] {
    }
}
