/*
    CSS styles for the 'xctrls:panelbox' control.
*/

@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");
@namespace pclass url("urn:tibet:pseudoclass");

xctrls|panelbox {

    position: relative;

    display: flex;
    flex-wrap: wrap;
}

xctrls|panelbox xctrls|panel {

    order: 1;

    position: relative;

    width: 100%;
    height: 100%;
}

xctrls|panelbox xctrls|panel:not([pclass|selected]) {

    display: none;
}

xctrls|panelbox xctrls|panel xctrls|content {

    position: relative;

    width: 100%;
    height: 100%;
}
