/*
    CSS styles for the 'xctrls:panelbox' control.
*/

@import (reference) url("../TP.xctrls_variables.less");

@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");
@namespace pclass url("urn:tibet:pseudoclass");

xctrls|panelbox {

    position: relative;

    display: flex;
    flex-wrap: wrap;

    xctrls|panel {

        order: 1;

        position: relative;
        width: 100%;
        height: 100%;

        &:not([pclass|selected]) {

            display: none;
        }

        xctrls|content {
            position: relative;
            width: 100%;
            height: 100%;
        }
    }
}

