/*
    CSS styles for the 'xctrls:panelbox' control.
*/

@namespace url("http://www.w3.org/1999/xhtml");
@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");
@namespace pclass url("urn:tibet:pseudoclass");

xctrls|panelbox {

    display: flex;
    flex-wrap: wrap;
}

xctrls|panelbox xctrls|panel {

    width: 100%;
    height: 100%;
}

xctrls|panelbox xctrls|panel:not([pclass|selected]) {

    display: none;
}

xctrls|panelbox xctrls|panel > xctrls|content {

    width: 100%;
    height: 100%;
}
