@namespace sherpa url("http://www.technicalpursuit.com/2014/sherpa");
@namespace pclass url("urn:tibet:pseudoclass");

sherpa|halo {

    display: block;
    position: absolute;

    top: 200px;
    left: 200px;

    min-height: 15px;
    min-width: 50px;

    z-index: var(--tibet-CONSOLE-HALO-TIER);

    outline: dashed 1px #666;

    /* Turn off pointer events so that elements *under* the halo can receive
        events */
    pointer-events: none;

    box-shadow: 3px 3px 3px #aaa;
}

sherpa|halo:not([pclass|hidden]) {

    width: 100px;
    height: 100px;
}

/* In effect when the halo is focused on a target that is below the minimum size
   as defined in the main sherpa|halo rule above */
sherpa|halo[size="belowMinimum"] {

    background: repeating-linear-gradient(142deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75) 10px, rgba(216, 216, 216, 0.75) 10px, rgba(216, 216, 216, 0.75) 15px);
}

sherpa|halo > div {

    position: absolute;

    width: 10px;
    height: 10px;
}

.haloCorner {

    border: solid 1px black;
    border-radius: 0.7em;

    background-color: #acd;

    transition: opacity 0.25s ease-out;

    pointer-events: auto;
}

.haloCorner:hover {

    opacity: 1;
}

/* TP.NORTHWEST */
#haloCorner-Northwest {

    top: -7px;
    left: -7px;
}

/* TP.NORTH */
#haloCorner-North {

    top: -7px;
    left: calc(50% - 7px);
}

/* TP.NORTHEAST */
#haloCorner-Northeast {

    top: -7px;
    right: -7px;
}

/* TP.WEST */
#haloCorner-West {

    left: -7px;
    top: calc(50% - 6px);
}

/* TP.EAST */
#haloCorner-East {

    right: -7px;
    top: calc(50% - 6px);
}

/* TP.SOUTHWEST */
#haloCorner-Southwest {

    bottom: -7px;
    left: -7px;
}

/* TP.SOUTH */
#haloCorner-South {

    left: calc(50% - 7px);
    bottom: -7px;
}

/* TP.SOUTHEAST */
#haloCorner-Southeast {

    bottom: -7px;
    right: -7px;
}

/* Halo breadcrumb */
sherpa|halo > sherpa|breadcrumb {

    top: -18px;

    /* Turn pointer events back on for the breadcrumb */
    pointer-events: auto;
}

div[busyFor="SherpaHalo"] {

    z-index: var(--tibet-HUD-TIER);
}

