@namespace sherpa url("http://www.technicalpursuit.com/2014/sherpa");
@namespace pclass url("urn:tibet:pseudoclass");

sherpa|typedisplay {

    display: block;
    position: absolute;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    overflow: auto;
}

sherpa|typedisplay > .body {

    font-size: 10px;

    width: 100%;
    min-height: 100%;

    line-height: 1.3;
}

sherpa|typedisplay > .body .section {

    min-height: 3em;
}

sherpa|typedisplay > .body .section:last-child {

    margin-bottom: 0;
}

sherpa|typedisplay > .body .header {

    font-size: 130%;
    font-weight: bold;

    line-height: 2;

    background-color: gold;

    text-align: center;
}

sherpa|typedisplay > .body .content {

    font-size: 120%;

    text-align: center;
}

sherpa|typedisplay .content > table {

    width: 100%;
}

sherpa|typedisplay .content th,
sherpa|typedisplay .content td {

    max-width: 175px;

    padding: 4px;
    border: 1px solid gold;

    overflow: hidden;
    text-overflow: ellipsis;
}

sherpa|typedisplay .content td:hover {

    background-color: cornsilk;
    cursor: pointer;
}

sherpa|inspectoritem[contenttype="sherpa:typedisplay"] {

    /* CSS custom property */
    --sherpa-inspector-width: 2;
}
