/*
    CSS styles for the 'xctrls:checkitem' control.
*/

@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");
@namespace tibet url("http://www.technicalpursuit.com/1999/tibet");
@namespace svg url("http://www.w3.org/2000/svg");
@namespace pclass url("urn:tibet:pseudoclass");

/* The checkitem */
xctrls|checkitem {

    display: inline-flex;
    justify-content: center;
    align-items: center;

    /* Order check image before label */
    flex-direction: row-reverse;

    user-select: none;
}

/* The checkitem's value (the checkmark) */
xctrls|checkitem > *[tibet|pelem="value"] {

}

xctrls|checkitem > *[tibet|pelem="value"] svg|svg {

    display: block;

    width: 1em;
    height: 1em;
}

xctrls|checkitem > *[tibet|pelem="value"] svg|svg svg|rect {

    fill: none;
    stroke: black;
    stroke-width: 1px;
}

xctrls|checkitem > *[tibet|pelem="value"] svg|svg svg|polygon {

    display: none;
}

/* Hovering over the checkitem */
xctrls|checkitem:hover {

}

xctrls|checkitem:hover > *[tibet|pelem="value"] {

}

xctrls|checkitem:hover > *[tibet|pelem="value"] svg|svg svg|polygon {

    display: block;
}

/* Focusing on the checkitem */
xctrls|checkitem[pclass|focus] {

}

/* Clicking down on the checkitem */
xctrls|checkitem[pclass|active] {

}

xctrls|checkitem[pclass|active] > *[tibet|pelem="value"] {

}

xctrls|checkitem[pclass|active] > *[tibet|pelem="value"] svg|svg svg|polygon {

    display: block;
}

xctrls|checkitem[pclass|active][pclass|checked] > *[tibet|pelem="value"] {

}

/* The checkitem is disabled */
xctrls|checkitem[pclass|disabled] {

}

xctrls|checkitem[pclass|disabled] > *[tibet|pelem="value"] {

}

xctrls|checkitem[pclass|disabled][pclass|active] > *[tibet|pelem="value"] {

}

xctrls|checkitem[pclass|disabled][pclass|active][pclass|checked] > *[tibet|pelem="value"] {

}

/* The checkitem is checked */
xctrls|checkitem[pclass|checked] {

}

xctrls|checkitem[pclass|checked] > *[tibet|pelem="value"] {

}

xctrls|checkitem[pclass|checked] > *[tibet|pelem="value"] svg|polygon {

    display: block;
}

/* The checkitem label */
xctrls|checkitem > xctrls|label {

    flex: 1;
}

/* Clicking down on the checkitem, label must highlight */
xctrls|checkitem[pclass|active] {

}

xctrls|checkitem[pclass|active] > xctrls|label {

}

xctrls|checkitem[pclass|active][pclass|checked] > xctrls|label {

}

/* The checkitem is disabled, so is the label */
xctrls|checkitem[pclass|disabled] > xctrls|label {

}
