@namespace sherpa url("http://www.technicalpursuit.com/2014/sherpa");
@namespace pclass url("urn:tibet:pseudoclass");
@namespace tibet url("http://www.technicalpursuit.com/1999/tibet");

sherpa|uriEditorToolbarContent {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    left: 0;
    right: 0;
    bottom: 0;
}

sherpa|uriEditorToolbarContent > button {

    margin-bottom: 2px;
    margin-right: 2px;

    font-size: 10px;

    line-height: 0.8;
}

sherpa|uriEditorToolbarContent > button[action="revert"] {
}

sherpa|uriEditorToolbarContent > .detach_mark {

    display: block;

    margin: 4px;

    width: 16px;
    height: 16px;

    background-color: white;
    color: #333;

    border: 1px solid #666;
    border-radius: 9px;

    line-height: 14px;
    text-align: center;

    font-family: "arial", "helvetica", "clean", sans-serif;
    font-size: 12px;

    cursor: pointer;

    background-size: 14px 14px;
    background-image: url("../media/call49.svg");
    background-position-x: 1px;
}

sherpa|uriEditorToolbarContent > .detach_mark:hover {

    background-color: gold;
}

sherpa|uriEditorToolbarContent[class~="tabbed"] > .detach_mark {

    display: none;
}
