@namespace sherpa url(http://www.technicalpursuit.com/2014/sherpa);
@namespace pclass url(urn:tibet:pseudoclass);
@namespace tibet url(http://www.technicalpursuit.com/1999/tibet);

sherpa|navlist {

    display: block;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    height: 136px;

    line-height: 1.5em;

    overflow-y: auto;
}

sherpa|navlist > .scroller > ul {

    margin: 0;
    padding: 0;

    background-color: white;
}

sherpa|navlist > .scroller > ul > li {

    position: absolute;

    right: 0;
    left: 0;

    text-align: left;

    white-space: nowrap;

    border-left: 1px solid white;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;

    padding-left: 10px;

    /* Make each cell overflow with an ellipsis */
    overflow: hidden;
    text-overflow: ellipsis;

    cursor: pointer;
}

sherpa|navlist > .scroller > ul > li[spacer] {

    cursor: default;
}

sherpa|navlist > .scroller > ul > li[category] {

    background-color: #eee;

    font-weight: bold;

    cursor: default;
}

sherpa|navlist > .scroller > ul > li[pclass|selected] {

    background-color: gold;
}

sherpa|navlist > .scroller > ul > li:hover {

    background-color: gold;
}

sherpa|navlist > .scroller > ul > li:first-child {

    border-top: 0;
}

sherpa|navlist > .scroller > ul > li:last-child {

    border-bottom: 0;
}

sherpa|navlist > .scroller > ul > li[spacer]:hover {

    background-color: initial;
}

sherpa|navlist > .scroller > ul > li[category]:hover {

    background-color: #eee;
}

sherpa|inspectoritem[contenttype="sherpa:navlist"] {
}

