@namespace sherpa url("http://www.technicalpursuit.com/2014/sherpa");
@namespace pclass url("urn:tibet:pseudoclass");
@namespace tibet url("http://www.technicalpursuit.com/1999/tibet");

sherpa|worldthumbnails {

    display: block;

    position: absolute;

    top: 10px;
    bottom: 10px;
    left: 10px;

    width: 200px;

    background-color: #efefef;

    border: 1px solid #666;
    border-radius: 5px;
}

sherpa|worldthumbnails > .content {

    position: absolute;

    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    min-width: auto;

    margin: 2px;

    border: 1px solid #666;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

    background-color: #fff;

    overflow: hidden;
}

sherpa|worldthumbnails > .content > ul {

    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0;

    line-height: 29px;

    overflow: auto;

    box-sizing: border-box;
}

sherpa|worldthumbnails > .content > ul > li {

    position: relative;

    height: 50%;

    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid #efefef;
    border-left: 1px solid transparent;

    overflow: hidden;

    box-sizing: border-box;

    cursor: pointer;

    counter-increment: screen-count;
}

sherpa|worldthumbnails > .content > ul > li[pclass|selected] {

    border-color: gold;
}

sherpa|worldthumbnails > .content > ul > li[pclass|selected]:hover {

    border-color: gold;
}

sherpa|worldthumbnails > .content > ul > li > div {

    position: absolute;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

sherpa|worldthumbnails > .content > ul > li > div > canvas {

    width: 100%;
    height: 100%;
}

sherpa|worldthumbnails > .content > ul > li > div::before {

    content: counter(screen-count);

    position: absolute;

    top: 30px;
    right: 0;
    bottom: 0;
    left: 0;

    font-size: 80px;
    color: rgba(0, 0, 0, 0.1);
    font-weight: bold;

    text-align: center;

    pointer-events: none;
}

sherpa|worldthumbnails > .content > ul > li:not([pclass|selected]):hover {

    background-color: cornsilk;
}

sherpa|worldthumbnails > sherpa|scrollbutton {
}

sherpa|worldthumbnails > sherpa|scrollbutton[orientation="up"] {

    bottom: 10px;
    right: 28px;
}

sherpa|worldthumbnails > sherpa|scrollbutton[orientation="up"] .icon::after {

    /* This is the same as '&#8593' */
    content: "\2191";
}

sherpa|worldthumbnails > sherpa|scrollbutton[orientation="down"] {

    bottom: 10px;
    right: 8px;
}

sherpa|worldthumbnails > sherpa|scrollbutton[orientation="down"] .icon::after {

    /* This is the same as '&#8595' */
    content: "\2193";
}

sherpa|worldthumbnails[class~="overflowing"] sherpa|scrollbutton {

    display: block;
}
