@namespace lama url("http://www.technicalpursuit.com/2020/lama");

lama|adjuster_editor {

    display: table;

    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 12px;

    background: #fff;

    width: 100%;
    height: 100%;

    border-collapse: collapse;
}
