@namespace sherpa url("http://www.technicalpursuit.com/2014/sherpa");
@namespace pclass url("urn:tibet:pseudoclass");

sherpa|screen {

    position: relative;

    display: block;

    overflow: auto;

    /* border: dotted 1px black; */
}

