@namespace sherpa url(http://www.technicalpursuit.com/2014/sherpa);
@namespace pclass url(urn:tibet:pseudoclass);
@namespace tibet url(http://www.technicalpursuit.com/1999/tibet);

sherpa|changes {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}
sherpa|changes > .header {
    position: absolute;
    top: 0;
    bottom: auto;
    left: 0;
    right: 0;
    height: 30px;
    width: auto;
    background: #eee;
    border: 0;
    border-bottom: 1px solid #aaa;
    border-top-right-radius: 5px;
}
sherpa|changes > .content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 31px;
    width: auto;
    min-width: 0;
    max-width: none;
    background: #eee;
    border-top: 1px solid white;
}
sherpa|changes > .content h2 {
    margin: 12px;
}


sherpa|changes > .content .tds {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 50%;

    overflow: auto;
    margin: 0 12px;
}
sherpa|changes > .content .couchdb {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;

    overflow: auto;
    margin: 0 12px;
}

sherpa|changes > .content .checks {
    float: left;
    width: 25%;
    text-align: left;
}
sherpa|changes > .content .checks input {
    height: 2.25em;
}

sherpa|changes > .content .actions {
    float: right;
    width: 75%;
    text-align: right;
}

sherpa|changes > .header > .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -9px;
    margin-left: -9px;
    width: 16px;
    height: 16px;
    background: white;
    border: 1px solid #666;
    border-radius: 9px;
    color: black;
    line-height: 16px;
    text-align: center;
    font-size: 16px;
    font-weight: normal;

    cursor: pointer;
}

sherpa|changes > .header > .circle:hover {
    background: gold;
    color: #333;
}


