/*
    CSS styles for 'xctrls:notifier' controls for the 'tpi' theme.
*/

@import (reference) url("TP.xctrls_variables_tpi.less");

@import url("../TP.xctrls.notifier_all.less");

@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");
@namespace pclass url("urn:tibet:pseudoclass");

/* The notifier */

*[data-theme="tpi"] {

    xctrls|notifier {

        background-color: @xctrls_notifier-background-color;

        border-width: @xctrls_notifier-border-width;
        border-style: @xctrls_notifier-border-style;
        border-radius: @xctrls_notifier-border-radius;
        border-color: @xctrls_notifier-border-color-normal;

        /* Hovering over the notifier */

        &:hover {

            background-color: @xctrls_notifier-background-color-hover;
            border-color: @xctrls_notifier-border-color-hover;
        }

        /* When the notifier is active */

        /* doesn't work in IE9:
        &:active
        */
        &[pclass|active] {

            background-color: @xctrls_notifier-background-color-active;
            border-color: @xctrls_notifier-border-color-active;
        }
    }
}
