/*
    CSS styles for 'xctrls:toolbar' controls for the 'tpi' theme.
*/

@import url("~lib_src/xctrls/themes/TP.xctrls.toolbar_all.css");

@namespace url("http://www.w3.org/1999/xhtml");
@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");
@namespace pclass url("urn:tibet:pseudoclass");

/* The toolbar */
*|*[data-theme~="tpi"] xctrls|toolbar {

    background-color: var(--xctrls-toolbar-background-color);

    border-width: var(--xctrls-toolbar-border-width);
    border-style: var(--xctrls-toolbar-border-style);
    border-radius: var(--xctrls-toolbar-border-radius);
    border-color: var(--xctrls-toolbar-border-color-normal);
}

/* The toolbar is disabled */
*|*[data-theme~="tpi"] xctrls|toolbar[pclass|disabled] {

    border-color: var(--xctrls-toolbar-border-color-disabled);
}

/* Toolbar items */
*|*[data-theme~="tpi"] xctrls|toolbar *|*[itemnum] {

}

/* The toolbar item label */
*|*[data-theme~="tpi"] xctrls|toolbar *|*[itemnum] > xctrls|label {

}

/* Hovering over a toolbar item, item and label must highlight */
*|*[data-theme~="tpi"] xctrls|toolbar *|*[itemnum]:hover {

}

*|*[data-theme~="tpi"] xctrls|toolbar *|*[itemnum]:hover > xctrls|label {

}

/* Selected list item, item must highlight */
*|*[data-theme~="tpi"] xctrls|toolbar *|*[itemnum][pclass|selected] {

}

/* Focusing on a toolbar item, item and label must highlight */
*|*[data-theme~="tpi"] xctrls|toolbar *|*[itemnum][pclass|focus] {

}

*|*[data-theme~="tpi"] xctrls|toolbar *|*[itemnum][pclass|focus] > xctrls|label {

}

/* Clicking down on a toolbar item, item and label must highlight */
*|*[data-theme~="tpi"] xctrls|toolbar *|*[itemnum][pclass|active] {

}

*|*[data-theme~="tpi"] xctrls|toolbar *|*[itemnum][pclass|active] > xctrls|label {

}

/* The item is disabled, so is the label */
*|*[data-theme~="tpi"] xctrls|toolbar *|*[itemnum][pclass|disabled] {

}

*|*[data-theme~="tpi"] xctrls|toolbar *|*[itemnum][pclass|disabled] > xctrls|label {

}
