/*
    CSS styles for the 'xctrls:radioitem' control.
*/

@import (reference) url("TP.xctrls_variables_tpi.less");

@import url("../TP.xctrls.radioitem_all.less");

@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");
@namespace tibet url("http://www.technicalpursuit.com/1999/tibet");
@namespace svg url("http://www.w3.org/2000/svg");
@namespace pclass url("urn:tibet:pseudoclass");

/* The radioitem */

*[data-theme="tpi"] {

    xctrls|radioitem {

        /* The radioitem's value (the checkmark) */

        & > *[tibet|pelem="value"] {
        }

        /* Hovering over the radioitem */

        &:hover {

            > *[tibet|pelem="value"] {

                svg|g[state="off"] {

                    stroke: @xctrls_radioitem-check-color-hover;
                }

                svg|g[state="on"] {

                    stroke: @xctrls_radioitem-check-color-hover;
                    fill: @xctrls_radioitem-check-color-hover;
                }
            }

            &[pclass|checked] > *[tibet|pelem="value"] {
            }
        }

        /* Focusing on the radioitem */

        /* doesn't work in any browser:
        &:focus
        */
        &[pclass|focus] {

            > *[tibet|pelem="value"] {

                svg|g[state="off"] {

                    stroke: @xctrls_radioitem-check-color-focus;
                }

                svg|g[state="on"] {

                    stroke: @xctrls_radioitem-check-color-focus;
                    fill: @xctrls_radioitem-check-color-focus;
                }
            }

            &[pclass|checked] > *[tibet|pelem="value"] {

                svg|g[state="off"] {

                    stroke: @xctrls_radioitem-check-color-focus;
                }

                svg|g[state="on"] {

                    stroke: @xctrls_radioitem-check-color-focus;
                    fill: @xctrls_radioitem-check-color-focus;
                }
            }
        }

        /* Clicking down on the radioitem */

        /* doesn't work in IE9:
        &:active::value
        */
        &[pclass|active] {

            > *[tibet|pelem="value"] {

                svg|g[state="off"] {

                    stroke: @xctrls_radioitem-check-color-active;
                }

                svg|g[state="on"] {

                    stroke: @xctrls_radioitem-check-color-active;
                    fill: @xctrls_radioitem-check-color-active;
                }
            }

            &[pclass|checked] > *[tibet|pelem="value"] {

                svg|g[state="off"] {

                    stroke: @xctrls_radioitem-check-color-active;
                }

                svg|g[state="on"] {

                    stroke: @xctrls_radioitem-check-color-active;
                    fill: @xctrls_radioitem-check-color-active;
                }
            }
        }

        /* The radioitem is disabled */

        /* doesn't work in any browser:
        &:disabled
        */
        &[pclass|disabled] {

            > *[tibet|pelem="value"] {

                svg|g[state="off"] {

                    stroke: @xctrls_radioitem-check-color-disabled;
                }

                svg|g[state="on"] {

                    stroke: @xctrls_radioitem-check-color-disabled;
                    fill: @xctrls_radioitem-check-color-disabled;
                }
            }

            &[pclass|active] > *[tibet|pelem="value"] {
            }

            &[pclass|active][pclass|checked] > *[tibet|pelem="value"] {
            }
        }

        /* The radioitem is checked */

        /* doesn't work in any browser:
        &:checked
        */
        &[pclass|checked] > *[tibet|pelem="value"] {

            svg|g[state="off"] {

                stroke: @xctrls_radioitem-check-color-normal;
            }

            svg|g[state="on"] {

                stroke: @xctrls_radioitem-check-color-normal;
                fill: @xctrls_radioitem-check-color-normal;
            }
        }

        /* The radioitem label */

        & > xctrls|label {

            font-family: @xctrls_radioitem-font-family;
            color: @xctrls_radioitem-font-color-normal;

            background-color: @xctrls_radioitem-background-color-normal;
        }

        /* Hovering over the radioitem, label must highlight */

        &:hover > xctrls|label {

            color: @xctrls_radioitem-font-color-hover;

            background-color: @xctrls_radioitem-background-color-hover;
        }

        /* Focusing on the radioitem, label must highlight */

        /* doesn't work in any browser
        &:focus > xctrls|label
        */
        &[pclass|focus] {

            > xctrls|label {

                color: @xctrls_radioitem-font-color-focus;

                background-color: @xctrls_radioitem-background-color-focus;
            }

            &[pclass|checked] > xctrls|label {
            }
        }

        /* Clicking down on the radioitem, label must highlight */

        /* doesn't work in IE9:
        &:active > xctrls|label
        */
        &[pclass|active] {

            > xctrls|label {

                color: @xctrls_radioitem-font-color-active;

                background-color: @xctrls_radioitem-background-color-active;
            }

            &[pclass|checked] > xctrls|label {
            }
        }

        /* The radioitem is disabled, so is the label */

        /* doesn't work in any browser:
        &:disabled > xctrls|label
        */
        &[pclass|disabled] > xctrls|label {

            color: @xctrls_radioitem-font-color-disabled;

            background-color: @xctrls_radioitem-background-color-disabled;
        }
    }
}
