/*
    CSS styles for 'xctrls:tooltip' controls for the 'tpi' theme.
*/

@import (reference) url("TP.xctrls_variables_tpi.less");

@import url("../TP.xctrls.tooltip_all.less");

@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");
@namespace pclass url("urn:tibet:pseudoclass");

/* The tooltip */

*[data-theme~="tpi"] {

    xctrls|tooltip {

        background-color: @xctrls_tooltip-background-color;

        border-width: @xctrls_tooltip-border-width;
        border-style: @xctrls_tooltip-border-style;
        border-radius: @xctrls_tooltip-border-radius;
        border-color: @xctrls_tooltip-border-color-normal;

        /* Hovering over the tooltip */

        &:hover {

            background-color: @xctrls_tooltip-background-color-hover;
            border-color: @xctrls_tooltip-border-color-hover;
        }

        /* When the tooltip is active */

        /* doesn't work in IE9:
        &:active
        */
        &[pclass|active] {

            background-color: @xctrls_tooltip-background-color-active;
            border-color: @xctrls_tooltip-border-color-active;
        }
    }
}
