/*
    CSS styles for the 'xctrls:textitem' control.
*/

@import url("../TP.xctrls.textitem_all.css");

@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");
@namespace tibet url("http://www.technicalpursuit.com/1999/tibet");
@namespace svg url("http://www.w3.org/2000/svg");
@namespace pclass url("urn:tibet:pseudoclass");

/* The textitem */
*[data-theme~="tpi"] xctrls|textitem {

}

/* Hovering over the textitem */
*[data-theme~="tpi"] xctrls|textitem:hover {

}

/* Focusing on the textitem */
*[data-theme~="tpi"] xctrls|textitem[pclass|focus] {

}

/* Clicking down on the textitem */
*[data-theme~="tpi"] xctrls|textitem[pclass|active] {

}

/* The textitem is disabled */
*[data-theme~="tpi"] xctrls|textitem[pclass|disabled] {

}

/* The textitem is selected */
*[data-theme~="tpi"] xctrls|textitem[pclass|selected] {

    background-color: var(--xctrls-textitem-background-color-selected);
}

/* The textitem label */
*[data-theme~="tpi"] xctrls|textitem > xctrls|label {

    font-family: var(--xctrls-textitem-font-family);
    color: var(--xctrls-textitem-font-color-normal);
    background-color: var(--xctrls-textitem-background-color-normal);
}

/* Hovering over the textitem, label must highlight */
*[data-theme~="tpi"] xctrls|textitem:hover > xctrls|label {

    color: var(--xctrls-textitem-font-color-hover);
    background-color: var(--xctrls-textitem-background-color-hover);
}

*[data-theme~="tpi"] xctrls|textitem[pclass|selected]:hover > xctrls|label {

    color: var(--xctrls-textitem-font-color-normal);
    background-color: var(--xctrls-textitem-background-color-selected);
}

/* Focusing on the textitem, label must highlight */
*[data-theme~="tpi"] xctrls|textitem[pclass|focus] {

}

*[data-theme~="tpi"] xctrls|textitem[pclass|focus] > xctrls|label {

    color: var(--xctrls-textitem-font-color-focus);
    background-color: var(--xctrls-textitem-background-color-focus);
}

*[data-theme~="tpi"] xctrls|textitem[pclass|focus][pclass|selected] > xctrls|label {

}

/* Clicking down on the textitem, label must highlight */
*[data-theme~="tpi"] xctrls|textitem[pclass|active] {

}

*[data-theme~="tpi"] xctrls|textitem[pclass|active] > xctrls|label {

    color: var(--xctrls-textitem-font-color-active);
    background-color: var(--xctrls-textitem-background-color-active);
}

*[data-theme~="tpi"] xctrls|textitem[pclass|active][pclass|selected] > xctrls|label {

}

/* The textitem is disabled, so is the label */
*[data-theme~="tpi"] xctrls|textitem[pclass|disabled] > xctrls|label {

    color: var(--xctrls-textitem-font-color-disabled);
    background-color: var(--xctrls-textitem-background-color-disabled);
}
