
/*
    CSS styles common across all 'xctrls:' controls for the 'tpi' theme.
*/

@import (reference) url("TP.xctrls_variables_tpi.less");

@import url("../TP.xctrls_common_all.less");

@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");
@namespace pclass url("urn:tibet:pseudoclass");

*[data-theme="tpi"] {

    /* All controls - normal mode */

    xctrls|* {

        border-color: @xctrls_-border-color-normal;

        /* All controls - hover mode */

        &:hover {

            border-color: @xctrls_-border-color-hover;
        }

        /* All controls - focused mode */

        &[pclass|focus] {

            border-color: @xctrls_-border-color-focus;
        }

        /* All controls - active mode */

        &[pclass|active] {

            border-color: @xctrls_-border-color-active;
        }

        /* All controls - disabled mode */

        &[pclass|disabled] {

            border-color: @xctrls_-border-color-disabled;
        }
    }
}
