/*
    CSS styles for 'xctrls:table' controls for the 'tpi' theme.
*/

@import (reference) url("TP.xctrls_variables_tpi.less");

@import url("../TP.xctrls.table_all.less");

@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");
@namespace pclass url("urn:tibet:pseudoclass");
@namespace tibet url("http://www.technicalpursuit.com/1999/tibet");

/* The table */

*[data-theme~="tpi"] {

    xctrls|table {

        border-width: @xctrls_list-border-width;
        border-style: @xctrls_list-border-style;
        border-radius: @xctrls_list-border-radius;

        width: 15em;

        line-height: 1.2;

        /* Hovering over the table */

        &:hover {
        }

        /* Focusing on the table */

        /* doesn't work in any browser:
        &:focus
        */
        &[pclass|focus] {
        }

        /* Clicking down on the table */

        /* doesn't work in IE9:
        &:active
        */
        &[pclass|active] {
        }

        /* The table is disabled */

        /* doesn't work in any browser:
        &:disabled
        */
        &[pclass|disabled] {
        }

        *[tibet|pelem="choices"] {

            margin: 0;
            padding: 0;

            background-color: white;

            & > .row {

                /* We set the background-color of the row to be the normal border color - it shows through to show the cell borders */

                background-color: @xctrls_tableitem-border-color-normal;

                /* Hovering over the table, label must highlight */

                &:hover xctrls|label {

                    color: @xctrls_tableitem-font-color-hover;

                    background-color: @xctrls_tableitem-background-color-hover;
                }

                /* Selected list item, label must highlight */

                &[pclass|selected] {

                    border-right: none;
                    border-bottom: none;

                    & xctrls|textitem {

                        background-color: @xctrls_textitem-background-color-selected;
                    }

                    & xctrls|label {

                        background-color: @xctrls_tableitem-background-color-selected-normal;
                        top: 1px;
                        right: 0;
                        left: 1px;
                        bottom: 0;

                        margin-bottom: 1px;
                    }
                }

                /* Focusing on the table, label must highlight */

                /* doesn't work in any browser
                &:focus xctrls|label
                */
                &[pclass|focus] xctrls|label {

                    color: @xctrls_tableitem-font-color-focus;
                    font-weight: @xctrls_tableitem-font-weight-focus;
                }

                /* Clicking down on the table, label must highlight */

                /* doesn't work in IE9:
                &:active xctrls|label
                */
                &[pclass|active] xctrls|label {

                    color: @xctrls_tableitem-font-color-active;

                    background-color: @xctrls_tableitem-background-color-active;
                }

                /* The table is disabled, so is the label */

                /* doesn't work in any browser:
                &:disabled xctrls|label
                */
                &[pclass|disabled] xctrls|label {

                    color: @xctrls_tableitem-font-color-disabled;

                    background-color: @xctrls_tableitem-background-color-disabled;
                }

                > .cell {

                    position: relative;
                }

                /* The table cell label */

                xctrls|textitem {

                    position: absolute;
                    display: block;

                    width: 100%;
                    height: 100%;

                    & > xctrls|label {

                        position: absolute;
                        display: block;

                        top: 1px;
                        right: 0;
                        left: 1px;
                        bottom: 0;

                        padding-top: 1px;

                        padding-left: @xctrls_tableitem-padding-width;
                        padding-right: @xctrls_tableitem-padding-width;

                        font-family: @xctrls_tableitem-font-family;
                        color: @xctrls_tableitem-font-color-normal;
                        font-weight: @xctrls_tableitem-font-weight-normal;

                        background-color: @xctrls_tableitem-background-color-normal;
                    }
                }

                &[grouping] xctrls|textitem > xctrls|label {

                    background-color: @xctrls_tableitem-grouping-background-color-normal;

                    font-weight: @xctrls_tableitem-grouping-font-weight;
                }

                &[grouping]:hover xctrls|textitem > xctrls|label {

                    background-color: @xctrls_tableitem-grouping-background-color-hover;
                }

                &[spacer] xctrls|textitem > xctrls|label {
                }

                &[spacer]:hover xctrls|textitem > xctrls|label {

                    background-color: initial;
                }
            }
        }
    }
}
