/*
    CSS styles for 'xctrls:tabbar' controls for the 'tpi' theme.
*/

@import (reference) url("TP.xctrls_variables_tpi.less");

@import url("../TP.xctrls.tabbar_all.less");

@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");
@namespace pclass url("urn:tibet:pseudoclass");

/* The tabbar */

*[data-theme~="tpi"] {

    xctrls|tabbar {

        & xctrls|tabitem {

            border-width: @xctrls_tabitem-border-width;
            border-style: @xctrls_tabitem-border-style;
            border-top-left-radius: @xctrls_tabitem-border-radius;
            border-top-right-radius: @xctrls_tabitem-border-radius;

            /* Hovering over the tabbar */

            &:hover {
            }

            /* Focusing on the tabbar */

            /* doesn't work in any browser:
            &:focus
            */
            &[pclass|focus] {
            }

            /* Clicking down on the tabbar */

            /* doesn't work in IE9:
            &:active
            */
            &[pclass|active] {
            }

            /* The tabbar is disabled */

            /* doesn't work in any browser:
            &:disabled
            */
            &[pclass|disabled] {
            }

            /* The tabbar label */

            & > xctrls|label {

                font-family: @xctrls_tabitem-font-family;
                color: @xctrls_tabitem-font-color-normal;
            }

            /* Hovering over the tabbar, tab and label must highlight */

            &:hover {

                background-color: @xctrls_tabitem-background-color-hover;
            }

            &:hover > xctrls|label {

                color: @xctrls_tabitem-font-color-hover;
            }

            /* Selected list item, tab must highlight */

            &[pclass|selected] {

                background-color: @xctrls_tabitem-background-color-selected-normal;
                border-bottom-color: @xctrls_tabitem-background-color-selected-normal;
            }

            /* Focusing on the tabbar, tab and label must highlight */

            /* doesn't work in any browser
            &:focus > xctrls|label
            */
            &[pclass|focus] {

                background-color: @xctrls_tabitem-background-color-focus;
            }

            /* doesn't work in any browser
            &:focus > xctrls|label
            */
            &[pclass|focus] > xctrls|label {

                color: @xctrls_tabitem-font-color-focus;
            }

            /* Clicking down on the tabbar, tab and label must highlight */

            /* doesn't work in IE9:
            &:active > xctrls|label
            */
            &[pclass|active] {

                background-color: @xctrls_tabitem-background-color-active;
            }

            /* doesn't work in IE9:
            &:active > xctrls|label
            */
            &[pclass|active] > xctrls|label {

                color: @xctrls_tabitem-font-color-active;
            }

            /* The tabitem is disabled, so is the label */

            /* doesn't work in any browser:
            &:disabled > xctrls|label
            */
            &[pclass|disabled] {

                background-color: @xctrls_tabitem-background-color-disabled;
            }

            /* doesn't work in any browser:
            &:disabled > xctrls|label
            */
            &[pclass|disabled] > xctrls|label {

                color: @xctrls_tabitem-font-color-disabled;
            }

            & > .close_mark {

                color: @xctrls_tabitem-close_mark-color-normal;
            }

            & > .close_mark::after {

                content: "\00d7";
                font-size: 20px;

                line-height: 10px;
            }

            & > .close_mark:hover {

                color: @xctrls_tabitem-close_mark-color-hover;
            }
        }
    }
}
