/*
    CSS styles for 'xctrls:button' controls for the 'tpi' theme.
*/

@import (reference) url("TP.xctrls_variables_tpi.less");

@import url("../TP.xctrls.button_all.less");

@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");
@namespace pclass url("urn:tibet:pseudoclass");

/* The button */

*[data-theme~="tpi"] {

    xctrls|button {

        border-width: @xctrls_button-border-width;
        border-style: @xctrls_button-border-style;
        border-radius: @xctrls_button-border-radius;

        box-shadow: inset 0 0 0.5em #ddd;

        font-size: @xctrls_button-font-size;

        /* Hovering over the button */

        &:hover {
        }

        /* Focusing on the button */

        /* doesn't work in any browser:
        &:focus
        */
        &[pclass|focus] {
        }

        /* Clicking down on the button */

        /* doesn't work in IE9:
        &:active
        */
        &[pclass|active] {
        }

        /* The button is disabled */

        /* doesn't work in any browser:
        &:disabled
        */
        &[pclass|disabled] {
        }

        /* The button label */

        & > xctrls|label {

            font-family: @xctrls_button-font-family;
            color: @xctrls_button-font-color-normal;

            background-color: @xctrls_button-background-color-normal;
        }

        /* Hovering over the button, label must highlight */

        &:hover > xctrls|label {

            color: @xctrls_button-font-color-hover;

            background-color: @xctrls_button-background-color-hover;
        }

        /* Focusing on the button, label must highlight */

        /* doesn't work in any browser
        &:focus > xctrls|label
        */
        &[pclass|focus] > xctrls|label {

            color: @xctrls_button-font-color-focus;

            background-color: @xctrls_button-background-color-focus;
        }

        /* Clicking down on the button, label must highlight */

        /* doesn't work in IE9:
        &:active > xctrls|label
        */
        &[pclass|active] > xctrls|label {

            color: @xctrls_button-font-color-active;

            background-color: @xctrls_button-background-color-active;
        }

        /* The button is disabled, so is the label */

        /* doesn't work in any browser:
        &:disabled > xctrls|label
        */
        &[pclass|disabled] > xctrls|label {

            color: @xctrls_button-font-color-disabled;

            background-color: @xctrls_button-background-color-disabled;
        }
    }
}
