/*
	CSS styles for the 'xctrls:buttonitem' control.
*/

@import (reference) url("TP.xctrls_variables_tpi.less");

@import url("../TP.xctrls.buttonitem_all.less");

@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");
@namespace tibet url("http://www.technicalpursuit.com/1999/tibet");
@namespace svg url("http://www.w3.org/2000/svg");
@namespace pclass url("urn:tibet:pseudoclass");

/* The buttonitem */

*[data-theme="tpi"] {

    xctrls|buttonitem {

        border-width: @xctrls_buttonitem-border-width;
        border-style: @xctrls_buttonitem-border-style;
        border-radius: @xctrls_buttonitem-border-radius;

        font-size: @xctrls_buttonitem-font-size;

        background-color: @xctrls_buttonitem-background-color-normal;

        /* Hovering over the buttonitem */

        &:hover {
        }

        /* Focusing on the buttonitem */

        /* doesn't work in any browser:
        &:focus
        */
        &[pclass|focus] {
        }

        /* Clicking down on the buttonitem */

        /* doesn't work in IE9:
        &:active::value
        */
        &[pclass|active] {
        }

        /* The buttonitem is disabled */

        /* doesn't work in any browser:
        &:disabled
        */
        &[pclass|disabled] {
        }

        /* The buttonitem is selected */

        /* doesn't work in any browser:
        &:selected
        */
        &[pclass|selected] {

            background-color: @xctrls_buttonitem-background-color-selected;
        }

        /* The buttonitem label */

        & > xctrls|label {

            box-shadow: inset 0 0 0.5em #ddd;

            font-family: @xctrls_buttonitem-font-family;
            color: @xctrls_buttonitem-font-color-normal;
        }

        /* Hovering over the buttonitem, label must highlight */

        &:hover > xctrls|label {

            color: @xctrls_buttonitem-font-color-hover;

            background-color: @xctrls_buttonitem-background-color-hover;
        }

        &[pclass|selected]:hover > xctrls|label {
            color: @xctrls_buttonitem-font-color-normal;

            background-color: @xctrls_buttonitem-background-color-selected;
        }

        /* Focusing on the buttonitem, label must highlight */

        /* doesn't work in any browser
        &:focus > xctrls|label
        */
        &[pclass|focus] {

            > xctrls|label {

                color: @xctrls_buttonitem-font-color-focus;

                background-color: @xctrls_buttonitem-background-color-focus;
            }

            &[pclass|selected] > xctrls|label {
            }
        }

        /* Clicking down on the buttonitem, label must highlight */

        /* doesn't work in IE9:
        &:active > xctrls|label
        */
        &[pclass|active] {

            > xctrls|label {

                color: @xctrls_buttonitem-font-color-active;

                background-color: @xctrls_buttonitem-background-color-active;
            }

            &[pclass|selected] > xctrls|label {
            }
        }

        /* The buttonitem is disabled, so is the label */

        /* doesn't work in any browser:
        &:disabled > xctrls|label
        */
        &[pclass|disabled] > xctrls|label {

            color: @xctrls_buttonitem-font-color-disabled;

            background-color: @xctrls_buttonitem-background-color-disabled;
        }
    }
}
