/*
    CSS styles for the 'xctrls:buttonitem' control.
*/

@import url("~TP.xctrls.XMLNS/themes/TP.xctrls.buttonitem_all.css");

@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");
@namespace pclass url("urn:tibet:pseudoclass");

/* The buttonitem */
*[data-theme~="tpi"] xctrls|buttonitem {

    border-width: var(--xctrls-buttonitem-border-width);
    border-style: var(--xctrls-buttonitem-border-style);
    border-radius: var(--xctrls-buttonitem-border-radius);

    background-color: var(--xctrls-buttonitem-background-color-normal);

    box-shadow: inset 0 0 0.5em #ddd;
}

/* Hovering over the buttonitem */
*[data-theme~="tpi"] xctrls|buttonitem:hover {

    background-color: var(--xctrls-buttonitem-background-color-hover);
}

/* Focusing on the buttonitem */
*[data-theme~="tpi"] xctrls|buttonitem[pclass|focus] {

    background-color: var(--xctrls-buttonitem-background-color-focus);
}

/* Clicking down on the buttonitem */
*[data-theme~="tpi"] xctrls|buttonitem[pclass|active] {

    background-color: var(--xctrls-buttonitem-background-color-active);
}

/* The buttonitem is disabled */
*[data-theme~="tpi"] xctrls|buttonitem[pclass|disabled] {

    background-color: var(--xctrls-buttonitem-background-color-disabled);
}

/* The buttonitem is selected */
*[data-theme~="tpi"] xctrls|buttonitem[pclass|selected] {

    background-color: var(--xctrls-buttonitem-background-color-selected);
}

/* Hovering over a selected buttonitem */
*[data-theme~="tpi"] xctrls|buttonitem[pclass|selected]:hover {

    color: var(--xctrls-buttonitem-font-color-normal);
    background-color: var(--xctrls-buttonitem-background-color-selected);
}

/* The buttonitem label */
*[data-theme~="tpi"] xctrls|buttonitem > xctrls|label {

    font-size: var(--xctrls-buttonitem-font-size);
    font-family: var(--xctrls-buttonitem-font-family);

    color: var(--xctrls-buttonitem-font-color-normal);
}

/* Hovering over the buttonitem, label must highlight */
*[data-theme~="tpi"] xctrls|buttonitem:hover > xctrls|label {

    color: var(--xctrls-buttonitem-font-color-hover);
}

*[data-theme~="tpi"] xctrls|buttonitem[pclass|selected]:hover > xctrls|label {

}

/* Focusing on the buttonitem, label must highlight */
*[data-theme~="tpi"] xctrls|buttonitem[pclass|focus] {

}

*[data-theme~="tpi"] xctrls|buttonitem[pclass|focus] > xctrls|label {

    color: var(--xctrls-buttonitem-font-color-focus);
}

*[data-theme~="tpi"] xctrls|buttonitem[pclass|focus][pclass|selected] > xctrls|label {

}

/* Clicking down on the buttonitem, label must highlight */
*[data-theme~="tpi"] xctrls|buttonitem[pclass|active] {

}

*[data-theme~="tpi"] xctrls|buttonitem[pclass|active] > xctrls|label {

    color: var(--xctrls-buttonitem-font-color-active);
}

*[data-theme~="tpi"] xctrls|buttonitem[pclass|active][pclass|selected] > xctrls|label {

}

/* The buttonitem is disabled, so is the label */
*[data-theme~="tpi"] xctrls|buttonitem[pclass|disabled] > xctrls|label {

    color: var(--xctrls-buttonitem-font-color-disabled);
}
