/*
    CSS styles for 'xctrls:sticky' controls for the 'tpi' theme.
*/

@import (reference) url("TP.xctrls_variables_tpi.less");

@import url("../TP.xctrls.sticky_all.less");

@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");
@namespace pclass url("urn:tibet:pseudoclass");

/* The sticky */

*[data-theme="tpi"] {

    xctrls|sticky {

        background-color: @xctrls_sticky-background-color;

        border-width: @xctrls_sticky-border-width;
        border-style: @xctrls_sticky-border-style;
        border-radius: @xctrls_sticky-border-radius;
        border-color: @xctrls_sticky-border-color-normal;

        /* When the sticky is active */

        /* doesn't work in IE9:
        &:active
        */
        &[pclass|active] {

            background-color: @xctrls_sticky-background-color-active;
            border-color: @xctrls_sticky-border-color-active;
        }
    }
}
