/*
    CSS styles for 'xctrls:notifier' controls for the 'tpi' theme.
*/

@import url("~lib_src/xctrls/themes/TP.xctrls.notifier_all.css");

@namespace url("http://www.w3.org/1999/xhtml");
@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");
@namespace pclass url("urn:tibet:pseudoclass");

/* The notifier */
*|*[data-theme~="tpi"] xctrls|notifier {

    transition: opacity var(--xctrls-notifier-fadeout-duration) ease var(--xctrls-notifier-fadeout-delay);

    background-color: var(--xctrls-notifier-background-color);

    border-width: var(--xctrls-notifier-border-width);
    border-style: var(--xctrls-notifier-border-style);
    border-radius: var(--xctrls-notifier-border-radius);
    border-color: var(--xctrls-notifier-border-color-normal);
}

/* Hovering over the notifier */
*|*[data-theme~="tpi"] xctrls|notifier:hover {

    background-color: var(--xctrls-notifier-background-color-hover);
    border-color: var(--xctrls-notifier-border-color-hover);
}

/* When the notifier is active */
*|*[data-theme~="tpi"] xctrls|notifier[pclass|active] {

    background-color: var(--xctrls-notifier-background-color-active);
    border-color: var(--xctrls-notifier-border-color-active);
}
