/*
    CSS styles for 'xctrls:dialog' controls for the 'tpi' theme.
*/

@import (reference) url("TP.xctrls_variables_tpi.less");

@import url("../TP.xctrls.dialog_all.less");

@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");
@namespace pclass url("urn:tibet:pseudoclass");
@namespace tibet url("http://www.technicalpursuit.com/1999/tibet");

/* The dialog */

*[data-theme~="tpi"] {

    xctrls|dialog {

        background-color: @xctrls_dialog-background-color;

        max-width: @xctrls_dialog-max-width;
        max-height: @xctrls_dialog-max-height;
        min-width: @xctrls_dialog-min-width;
        min-height: @xctrls_dialog-min-height;

        border-width: @xctrls_dialog-border-width;
        border-style: @xctrls_dialog-border-style;
        border-radius: @xctrls_dialog-border-radius;
        border-color: @xctrls_dialog-border-color-normal;

        /* Hovering over the dialog */

        &:hover {

            border-color: @xctrls_dialog-border-color-hover;
        }

        /* Focusing on the dialog */

        /* doesn't work in any browser:
        &:focus
        */
        &[pclass|focus] {

            border-color: @xctrls_dialog-border-color-focus;
        }

        /* Clicking down on the dialog */

        /* doesn't work in IE9:
        &:active
        */
        &[pclass|active] {

            border-color: @xctrls_dialog-border-color-active;
        }

        /* The dialog is disabled */

        /* doesn't work in any browser:
        &:disabled
        */
        &[pclass|disabled] {

            border-color: @xctrls_dialog-border-color-disabled;
        }

        /* The dialog header */

        & > *[tibet|pelem="header"] {
            background-color: @xctrls_dialog-header-background-color;
            color: @xctrls_dialog-header-color;

            font-size: @xctrls_dialog-header-font-size;
            line-height: @xctrls_dialog-header-line-height;

            border-top-left-radius: @xctrls_dialog-border-radius - 2;
            border-top-right-radius: @xctrls_dialog-border-radius - 2;
        }

        /* The dialog body */

        & > *[tibet|pelem="body"] {
            background-color: @xctrls_dialog-body-background-color;
        }

        /* The dialog footer */

        & > *[tibet|pelem="footer"] {
            background-color: @xctrls_dialog-footer-background-color;

            border-bottom-left-radius: @xctrls_dialog-border-radius - 2;
            border-bottom-right-radius: @xctrls_dialog-border-radius - 2;
        }
    }
}
