/*
    CSS styles for the 'xctrls:checkitem' control.
*/

@import (reference) url("TP.xctrls_variables_tpi.less");

@import url("../TP.xctrls.checkitem_all.less");

@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");
@namespace tibet url("http://www.technicalpursuit.com/1999/tibet");
@namespace svg url("http://www.w3.org/2000/svg");
@namespace pclass url("urn:tibet:pseudoclass");

/* The checkitem */

*[data-theme~="tpi"] {

    xctrls|checkitem {

        /* The checkitem's value (the checkmark) */

        & > *[tibet|pelem="value"] {
        }

        /* Hovering over the checkitem */

        &:hover {

            > *[tibet|pelem="value"] {

                svg|rect {

                    stroke: @xctrls_checkitem-check-border-color-hover;
                }

                svg|polygon {

                    stroke: @xctrls_checkitem-check-color-hover;
                    fill: @xctrls_checkitem-check-color-hover;
                }
            }

            &[pclass|checked] > *[tibet|pelem="value"] {
            }
        }

        /* Focusing on the checkitem */

        /* doesn't work in any browser:
        &:focus
        */
        &[pclass|focus] {

            > *[tibet|pelem="value"] {

                svg|rect {

                    stroke: @xctrls_checkitem-check-border-color-focus;
                }

                svg|polygon {

                    stroke: @xctrls_checkitem-check-color-focus;
                    fill: @xctrls_checkitem-check-color-focus;
                }
            }

            &[pclass|checked] > *[tibet|pelem="value"] {

                svg|rect {

                    stroke: @xctrls_checkitem-check-border-color-focus;
                }

                svg|polygon {

                    stroke: @xctrls_checkitem-check-color-focus;
                    fill: @xctrls_checkitem-check-color-focus;
                }
            }
        }

        /* Clicking down on the checkitem */

        /* doesn't work in IE9:
        &:active::value
        */
        &[pclass|active] {

            > *[tibet|pelem="value"] {

                svg|rect {

                    stroke: @xctrls_checkitem-check-border-color-active;
                }

                svg|polygon {

                    stroke: @xctrls_checkitem-check-color-active;
                    fill: @xctrls_checkitem-check-color-active;
                }
            }

            &[pclass|checked] > *[tibet|pelem="value"] {

                svg|rect {

                    stroke: @xctrls_checkitem-check-border-color-active;
                }

                svg|polygon {

                    stroke: @xctrls_checkitem-check-color-active;
                    fill: @xctrls_checkitem-check-color-active;
                }
            }
        }

        /* The checkitem is disabled */

        /* doesn't work in any browser:
        &:disabled
        */
        &[pclass|disabled] {

            > *[tibet|pelem="value"] {

                svg|rect {

                    stroke: @xctrls_checkitem-check-border-color-disabled;
                }

                svg|polygon {

                    stroke: @xctrls_checkitem-check-color-disabled;
                    fill: @xctrls_checkitem-check-color-disabled;
                }
            }

            &[pclass|active] > *[tibet|pelem="value"] {
            }

            &[pclass|active][pclass|checked] > *[tibet|pelem="value"] {
            }
        }

        /* The checkitem is checked */

        /* doesn't work in any browser:
        &:checked
        */
        &[pclass|checked] > *[tibet|pelem="value"] {

            svg|rect {

                stroke: @xctrls_checkitem-check-border-color-normal;
            }

            svg|polygon {

                stroke: @xctrls_checkitem-check-color-normal;
                fill: @xctrls_checkitem-check-color-normal;
            }
        }

        /* The checkitem label */

        & > xctrls|label {

            font-family: @xctrls_checkitem-font-family;
            color: @xctrls_checkitem-font-color-normal;

            background-color: @xctrls_checkitem-background-color-normal;
        }

        /* Hovering over the checkitem, label must highlight */

        &:hover > xctrls|label {

            color: @xctrls_checkitem-font-color-hover;

            background-color: @xctrls_checkitem-background-color-hover;
        }

        /* Focusing on the checkitem, label must highlight */

        /* doesn't work in any browser
        &:focus > xctrls|label
        */
        &[pclass|focus] {

            > xctrls|label {

                color: @xctrls_checkitem-font-color-focus;

                background-color: @xctrls_checkitem-background-color-focus;
            }

            &[pclass|checked] > xctrls|label {
            }
        }

        /* Clicking down on the checkitem, label must highlight */

        /* doesn't work in IE9:
        &:active > xctrls|label
        */
        &[pclass|active] {

            > xctrls|label {

                color: @xctrls_checkitem-font-color-active;

                background-color: @xctrls_checkitem-background-color-active;
            }

            &[pclass|checked] > xctrls|label {
            }
        }

        /* The checkitem is disabled, so is the label */

        /* doesn't work in any browser:
        &:disabled > xctrls|label
        */
        &[pclass|disabled] > xctrls|label {

            color: @xctrls_checkitem-font-color-disabled;

            background-color: @xctrls_checkitem-background-color-disabled;
        }
    }
}
