/*
    CSS styles for 'xctrls:select' controls for the 'tpi' theme.
*/

@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");
@namespace pclass url("urn:tibet:pseudoclass");

@import url("../TP.xctrls.select_all.css");

/* The select */
*[data-theme~="tpi"] xctrls|select {

    border-width: var(--xctrls-select-border-width);
    border-style: var(--xctrls-select-border-style);
    border-radius: var(--xctrls-select-border-radius);

    font-size: var(--xctrls-select-font-size);
}

/* Hovering over the select */
*[data-theme~="tpi"] xctrls|select:hover * {

    color: var(--xctrls-select-font-color-hover);
    background-color: var(--xctrls-select-background-color-hover);
}

/* Focusing on the select */
*[data-theme~="tpi"] xctrls|select[pclass|focus] {

    color: var(--xctrls-select-font-color-focus);
    background-color: var(--xctrls-select-background-color-focus);
}

/* Clicking down on the select */
*[data-theme~="tpi"] xctrls|select[pclass|active] * {

    color: var(--xctrls-select-font-color-active);
    background-color: var(--xctrls-select-background-color-active);
}

/* The select is disabled */
*[data-theme~="tpi"] xctrls|select[pclass|disabled] * {

    color: var(--xctrls-select-font-color-disabled);
    background-color: var(--xctrls-select-background-color-disabled);
}

/* The select button */
*[data-theme~="tpi"] xctrls|select > xctrls|button {

}

/* The select button's label */
*[data-theme~="tpi"] xctrls|select > xctrls|button > xctrls|label {

    background-color: transparent;
}

/* Hovering over the select's button, label must highlight */
*[data-theme~="tpi"] xctrls|select > xctrls|button:hover > xctrls|label {

}

/* Focusing on the select's button, label must highlight */
*[data-theme~="tpi"] xctrls|select > xctrls|button[pclass|focus] > xctrls|label {

}

/* Clicking down on the select's button, label must highlight */
*[data-theme~="tpi"] xctrls|select > xctrls|button[pclass|active] > xctrls|label {

}

/* The select's button is disabled, so is the label */
*[data-theme~="tpi"] xctrls|select > xctrls|button[pclass|disabled] > xctrls|label {

}

/* The down arrow */
*[data-theme~="tpi"] xctrls|select > .icon {

    border-left: var(--xctrls-select-border-width) var(--xctrls-select-border-style) var(--xctrls-border-color-normal);
}
