/*
    CSS styles for 'xctrls:editor' controls for the 'tpi' theme.
*/

@import url("~lib_src/xctrls/themes/TP.xctrls.editor_all.css");

@namespace url("http://www.w3.org/1999/xhtml");
@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");
@namespace pclass url("urn:tibet:pseudoclass");

/* The editor */
*|*[data-theme~="tpi"] xctrls|editor {

    border-width: var(--xctrls-editor-border-width);
    border-style: var(--xctrls-editor-border-style);
    border-radius: var(--xctrls-editor-border-radius);

    background-color: var(--xctrls-editor-background-color-normal);
}

/* Hovering over the editor */
*|*[data-theme~="tpi"] xctrls|editor:hover {

    background-color: var(--xctrls-editor-background-color-hover);
}

/* Focusing on the editor */
*|*[data-theme~="tpi"] xctrls|editor[pclass|focus] {

    background-color: var(--xctrls-editor-background-color-focus);
}

/* Clicking down on the editor */
*|*[data-theme~="tpi"] xctrls|editor[pclass|active] {

    background-color: var(--xctrls-editor-background-color-active);
}

/* The editor is disabled */
*|*[data-theme~="tpi"] xctrls|editor[pclass|disabled] {

    background-color: var(--xctrls-editor-background-color-disabled);
}

*|*[data-theme~="tpi"] xctrls|editor .cm-content {
    /* xctrls|editor variables */

    --xctrls-editor-comment-color: #940;
    --xctrls-editor-name-color: initial;
    --xctrls-editor-typeName-color: #085;
    --xctrls-editor-propertyName-color: #00c;
    --xctrls-editor-literal-color: #164;
    --xctrls-editor-string-color: #a11;
    --xctrls-editor-number-color: initial;
    --xctrls-editor-content-color: initial;
    --xctrls-editor-heading-color: initial;
    --xctrls-editor-heading-font-weight: bold;
    --xctrls-editor-heading-text-decoration: underline;
    --xctrls-editor-keyword-color: #708;
    --xctrls-editor-operator-color: initial;
    --xctrls-editor-punctuation-color: initial;
    --xctrls-editor-bracket-color: initial;
    --xctrls-editor-meta-color: #7a757a;
    --xctrls-editor-lineComment-color: initial;
    --xctrls-editor-blockComment-color: initial;
    --xctrls-editor-docComment-color: initial;
    --xctrls-editor-variableName-color: #30a;
    --xctrls-editor-tagName-color: initial;
    --xctrls-editor-attributeName-color: initial;
    --xctrls-editor-className-color: #167;
    --xctrls-editor-labelName-color: #219;
    --xctrls-editor-namespace-color: #085;
    --xctrls-editor-macroName-color: #256;
    --xctrls-editor-docString-color: initial;
    --xctrls-editor-character-color: initial;
    --xctrls-editor-attributeValue-color: initial;
    --xctrls-editor-integer-color: initial;
    --xctrls-editor-float-color: initial;
    --xctrls-editor-bool-color: #219;
    --xctrls-editor-regexp-color: #e40;
    --xctrls-editor-escape-color: #e40;
    --xctrls-editor-color-color: initial;
    --xctrls-editor-url-color: #219;
    --xctrls-editor-self-color: initial;
    --xctrls-editor-null-color: initial;
    --xctrls-editor-atom-color: #219;
    --xctrls-editor-unit-color: initial;
    --xctrls-editor-modifier-color: initial;
    --xctrls-editor-operatorKeyword-color: initial;
    --xctrls-editor-controlKeyword-color: initial;
    --xctrls-editor-definitionKeyword-color: initial;
    --xctrls-editor-derefOperator-color: initial;
    --xctrls-editor-arithmeticOperator-color: initial;
    --xctrls-editor-logicOperator-color: initial;
    --xctrls-editor-bitwiseOperator-color: initial;
    --xctrls-editor-compareOperator-color: initial;
    --xctrls-editor-updateOperator-color: initial;
    --xctrls-editor-definitionOperator-color: initial;
    --xctrls-editor-typeOperator-color: initial;
    --xctrls-editor-controlOperator-color: initial;
    --xctrls-editor-separator-color: initial;
    --xctrls-editor-angleBracket-color: initial;
    --xctrls-editor-squareBracket-color: initial;
    --xctrls-editor-paren-color: initial;
    --xctrls-editor-brace-color: initial;
    --xctrls-editor-heading1-color: initial;
    --xctrls-editor-heading2-color: initial;
    --xctrls-editor-heading3-color: initial;
    --xctrls-editor-heading4-color: initial;
    --xctrls-editor-heading5-color: initial;
    --xctrls-editor-heading6-color: initial;
    --xctrls-editor-contentSeparator-color: #219;
    --xctrls-editor-list-color: initial;
    --xctrls-editor-quote-color: initial;
    --xctrls-editor-emphasis-color: initial;
    --xctrls-editor-emphasis-font-style: italic;
    --xctrls-editor-strong-color: initial;
    --xctrls-editor-strong-font-weight: bold;
    --xctrls-editor-link-color: initial;
    --xctrls-editor-link-text-decoration: underline;
    --xctrls-editor-monospace-color: initial;
    --xctrls-editor-strikethrough-color: initial;
    --xctrls-editor-strikethrough-text-decoration: line-through;
    --xctrls-editor-inserted-color: #164;
    --xctrls-editor-deleted-color: #a11;
    --xctrls-editor-changed-color: initial;
    --xctrls-editor-invalid-color: #f00;
    --xctrls-editor-documentMeta-color: initial;
    --xctrls-editor-annotation-color: initial;
    --xctrls-editor-processingInstruction-color: initial;
    --xctrls-editor-special-color: initial;
}
