/*
    CSS styles for 'xctrls:propertysheet' controls for the 'tpi' theme.
*/

@import (reference) url("TP.xctrls_variables_tpi.less");

@import url("../TP.xctrls.propertysheet_all.less");

@namespace url("http://www.w3.org/1999/xhtml");
@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");
@namespace pclass url("urn:tibet:pseudoclass");

/* The propertysheet */

*[data-theme="tpi"] {

    xctrls|propertysheet {

        font-size: @xctrls_propertysheet-font-size;

        /* The propertysheet is disabled */

        /* doesn't work in any browser:
        &:disabled
        */
        &[pclass|disabled] {
        }

        /* The propertysheet fieldset */

        & > fieldset {

            margin: 0;

            font-family: @xctrls_propertysheet-font-family;
            color: @xctrls_propertysheet-font-color-normal;

            background-color: @xctrls_propertysheet-background-color-normal;

            border-width: @xctrls_propertysheet-border-width;
            border-style: @xctrls_propertysheet-border-style;
            border-radius: @xctrls_propertysheet-border-radius;
            border-color: @xctrls_propertysheet-border-color-normal;

            & div {

                padding: 2px;

                & label {

                    flex: 1 0 120px;

                    max-width: 120px;
                }

                & label + *|* {

                    margin: 0;

                    flex: 1 0 auto;

                    border-width: @xctrls_propertysheet-border-width;
                    border-style: @xctrls_propertysheet-border-style;
                    border-radius: @xctrls_propertysheet-border-radius;
                    border-color: @xctrls_propertysheet-border-color-normal;
                }
            }
        }

        /* The save button */

        & > xctrls|button[class~="saveButton"] {

            position: absolute;

            margin-top: 10px;
        }

        /* The propertysheet is disabled, so is the label */

        /* doesn't work in any browser:
        &:disabled > fieldset
        */
        &[pclass|disabled] > fieldset {

            color: @xctrls_propertysheet-font-color-disabled;

            background-color: @xctrls_propertysheet-background-color-disabled;
        }
    }
}
