/*
    CSS styles for 'xctrls:combo' controls for the 'tpi' theme.
*/

@import (reference) url("TP.xctrls_variables_tpi.less");

@import url("../TP.xctrls.combo_all.less");

@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");
@namespace pclass url("urn:tibet:pseudoclass");

/* The combo */

*[data-theme~="tpi"] {

    xctrls|combo {

        border-width: @xctrls_combo-border-width;
        border-style: @xctrls_combo-border-style;
        border-radius: @xctrls_combo-border-radius;

        font-size: @xctrls_combo-font-size;

        /* Hovering over the combo */

        &:hover * {

            color: @xctrls_combo-font-color-hover;

            background-color: @xctrls_combo-background-color-hover;
        }

        /* Focusing on the combo */

        /* doesn't work in any browser:
        &:focus
        */
        &[pclass|focus] {

            color: @xctrls_combo-font-color-focus;

            background-color: @xctrls_combo-background-color-focus;
        }

        /* Clicking down on the combo */

        /* doesn't work in IE9:
        &:active
        */
        &[pclass|active] * {

            color: @xctrls_combo-font-color-active;

            background-color: @xctrls_combo-background-color-active;
        }

        /* The combo is disabled */

        /* doesn't work in any browser:
        &:disabled
        */
        &[pclass|disabled] * {

            color: @xctrls_combo-font-color-disabled;

            background-color: @xctrls_combo-background-color-disabled;
        }

        /* The combo button */

        & > xctrls|button {

            /* The combo button's label */

            & > xctrls|label {

                background-color: transparent;
            }

            /* Hovering over the combo's button, label must highlight */

            &:hover > xctrls|label {
            }

            /* Focusing on the combo's button, label must highlight */

            /* doesn't work in any browser
            &:focus > xctrls|label
            */
            &[pclass|focus] > xctrls|label {
            }

            /* Clicking down on the combo's button, label must highlight */

            /* doesn't work in IE9:
            &:active > xctrls|label
            */
            &[pclass|active] > xctrls|label {
            }

            /* The combo's button is disabled, so is the label */

            /* doesn't work in any browser:
            &:disabled > xctrls|label
            */
            &[pclass|disabled] > xctrls|label {
            }
        }

        /* The down arrow */

        & > .icon {

            border-left: @xctrls_combo-border-width @xctrls_combo-border-style @xctrls_-border-color-normal;
        }
    }
}
