/*
	CSS styles for the 'xctrls:textitem' control.
*/

@import (reference) url("TP.xctrls_variables_tpi.less");

@import url("../TP.xctrls.textitem_all.less");

@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");
@namespace tibet url("http://www.technicalpursuit.com/1999/tibet");
@namespace svg url("http://www.w3.org/2000/svg");
@namespace pclass url("urn:tibet:pseudoclass");

/* The textitem */

*[data-theme="tpi"] {

    xctrls|textitem {

        /* Hovering over the textitem */

        &:hover {
        }

        /* Focusing on the textitem */

        /* doesn't work in any browser:
        &:focus
        */
        &[pclass|focus] {
        }

        /* Clicking down on the textitem */

        /* doesn't work in IE9:
        &:active::value
        */
        &[pclass|active] {
        }

        /* The textitem is disabled */

        /* doesn't work in any browser:
        &:disabled
        */
        &[pclass|disabled] {
        }

        /* The textitem is selected */

        /* doesn't work in any browser:
        &:selected
        */
        &[pclass|selected] {

            background-color: @xctrls_textitem-background-color-selected;
        }

        /* The textitem label */

        & > xctrls|label {

            font-family: @xctrls_textitem-font-family;
            color: @xctrls_textitem-font-color-normal;

            background-color: @xctrls_textitem-background-color-normal;
        }

        /* Hovering over the textitem, label must highlight */

        &:hover > xctrls|label {

            color: @xctrls_textitem-font-color-hover;

            background-color: @xctrls_textitem-background-color-hover;
        }

        &[pclass|selected]:hover > xctrls|label {
            color: @xctrls_textitem-font-color-normal;
            background-color: @xctrls_textitem-background-color-selected;
        }

        /* Focusing on the textitem, label must highlight */

        /* doesn't work in any browser
        &:focus > xctrls|label
        */
        &[pclass|focus] {

            > xctrls|label {

                color: @xctrls_textitem-font-color-focus;

                background-color: @xctrls_textitem-background-color-focus;
            }

            &[pclass|selected] > xctrls|label {
            }
        }

        /* Clicking down on the textitem, label must highlight */

        /* doesn't work in IE9:
        &:active > xctrls|label
        */
        &[pclass|active] {

            > xctrls|label {

                color: @xctrls_textitem-font-color-active;

                background-color: @xctrls_textitem-background-color-active;
            }

            &[pclass|selected] > xctrls|label {
            }
        }

        /* The textitem is disabled, so is the label */

        /* doesn't work in any browser:
        &:disabled > xctrls|label
        */
        &[pclass|disabled] > xctrls|label {

            color: @xctrls_textitem-font-color-disabled;

            background-color: @xctrls_textitem-background-color-disabled;
        }
    }
}
