@namespace sherpa url("http://www.technicalpursuit.com/2014/sherpa");
@namespace pclass url("urn:tibet:pseudoclass");
@namespace tibet url("http://www.technicalpursuit.com/1999/tibet");

sherpa|urisToolbarContent {

    display: flex;

    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    height: 100%;
}

sherpa|urisToolbarContent > button.adduri {

    width: 24px;
    height: 24px;

    margin: 0;

    background-color: transparent;
    background-size: 24px 24px;
    background-position: -1px -1px;
    background-image: url("../media/ic_add_circle_outline_black_24px.svg");
}
