@namespace sherpa url("http://www.technicalpursuit.com/2014/sherpa");
@namespace pclass url("urn:tibet:pseudoclass");

sherpa|hud {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.drawerButton {

    position: relative;

    font-family: "Lucida Sans", "Lucida Grande", "Verdana", "Arial", sans-serif;
    font-size: 13px;
    color: white;

    cursor: default;

    left: 5px;
    width: 15px;
    height: 15px;

    background-size: 15px 15px;
}

div#fitToSelf {

    background-image: url("../media/fit_to_self.svg");
}

div.fitToScreen {

    background-image: url("../media/fit_to_screen.svg");
}

div#zoomIn {

    background-image: url("../media/zoom_in.svg");
}

div#zoomOut {

    background-image: url("../media/zoom_out.svg");
}

/* HUD edges */

.framing.north.center {

    text-align: initial;
}

.framing.v-edge.east,
.framing.v-edge.west {

    will-change: width;

    z-index: var(--tibet-HUD-V-EDGE-TIER);
}

.framing.h-edge.north,
.framing.h-edge.south {

    will-change: height;

    z-index: var(--tibet-HUD-H-EDGE-TIER);
}

/* Transition settings for when the HUD is hidden and is going through it's
   'slide in' or 'slide out' sequence */
.framing.h-edge.north:not([pclass|resizing]),
.framing.h-edge.south:not([pclass|resizing]) {

    transition: height 0.5s, max-height 0.5s;
}

.framing.v-edge.east,
.framing.v-edge.west {

    transition: width 0.5s;
}

/* Transition settings for when the HUD is already open and various drawers need
   to slide open and closed */
sherpa|hud:not([pclass|closed]) .framing.h-edge.north:not([pclass|resizing]),
sherpa|hud:not([pclass|closed]) .framing.h-edge.south:not([pclass|resizing]) {

    transition: height 0.25s, margin 0.25s;
}

sherpa|hud:not([pclass|closed]) .framing.v-edge.east,
sherpa|hud:not([pclass|closed]) .framing.v-edge.west {

    transition: width 0.25s, margin 0.25s;
}

/* When the west drawer is open */
#background.edge-west-open .framing.h-edge.north,
#background.edge-west-open .framing.h-edge.south {

    margin-left: var(--sherpa-edge-west-open-margin);
}

/* When the west drawer is closed */
#background:not(.edge-west-open) .framing.h-edge.north,
#background:not(.edge-west-open) .framing.h-edge.south {

    margin-left: 0;
}

/* When the east drawer is open */
#background.edge-east-open .framing.h-edge.north,
#background.edge-east-open .framing.h-edge.south {

    margin-right: var(--sherpa-edge-east-open-margin);
}

/* When the east drawer is closed */
#background:not(.edge-east-open) .framing.h-edge.north,
#background:not(.edge-east-open) .framing.h-edge.south {

    margin-right: 0;
}

.framing.h-edge.south {

    height: var(--sherpa-drawer-south-closed-height);
}

.framing.h-edge.south[pclass|closed] {

    max-height: calc(100% - (var(--sherpa-drawer-north-closed-height) + 5px));
}

.framing.h-edge.south[pclass|hidden] {

    height: 0;
}

#background.edge-north-open .framing.h-edge.south {

    max-height: calc(100% - (var(--sherpa-drawer-north-open-height) + 5px));
}

/* HUD corners */

.framing.corner {

    will-change: width, height;

    z-index: var(--tibet-HUD-CORNER-TIER);
}

/* Transition settings for when the HUD is hidden and is going through it's
   'slide in' or 'slide out' sequence */
.framing.north.west,
.framing.north.east,
.framing.south.west,
.framing.south.east {

    transition: width 0.5s, height 0.5s;
}

/* Transition settings for when the HUD is already open and various drawers need
   to slide open and closed */
sherpa|hud:not([pclass|closed]) .framing.north.west,
sherpa|hud:not([pclass|closed]) .framing.north.east,
sherpa|hud:not([pclass|closed]) .framing.south.west,
sherpa|hud:not([pclass|closed]) .framing.south.east {

    transition: width 0.25s, height 0.25s;
}

/* When the west drawer is open */
#background.edge-west-open .framing.north.west,
#background.edge-west-open .framing.south.west {

    width: var(--sherpa-drawer-west-open-width);
}

#background.edge-west-open .framing.north.west.corner:not([pclass|closed]),
#background.edge-west-open .framing.south.west.corner:not([pclass|closed]) {

    width: 48%;
    height: 48%;
}

/* When the east drawer is open */
#background.edge-east-open .framing.north.east,
#background.edge-east-open .framing.south.east {

    width: var(--sherpa-drawer-east-open-width);
}

#background.edge-east-open .framing.north.east.corner:not([pclass|closed]),
#background.edge-east-open .framing.south.east.corner:not([pclass|closed]) {

    width: 48%;
    height: 48%;
}

.framing.north.west {

    border: 0;
    border-right: 1px solid #666;
    border-bottom: 1px solid #666;
    border-bottom-right-radius: 5px;

    background-color: #efefef;
}

