@namespace sherpa url("http://www.technicalpursuit.com/2014/sherpa");
@namespace pclass url("urn:tibet:pseudoclass");
@namespace tibet url("http://www.technicalpursuit.com/1999/tibet");

.sherpa-hud {
    --sherpa-hud-highlight-color: rgba(254, 214, 49, 0.3);
}

/* stylelint-disable selector-type-no-unknown */
.sherpa-hud *|app {
    /* stylelint-enable selector-type-no-unknown */

    /* For highlighting below */
    margin: 1px;

    /* allow overflow so we can work with tools open around app tag */
    overflow: auto;
}

.sherpa-hud.sherpa-hud-highlighting *.sherpa-hud-highlight,
.sherpa-hud.sherpa-hud-highlighting *|*[class~="sherpa-hud-highlight"] {

    background-color: var(--sherpa-hud-highlight-color) !important;
}

.sherpa-hud.sherpa-hud-highlighting tr.sherpa-hud-highlight {

    background-color: var(--sherpa-hud-highlight-color) !important;
}
