@namespace sherpa url("http://www.technicalpursuit.com/2014/sherpa");
@namespace pclass url("urn:tibet:pseudoclass");
@namespace tibet url("http://www.technicalpursuit.com/1999/tibet");

.sherpa-hud {
}

.sherpa-hud *|app {

    /* For highlighting below */
    margin: 1px;

    /* allow overflow so we can work with tools open around app tag */
    overflow: auto;
}

.sherpa-hud .sherpa-hud-highlight:not(.sherpa-outliner-haloed),
.sherpa-hud *|*[class~="sherpa-hud-highlight"]:not([class~="sherpa-outliner-haloed"]) {

    outline: dashed 2px black !important;
}

