<?xml version="1.0"?>

<package xmlns="http://www.technicalpursuit.com/1999/tibet"
    name="{{appname}}" default="full" basedir="~app_src">

<config id="full" depends="">
  <config ref="base" />
  <config ref="auto" />
  <config ref="tool" />
</config>

<config id="base" depends="">
  <!--  statically loaded application core goes here -->
  <script src="~app_src/tags/APP.{{appname}}.app.js" />
</config>

<config id="auto" depends="">
  <!--  code you can auto-load on-demand goes here -->
</config>

<config id="tool" depends="">
  <!--  uncomment a TIBET tool to load/activate it -->
  <!--package src="~lib_cfg/tdp.xml" config="full"/-->
</config>

</package>

