/*
    CSS styles for the 'xctrls:jsonview' control.
*/

@import url("../TP.xctrls_common.css");

@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");

xctrls|jsonview {

    display: block;
}

xctrls|jsonview > div {

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

xctrls|jsonview > div .no-user-select {

    user-select: none;
}

xctrls|jsonview > div .user-select {

    user-select: text;
}

xctrls|jsonview > div .view-raw {

    font-family: Consolas, Monaco, monospace;
    font-size: 11px;

    white-space: pre-wrap;

    word-break: break-all;

    color: lightgray;
}
