/*
    CSS styles for the 'xctrls:jsonview' control.
*/

@import url("../TP.xctrls_common.css");

@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");

xctrls|jsonview {

    display: block;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

xctrls|jsonview > div {

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

xctrls|jsonview > div .no-user-select {

    user-select: none;
}

xctrls|jsonview > div .user-select {

    user-select: text;
}

xctrls|jsonview > div .view-fieldset {

    width: 400px;
    display: flex;
    margin: 8px 0;
    align-items: center;
}

xctrls|jsonview > div .view-fieldset > * + * {

    margin-left: 6px;
}

xctrls|jsonview > div .view-fieldset .view-input {

    flex: 1;
}

xctrls|jsonview > div .view-label {

    line-height: 34px;
}

xctrls|jsonview > div .view-flash-message {

    position: fixed;
    top: 20px;
    right: 20px;
}

xctrls|jsonview > div .view-raw {

    font-size: 10pt;
    white-space: pre-wrap;
    word-break: break-all;
}
