{
    "extends": "stylelint-config-standard",
    "rules": {
        "at-rule-empty-line-before": null,

        "comment-empty-line-before": null,

        "custom-property-empty-line-before": null,

        "block-no-empty": null,

        "block-opening-brace-newline-after": "always",

        "declaration-empty-line-before": null,

        "indentation": 4,

        "font-family-name-quotes": "always-unless-keyword",

        "function-url-quotes": "always",

        "no-descending-specificity": false,
        "no-duplicate-selectors": false,

        "rule-empty-line-before": ["always", { ignore: "after-comment" }],

        "selector-attribute-quotes": "always",

        "selector-type-no-unknown": [ true, {
            "ignoreNamespaces": [ "tibet", "tsh", "lama", "xctrls" ],
            "ignoreTypes": [ "/*/" ]
        }],

        "selector-type-case": null,

        "string-quotes": "double",

        "value-keyword-case": "lower"
    },
    "ignoreFiles": [
        "node_modules/**",
        "**/node_modules/**",
        "deps/**",
        "lib/src/**",
        "**/lama/cm_theme/*",
        "**/build/**",
        "**/*.__*__.*.js",
        "**/boot/styles/**"
    ]
}
