/*
    CSS styles common across 'xctrls:imageitem' controls for any theme.
*/
@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");
@namespace pclass url("urn:tibet:pseudoclass");
@namespace tibet url("http://www.technicalpursuit.com/1999/tibet");

/* All themed 'xctrls:imageitem' controls */
*[data-theme] xctrls|imageitem {

    cursor: pointer;
}

/* The imageitem label (image right aligned). The default. */
*[data-theme] xctrls|imageitem {

    /* Order: label before image */
    flex-direction: row;
}

/* The imageitem label (image left aligned) */
*[data-theme] xctrls|imageitem[alignment="left"] {

    /* Order: image before label */
    flex-direction: row-reverse;
}

/* The imageitem label (image top aligned) */
*[data-theme] xctrls|imageitem[alignment="top"] {

    /* Order: image before label */
    flex-direction: column-reverse;
}

/* The imageitem label (image bottom aligned) */
*[data-theme] xctrls|imageitem[alignment="bottom"] {

    /* Order: label before image */
    flex-direction: column;
}

*[data-theme] xctrls|imageitem > xctrls|label {

}

/* All themed 'xctrls:imageitem' controls ::value pseudo-element */
*[data-theme] xctrls|imageitem > *[tibet|pelem="value"] {

}

/* All themed, non-disabled 'xctrls:imageitem' controls */
*[data-theme] xctrls|imageitem:not([pclass|disabled]) {

}

/* All themed, non-disabled 'xctrls:imageitem' control labels */
*[data-theme] xctrls|imageitem:not([pclass|disabled]) > xctrls|label {

}
