/*
    CSS styles common across 'xctrls:toolbar' controls for any theme.
*/

@namespace url("http://www.w3.org/1999/xhtml");
@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");
@namespace pclass url("urn:tibet:pseudoclass");

/* All themed 'xctrls:toolbar' controls */
*|*[data-theme] xctrls|toolbar {

}

*|*[data-theme] xctrls|toolbar xctrls|content {

    width: 100%;
    height: 100%;
}

*|*[data-theme] xctrls|toolbar[orientation="vertical"] xctrls|content {

    flex-direction: column;
}

/* All themed, non-disabled 'xctrls:toolbar' controls */
*|*[data-theme] xctrls|toolbar:not([pclass|disabled]) {

}

/* All themed, non-disabled 'xctrls:toolbar' control labels */
*|*[data-theme] xctrls|toolbar:not([pclass|disabled]) > xctrls|label {

}
