/*
    CSS styles common across 'xctrls:pagerbar' controls for any theme.
*/

@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");
@namespace pclass url("urn:tibet:pseudoclass");

/* All themed 'xctrls:pagerbar' controls */
*[data-theme] xctrls|pagerbar {

}

*[data-theme] xctrls|pagerbar xctrls|pageritem {

    text-align: center;

    padding: 0.1em 0.1em;

    margin-left: -1px;

    z-index: 1;

    cursor: pointer;
}

*[data-theme] xctrls|pagerbar xctrls|pageritem:first-of-type {

    margin-left: 0;
}

/* All themed, non-disabled 'xctrls:pagerbar' controls */
*[data-theme] xctrls|pagerbar:not([pclass|disabled]) {

}

/* All themed, non-disabled 'xctrls:pagerbar' control labels */
*[data-theme] xctrls|pagerbar:not([pclass|disabled]) xctrls|label {

}
