/*
    CSS styles common across 'xctrls:checkitem' controls for any theme.
*/
@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");
@namespace pclass url("urn:tibet:pseudoclass");
@namespace tibet url("http://www.technicalpursuit.com/1999/tibet");

/* All themed 'xctrls:checkitem' controls */
*[data-theme] xctrls|checkitem {

    cursor: pointer;
}

/* The checkitem label (image right aligned). The default. */
*[data-theme] xctrls|checkitem > xctrls|label {

    /* Order: label before image */
    flex-direction: row;
}

/* The checkitem label (image left aligned) */
*[data-theme] xctrls|checkitem[alignment="left"] {

    /* Order: image before label */
    flex-direction: row-reverse;
}

/* The checkitem label (image top aligned) */
*[data-theme] xctrls|checkitem[alignment="top"] {

    /* Order: image before label */
    flex-direction: column-reverse;
}

/* The checkitem label (image bottom aligned) */
*[data-theme] xctrls|checkitem[alignment="bottom"] {

    /* Order: label before image */
    flex-direction: column;
}

/* All themed 'xctrls:checkitem' controls ::value pseudo-element */
*[data-theme] xctrls|checkitem > *[tibet|pelem="value"] {

}

/* All themed, non-disabled 'xctrls:checkitem' controls */
*[data-theme] xctrls|checkitem:not([pclass|disabled]) {

}

/* All themed, non-disabled 'xctrls:checkitem' control labels */
*[data-theme] xctrls|checkitem:not([pclass|disabled]) > xctrls|label {

}
