
/*
    CSS styles common across 'xctrls:combo' controls for any theme.
*/

@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");
@namespace pclass url("urn:tibet:pseudoclass");

*[data-theme] {

    /* All themed 'xctrls:combo' controls */

    xctrls|combo {

        color: inherit;

        cursor: pointer;

        min-width: 5em;

        overflow: hidden;

        /* All themed, non-disabled 'xctrls:combo' controls */

        &:not([pclass|disabled]) {

            text-decoration: none;
        }

        /* All themed, non-disabled 'xctrls:combo' control labels */

        &:not([pclass|disabled]) xctrls|label {
        }

        & > xctrls|button {

            margin: 0;
            padding: 0;

            border: none;

            box-shadow: none;

            text-overflow: ellipsis;

            flex: 1;
        }
    }
}
