
/*
    CSS styles common across 'xctrls:dialog' controls for any theme.
*/

@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");
@namespace pclass url("urn:tibet:pseudoclass");
@namespace tibet url("http://www.technicalpursuit.com/1999/tibet");

*[data-theme] {

    /* All themed 'xctrls:dialog' controls */

    xctrls|dialog {

        margin: auto;   /* rely on outer flex container */

        text-align: center;

        /* The dialog header */

        & > *[tibet|pelem="header"] {

            margin: 2px;
            border: 1px solid #666;
            left: 0;
            right: 0;
            height: 24px;
        }

        /* The dialog body */

        & > *[tibet|pelem="body"] {

            margin: 2px;
            border: 1px solid #666;
            top: 27px;
            right: 0;
            bottom: 9px;
            left: 0;
        }

        /* The dialog footer */

        & > *[tibet|pelem="footer"] {

            margin: 2px;
            border: 1px solid #666;

            right: 0;
            bottom: 0;
            left: 0;

            height: 8px;
        }

        /* All themed, non-disabled 'xctrls:dialog' controls */

        &:not([pclass|disabled]) {
        }

        /* All themed, non-disabled 'xctrls:dialog' control labels */

        &:not([pclass|disabled]) xctrls|label {
        }
    }
}

