
/*
    CSS styles common across 'xctrls:table' controls for any theme.
*/

@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");
@namespace pclass url("urn:tibet:pseudoclass");
@namespace tibet url("http://www.technicalpursuit.com/1999/tibet");

*[data-theme] {

    /* All themed 'xctrls:table' controls */

    xctrls|table {

        text-align: center;

        cursor: pointer;

        /* Here so that the control can read it in JS */
        --xctrls-item-height: 20px;

        /* The border height (top and bottom added together) */
        --xctrls-item-border-height: 2px;

        /* Minimum of 3 rows of height */
        min-height: 60px;

        *[tibet|pelem="choices"] {

            margin: 0;
            padding: 0;

            & > .row {

                right: 0;
                left: 0;

                height: var(--xctrls-item-height);

                cursor: pointer;

                & > .cell {

                    text-align: left;

                    white-space: nowrap;

                    /* Make each cell overflow with an ellipsis */
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            & > .row[spacer] * {

                cursor: default;
            }

            & > .row[grouping] * {

                cursor: default;
            }
        }

        /* All themed, non-disabled 'xctrls:table' controls */

        &:not([pclass|disabled]) {

            background: transparent;

            text-decoration: none;
        }

        /* All themed, non-disabled 'xctrls:table' control labels */

        &:not([pclass|disabled]) xctrls|label {
        }
    }
}
