/*
    CSS styles common across 'xctrls:tabbar' controls for any theme.
*/

@namespace url("http://www.w3.org/1999/xhtml");
@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");
@namespace pclass url("urn:tibet:pseudoclass");

/* All themed 'xctrls:tabbar' controls */
*|*[data-theme] xctrls|tabbar {

}

*|*[data-theme] xctrls|tabbar xctrls|content {

    width: 100%;
    height: 100%;
}

*|*[data-theme] xctrls|tabbar[orientation="vertical"] xctrls|content {

    writing-mode: vertical-rl;
    text-orientation: mixed;
}

*|*[data-theme] xctrls|tabbar xctrls|tabitem {

    display: flex;

    text-align: center;

    z-index: 1;

    cursor: pointer;
}

*|*[data-theme] xctrls|tabbar xctrls|tabitem {

    padding: 1em 0.1em;

    margin-top: -1px;
}

*|*[data-theme] xctrls|tabbar:not([orientation="vertical"]) xctrls|tabitem {

    padding: 0.1em 1em;

    margin-left: -1px;
}

*|*[data-theme] xctrls|tabbar xctrls|tabitem:first-of-type {

    margin-left: 0;
}

*|*[data-theme] xctrls|tabbar xctrls|tabitem > .close_mark {

    margin-left: 0.25em;
}

*|*[data-theme] xctrls|tabbar xctrls|tabitem > .close_mark::after {

    text-align: center;
}

/* All themed, non-disabled 'xctrls:tabbar' controls */
*|*[data-theme] xctrls|tabbar:not([pclass|disabled]) {

}

/* All themed, non-disabled 'xctrls:tabbar' control labels */
*|*[data-theme] xctrls|tabbar:not([pclass|disabled]) > xctrls|label {

}
