/*
    CSS styles common across 'xctrls:notifier' controls for any theme.
*/

@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");
@namespace pclass url("urn:tibet:pseudoclass");

/* All themed 'xctrls:notifier' controls */
*[data-theme] xctrls|notifier {

    top: 0;
    left: 0;

    min-width: 10em;
    min-height: 1.5em;

    opacity: 1;

    transition: opacity 3000ms ease 1000ms;

    text-align: center;
}

*[data-theme] xctrls|notifier[pclass|active] {

    opacity: 0;
}
