/*
    CSS styles common across 'xctrls:list' controls for any theme.
*/

@namespace url("http://www.w3.org/1999/xhtml");
@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");
@namespace pclass url("urn:tibet:pseudoclass");
@namespace tibet url("http://www.technicalpursuit.com/1999/tibet");

/* All themed 'xctrls:list' controls */
*|*[data-theme] xctrls|list {

    text-align: center;
    cursor: pointer;

    /* Here so that the control can read these in JS */

    /* The item height *with* borders */
    --xctrls-item-height: 20px;

    /* The border height (top and bottom added together) */
    --xctrls-item-border-height: 1px;

    /* The *minimum* number of rows to display */
    --xctrls-list-minimum-rows: 3;

    /* Minimum of 10 characters of width and 3 rows of height */
    min-width: 10em;
    min-height: calc(var(--xctrls-list-minimum-rows) * var(--xctrls-item-height));

    line-height: var(--xctrls-item-height);
}

*|*[data-theme] xctrls|list xctrls|content[tibet|pelem="choices"] {

    margin: 0;
    padding: 0;
}

*|*[data-theme] xctrls|list xctrls|content[tibet|pelem="choices"] > xctrls|* {

    right: 0;
    left: 0;

    height: var(--xctrls-item-height);

    border: solid 1px transparent;

    text-align: left;

    white-space: nowrap;

    /* Make each cell overflow with an ellipsis */
    overflow: hidden;
    text-overflow: ellipsis;

    cursor: pointer;
}

*|*[data-theme] xctrls|list xctrls|content[tibet|pelem="choices"] > xctrls|*[spacer] {

    cursor: default;
}

*|*[data-theme] xctrls|list xctrls|content[tibet|pelem="choices"] > xctrls|*[grouping] {

    cursor: default;
}

/* All themed, non-disabled 'xctrls:list' controls */
*|*[data-theme] xctrls|list:not([pclass|disabled]) {

    background: transparent;
    text-decoration: none;
}

/* All themed, non-disabled 'xctrls:list' control labels */
*|*[data-theme] xctrls|list:not([pclass|disabled]) > xctrls|label {

}
