
/*
    CSS styles common across 'xctrls:propertysheet' controls for any theme.
*/

@namespace url("http://www.w3.org/1999/xhtml");
@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");
@namespace pclass url("urn:tibet:pseudoclass");

*[data-theme] {

    /* All themed 'xctrls:propertysheet' controls */

    xctrls|propertysheet {

        width: 100%;
        height: 100%;

        overflow: auto;

        /* All themed, non-disabled 'xctrls:propertysheet' controls */

        &:not([pclass|disabled]) {
        }

        /* All themed, non-disabled 'xctrls:propertysheet' control labels */

        &:not([pclass|disabled]) xctrls|label {
        }

        * > fieldset {

            overflow: hidden;

            & div {

                align-items: center;

                & label {

                    order: 1;

                    white-space: nowrap;

                    user-select: none;

                    cursor: pointer;
                }

                & label + *|* {

                    order: 2;
                }
            }
        }
    }
}

