
/*
	CSS styles common across 'xctrls:button' controls for any theme.
*/

@import (reference) url('../xctrls_button/xctrls_button.less');

@namespace xctrls url(http://www.technicalpursuit.com/2005/xcontrols);
@namespace pclass url(urn:tibet:pseudoclass);

*[data-theme] {

    /* All themed 'xctrls:button' controls */

    xctrls|button {

        text-align: center;

        cursor: pointer;
    }

    /* All themed, non-disabled 'xctrls:button' controls */

    xctrls|button:not([pclass|disabled]) {

        background: transparent;

        text-decoration: none;
    }

    /* All themed, non-disabled 'xctrls:button' control labels */

    xctrls|button:not([pclass|disabled]) xctrls|label {
    }
}

