@namespace url("http://www.w3.org/1999/xhtml");
@namespace tibet url("http://www.technicalpursuit.com/1999/tibet");
@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");
@namespace lama url("http://www.technicalpursuit.com/2020/lama");

lama|bindingConnectionAssistant {

}

lama|bindingConnectionAssistant > .head {
}

lama|bindingConnectionAssistant > .body {

    display: grid;

    grid-template-rows: 6em 4em 2em 1fr;
    grid-template-columns: 7em 1fr;
    grid-template-areas:
        "service_tag_field_label service_tag_field_group"
        "binding_scope_field_label binding_scope_field_group"
        "binding_expression_control_group binding_expression_control_group"
        "binding_expression_group binding_expression_group";
    grid-row-gap: 5px;

    align-items: center;

    top: 0;
    right: 0;
    bottom: 7em;
    left: 0;

    text-align: left;
}

lama|bindingConnectionAssistant > .body label {

    font-weight: bold;
}

lama|bindingConnectionAssistant > .body ul {

    margin: 0;
}

lama|bindingConnectionAssistant > .body .serviceTagFieldGroup {

    grid-area: service_tag_field_group;

    display: flex;

    align-items: center;

    left: 5px;
    right: 5px;
}

lama|bindingConnectionAssistant > .body .serviceTagInfo {

    line-height: 1.8;
}

lama|bindingConnectionAssistant > .body .serviceTagInfo > li > span {

    font-family: "Inconsolata", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

lama|bindingConnectionAssistant > .body .serviceTagFieldLabel {

    grid-area: service_tag_field_label;

    align-self: center;
    justify-self: center;
}

lama|bindingConnectionAssistant > .body .serviceTagFieldGroup > input[type="text"] {

    width: 100%;

    margin-left: 5px;
    margin-right: 0;
}

lama|bindingConnectionAssistant > .body .bindingScopeFieldGroup {

    grid-area: binding_scope_field_group;
}

lama|bindingConnectionAssistant > .body .bindingScopeFieldLabel {

    grid-area: binding_scope_field_label;

    align-self: center;
    justify-self: center;
}

lama|bindingConnectionAssistant > .body .bindingScopeFieldGroup > div {

    display: flex;

    align-items: center;
}

lama|bindingConnectionAssistant > .body .bindingScopeFieldGroup input[type="text"] {

    width: 100%;

    margin-left: 20px;
    margin-right: 0;
}

lama|bindingConnectionAssistant > .body .bindingScopeFieldGroup span.computedScopeOutput {

    flex: 1;

    border: dotted 1px gray;

    margin-left: 5px;

    font-family: "Inconsolata", "Lucida Sans Unicode", "Lucida Grande", sans-serif;

    line-height: 1.4;
}

lama|bindingConnectionAssistant > .body .bindingExpressionControlGroup {

    grid-area: binding_expression_control_group;

    display: flex;

    align-items: center;
    justify-content: flex-end;

    right: 5px;
    left: 5px;
}

lama|bindingConnectionAssistant > .body .bindingExpressionControlGroup > .inserter {

    top: 2px;
    right: 0;

    width: 24px;
    height: 24px;

    cursor: pointer;

    background-size: 75%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-image: url("../media/ic_add_circle_outline_black_24px.svg");
}

lama|bindingConnectionAssistant > .body .bindingExpressionGroup {

    grid-area: binding_expression_group;

    top: 0;
    right: 5px;
    bottom: 5px;
    left: 5px;
}

lama|bindingConnectionAssistant > .body tibet|group#bindingConnectionAssistant_ExpressionEntries {

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    border: dotted 1px gray;

    overflow-y: auto;
}

lama|bindingConnectionAssistant > .body tibet|group#bindingConnectionAssistant_ExpressionEntries > span {

    display: flex;

    width: 100%;
}

lama|bindingConnectionAssistant > .body tibet|group#bindingConnectionAssistant_ExpressionEntries > span > *|*:not(.deleter) {

    flex: 1;
}

lama|bindingConnectionAssistant > .body tibet|group#bindingConnectionAssistant_ExpressionEntries > span input {

    width: auto;
    height: 1em;

    margin-left: 2px;
    margin-right: 2px;
    margin-top: 5px;
}

lama|bindingConnectionAssistant > .body tibet|group#bindingConnectionAssistant_ExpressionEntries .deleter {

    width: 24px;
    height: 24px;

    cursor: pointer;

    background-size: 50%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-image: url("../media/ic_close_black_24px.svg");

    margin-top: 3px;
}

lama|bindingConnectionAssistant > .foot {

}

lama|bindingConnectionAssistant > .foot #generatedAttr {

    display: block;

    height: 4em;

    max-width: 50vw;

    margin-left: 0.5em;
    margin-right: 0.5em;

    font-size: 100%;
    line-height: 1.2em;

    border: dotted 1px black;

    text-align: left;

    background-color: cornsilk;

    overflow: auto;

    word-break: break-word;

    user-select: text;
}

lama|bindingConnectionAssistant > .foot button {

    cursor: pointer;

    margin: 0.5em;
}
