@namespace sherpa url("http://www.technicalpursuit.com/2014/sherpa");
@namespace pclass url("urn:tibet:pseudoclass");
@namespace tibet url("http://www.technicalpursuit.com/1999/tibet");

sherpa|scrollbutton {

    display: none;
    position: absolute;

    width: 16px;
    height: 16px;

    margin: 0.25em auto;

    color: #aaa;
    background-color: #eee;

    border: 1px solid #aaa;
    border-radius: 9px;

    line-height: 14px !important;
    text-align: center;
    white-space: normal !important;

    overflow: hidden;

    pointer-events: none;

    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;

    /* This should match TIBET's SLIDER_TIER constant */
    z-index: 500;
}

sherpa|scrollbutton[class~="more"] {

    color: #666;
    background-color: white;

    border: 1px solid #666;

    cursor: pointer;

    pointer-events: auto;
}

sherpa|scrollbutton[class~="more"]:hover {

    background-color: cornsilk;

    border: 1px solid #666;
}

sherpa|scrollbutton > .icon {

    position: relative;

    font-size: 12px;
    display: block;
}

sherpa|scrollbutton[class~="more"] > .icon {
}

sherpa|scrollbutton[class~="more"]:hover > .icon {

    color: #333;
}

