/*
    CSS styles for the 'xctrls:textitem' control.
*/

@namespace xctrls url("http://www.technicalpursuit.com/2005/xcontrols");
@namespace tibet url("http://www.technicalpursuit.com/1999/tibet");
@namespace pclass url("urn:tibet:pseudoclass");

/* The textitem */

xctrls|textitem {

    display: inline-flex;
    justify-content: center;
    align-items: center;

    user-select: none;

    /* Hovering over the textitem */

    &:hover {
    }

    /* Focusing on the textitem */

    /* doesn't work in any browser:
    &:focus
    */
    &[pclass|focus] {
    }

    /* Clicking down on the textitem */

    /* doesn't work in IE9:
    &:active::value
    */
    &[pclass|active] {
    }

    /* The textitem is disabled */

    /* doesn't work in any browser:
    &:disabled
    */
    &[pclass|disabled] {
    }

    /* The textitem is selected */

    /* doesn't work in any browser:
    &:selected
    */
    &[pclass|selected] {
    }

    /* The textitem label */

    & > xctrls|label {

        flex: 1;
    }

    /* Clicking down on the textitem, label must highlight */

    /* doesn't work in IE9:
    &:active > xctrls|label
    */
    &[pclass|active] {

        > xctrls|label {
        }

        &[pclass|selected] > xctrls|label {
        }
    }

    /* The textitem is disabled, so is the label */

    /* doesn't work in any browser:
    &:disabled > xctrls|label
    */
    &[pclass|disabled] > xctrls|label {
    }
}
